<mat-card>
    <mat-card-header>
        <mat-card-title>
            Subscription
        </mat-card-title>
        <mat-divider></mat-divider>
    </mat-card-header>
    <div class="empty-result">
        <img src="../../../assets/images/EmptyState_No_Records.svg" />
        <p><b>You're all caught up!</b> Coming Soon! Stay tuned for our fleet management features and updates. </p>
    </div>
    <!-- <mat-divider></mat-divider>
    <mat-card-content class="mat-list">
        <div fxLayout="row wrap" fxLayoutGap="0 row">
            <div fxFlex="34" fxFlex.xs="100" fxFlex.sm="50">
                <mat-card class="mat-elevation">
                    <mat-card-content class="dashboard-card-content">
                        <div class="main_content"
                            style="min-width: 78%;display: flex;justify-content: space-between;align-items: center">
                            <div class="left_side" style="display: flex;">
                                <div class="menu"
                                    style="padding-left: 10px; padding-right: 10px; display: flex; flex-direction: column; ">
                                    <span
                                        style="width: 84px; height: 25px;display: flex;flex-direction: column;justify-content: space-around;border-radius: 200px;background: #125893;text-align: center;color: #ffff;">PRO</span>
                                    <p style="color: #7E7E7E ">Renew on 5th May 2023</p>
                                </div>
                            </div>
                            <div class="right_side">
                                <div class="role_area" style="display: flex; flex-direction: column;;">
                                    <span style="color: #125893; font-weight: 700;">DT 20.00/Monthly</span>
                                    <div
                                        style="display: flex; flex-direction: row; align-items: center;margin-left: 65px;">
                                        <span
                                            style="height: 8px;width: 8px; border-radius: 10px;background: #09a41e;"></span>
                                        <span style="font-size: 11px; color: #7e7e7e;"> Active </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <mat-divider style="margin-top: 30px;width: auto; margin-left: -17px;"></mat-divider>
                    </mat-card-content>
                    <mat-card-actions style="justify-content:center">

                        <button mat-button
                            style="background-color: #D7F1FF;color: #125893 !important;margin: 5px;">Cancel
                            Subscription</button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
        <h4 style="font-weight:700;">Details</h4>
        <section class="table-container">
            <table mat-table matSort [dataSource]="dataSource">
                <ng-container matColumnDef="name">
                    <th class="header name-column" mat-header-cell *matHeaderCellDef>
                        <span>#</span>

                    </th>
                    <td mat-cell *matCellDef="let element">{{element.name}}</td>
                </ng-container>
                <ng-container matColumnDef="stripePlanId">
                    <th class="header name-column" mat-header-cell *matHeaderCellDef>
                        <span>Transaction ID</span>
                    </th>
                    <td mat-cell *matCellDef="let element;">{{element.stripePlanId}}</td>

                </ng-container>

                <ng-container matColumnDef="amount">
                    <th class="header name-column" mat-header-cell *matHeaderCellDef>
                        <span>Amount</span>

                    </th>
                    <td mat-cell *matCellDef="let element">{{element.amount}}</td>

                </ng-container>

                <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                <tr mat-row *matRowDef="let request; columns: columnsToDisplay"></tr>
            </table>

            <mat-paginator #paginator [pageSizeOptions]="[2,10,20]"></mat-paginator>
        </section>

    </mat-card-content> -->
</mat-card>