.mat-elevation{
    border: 0.5px solid #B1B1B1;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
   } 
 .header.name-column{
    background-color: #E6F8FFC7;
    
}

.table-container{
    overflow: auto;
    box-shadow: none;
}