<mat-card>
    <mat-card-header>
        <mat-card-title>
            Vehicle Brand
        </mat-card-title>
    </mat-card-header>
    <mat-divider class="header_divider mb-20"></mat-divider>
    <mat-card-content class="mat-list">
        <form [formGroup]="addBrandForm">
            <div fxLayout="row">
                <mat-form-field class="example-full-width" floatLabel="always" appearance="outline" fxFlex="100">
                    <mat-label>Name</mat-label>
                    <input matInput placeholder="Please Enter Vehicle Brand" formControlName="name" name="name"
                        required>
                    <mat-error
                        *ngIf="addBrandForm.controls['name']?.errors?.['required']">{{'ERROR_MSG.BRAND_REQ'|translate}}</mat-error>
                </mat-form-field>
            </div>
            <div fxLayout="row">
                <mat-form-field class="example-full-width" floatLabel="always" appearance="outline" fxFlex="100"
                    required>
                    <mat-label>Category</mat-label>
                    <mat-select name="vehiclesCategoryId" (selectionChange)="onChangeCategory($event.value)"
                        formControlName="vehiclesCategoryId" placeholder="Select Category" required>
                        <mat-option *ngFor="let category of vehicleCategory" [value]="category.id">
                            {{category.name}}
                        </mat-option>
                    </mat-select>
                    <mat-error
                        *ngIf="addBrandForm.controls['vehiclesCategoryId']?.errors?.['required']">{{'ERROR_MSG.CATEGORY_REQ'|translate}}</mat-error>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="example-full-width" floatLabel="always" appearance="outline" fxFlex="100"
                    required>
                    <mat-label>Vehicles Type</mat-label>
                    <mat-select placeholder="Select Vehicle Type" formControlName="vehiclesTypeId" required>
                        <mat-option *ngFor="let type of vehicleType" [value]="type.id">
                            {{type.name}}
                        </mat-option>
                    </mat-select>
                    <mat-error
                        *ngIf="addBrandForm.controls['vehiclesTypeId']?.errors?.['required']">{{'ERROR_MSG.TYPE_REQ'|translate}}</mat-error>
                </mat-form-field>
            </div>
            <mat-checkbox formControlName="status" [checked]="">isActive</mat-checkbox>
            <div *ngIf="!viewId" class="button_field" fxLayout="row" fxLayoutGap.xs="10px">
                <button class="btn" mat-button (click)="back()">{{'SHARE.CANCEL' | translate}} </button>
                <button class="button" mat-button (click)="submit()">{{ id ? ('SHARE.UPDATE' | translate) :
                    ('SHARE.SAVE' |translate) }}</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>