<mat-toolbar> <app-header style="width:100%;"></app-header> </mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav [ngStyle]="{'min-width': sidebarState ? '280px' : ''}"  [mode]="drawerMode" [autoFocus]="sidebarState" [opened]="drawerMode == 'side' ? true : sidebarState" autosize >
        <app-nav-bar></app-nav-bar>
    </mat-sidenav>
    <mat-sidenav-content [ngClass]="{'my-class': !sidebarState}" class="matSideNavConatiner">
        <div class="router_content">
            <router-outlet></router-outlet>
        </div>
        <div class="footer_content"><app-footer></app-footer></div>
    </mat-sidenav-content>
</mat-sidenav-container>

