@media screen and (min-width: 1024px) {
  .my-class {
    margin-left: 65px !important;
    transition: 0.2s ease-in-out;
  }

  /* .animate_sidebar {transition: 0.2s ease;} */
}

mat-sidenav {
  transition: 0.2s ease-in-out;
}

mat-sidenav-content {
  background-color: #e9ecef;
}

mat-toolbar {
  background: #ffffff;
}

.matSideNavConatiner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 64px);
}