.mat-mdc-card-content:last-child {
  text-align: center;
}

h1 {
  margin: 0px 0px 24px;
  font-size: 21px;
  font-weight: 700;
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.87);
  line-height: 1.167;
}
