.resend__Link a {
    color: #125893 !important;
    font-size: 14px;
    line-height: 16px;
}

.resend__Link {
    cursor: pointer;
    margin-top: 10px;
}

.verify_email_text{
    font-weight: 400;
    font-size: 16px;
}

.form-wrapper {
    text-align: center;
}

.title {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
}

.desc {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    max-width: 75%;
    margin: 0 auto;
    margin-bottom: 15px;
}

.highlight__color {
    color: #125893;
    cursor: pointer;
    font-size: 16px;
}

.dialog_div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    margin-top: 40px;
    align-items: center;
}

.para_class {
    text-align: center;
    font-size: 18px;
    font-weight: 400;

}

.mat-mdc-dialog-surface{
    height: 200px !important;
}

.dialog_div img {
    height: 40px;
    width: 40px;
}

@media screen and (min-width: 767px) {
    .verify.form-wrapper {
        height: 90%;
    }
}