<div class="verify form-wrapper">
    <form>
        <h2 class="title">{{'VERIFY_EMAIL.MAIL'|translate}}</h2>
        <div class="mt-10 mb-10">
            <img src="../../../assets/images/mail_icon.svg" />
        </div>
        <p class="desc">{{'VERIFY_EMAIL.ENTER_CODE'|translate}} <span class="highlight__color"><b>{{email}}</b></span>
        </p>
        <div class="row_fields" fxLayout="column" fxLayoutGap="0px">
            <ng-otp-input (onInputChange)="onOtpChange($event)" [config]="{length:4}"></ng-otp-input>
        </div>
        <div class="resend__Link mb-30">
            <a style="color: black;" (click)="resendOtp()">{{'VERIFY_EMAIL.RESEND_CODE'|translate}}</a>
        </div>
        <div class="verify_email_text">
            <p>{{'VERIFY_EMAIL.NOT_RECIEVE'|translate}} <br> {{'VERIFY_EMAIL.CHECK_SPAM'|translate}}
            <a  (click)="resendOtp()" class="highlight__color"><strong>{{'VERIFY_EMAIL.HERE'|translate}}</strong></a></p>
        </div>
    </form>
</div>

<!------------------------------ Template for EMail Verify Success--------------------------------->
<div class="temp_div">
    <ng-template #dialogRef class="email_verificationTemp">
        <div class="dialog_div">
            <img src="../../../assets/images/ic_verified.png" />
            <h4 class="highlight__color">Verified!</h4>
        </div>
        <p class="para_class">{{name}}! You have successfully
            verified the account.</p>
    </ng-template>
</div>