.title {
    font-size: 25px;
    font-weight: 400;
}

.description {
    color: #7E7E7E;
}

.header_first {
    background-color: #125893;

    border-top-left-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 10px;
    justify-content: center;
    font-size: large;
    color: #fff !important;
}

.title_second {
    display: flex;
    align-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 15px;
}

.btn {
    border-radius: 8px;
    color: #FFF !important;
    background: #125893;
    width: 127px;
    border-color: transparent;
    height: 39px;
    margin-top: 10px;

}

.mat-elevation {
    transition: all .5s ease;
}

.mat-elevation:hover {
    transform: translate3D(0, -1px, 0) scale(1.15);
    transition: all .4s ease;
    cursor: pointer;
}

.form {
    flex-direction: column;
    box-sizing: border-box;
    display: flex;

}

.first_div {
    margin: 0 0 20px 20px;
}


@media screen and (max-width: 897px) {
    .first_div {
        margin: 0 0 0px 10px;
    }
}