<div class="form-wrapper">
  <div class="first_div">
    <h5 class="title">Choose your plan with us</h5>
    <p class="description">By subscribing to Fleetee Manager, you have all the day-to-day management features.</p>
  </div>
  <div fxLayout="row wrap" fxLayoutGap="0px grid">
    <div fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="50%" *ngFor="let num of [1,2,3,4,5,6,7,8,9]">
      <mat-card class="mat-elevation">
        <mat-card-header class="header_first">
          BASIC
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div class="title_second">
            <mat-title style="color: #125893 !important; font-size: 20px;font-weight:bold;">DT 15.00</mat-title>
            <p style="color: #7E7E7E; margin-left:15px">Monthly</p>
          </div>

          <div class="main_content">
            <ul>
              <li>Free service & maintenance</li>
              <li>Annual insurance included</li>
              <li>Return or extend anytime</li>
            </ul>
          </div>
          <mat-divider></mat-divider>
          <div style="text-align: center;">
            <button class="btn">Buy Now</button>
          </div>

        </mat-card-content>
      </mat-card>




    </div>
  </div>
</div>