<mat-card>
    <mat-card-header>
        <mat-card-title>
            Vehicle Type
        </mat-card-title>
    </mat-card-header>
    <mat-divider class="header_divider mb-20"></mat-divider>
    <mat-card-content class="mat-list">
        <form [formGroup]="addTypeForm">
            <div fxLayout="row">
                <mat-form-field class="example-full-width" floatLabel="always" appearance="outline"  fxFlex="100" required>
                    <mat-label>Name</mat-label>
                    <input matInput name="name" formControlName="name" placeholder="Please Enter Vehicle Type"
                        required />
                    <mat-error
                        *ngIf="addTypeForm.controls['name']?.errors?.['required']">{{'ERROR_MSG.TYPE_REQ'|translate}}</mat-error>
                </mat-form-field>
            </div>
            <div fxLayout="row">
                <mat-form-field class="example-full-width" floatLabel="always" appearance="outline" fxFlex="100" required>
                    <mat-label>Category</mat-label>
                    <mat-select name="vehiclesCategoryId" formControlName="vehiclesCategoryId"
                        placeholder="Select Category" required>
                        <mat-option *ngFor="let category of vehicleCategory" [value]="category.id">
                            {{category.name}}
                        </mat-option>
                        <mat-option *ngIf="vehicleCategory === undefined || vehicleCategory.length === 0" [value]="">
                            No Category Available
                        </mat-option>
                    </mat-select>
                    <mat-error
                        *ngIf="addTypeForm.controls['vehiclesCategoryId']?.errors?.['required']">{{'ERROR_MSG.CATEGORY_REQ'|translate}}</mat-error>
                </mat-form-field>
            </div>
            <mat-checkbox formControlName="status">isActive</mat-checkbox>
            <div *ngIf="!viewId" class="button_field" fxLayout="row" fxLayoutGap.xs="10px">
                <button class="btn" mat-button (click)="back()">{{'SHARE.CANCEL' | translate}} </button>
                <button class="button" mat-button (click)="submit()" >{{ id ? ('SHARE.UPDATE' | translate) :
                    ('SHARE.SAVE' |
                    translate) }}</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>