<div class="form-wrapper">
  <form [formGroup]="loginForm" (ngSubmit)="logIn()" class="loginCreateForm">
    <h2><strong>{{'LOGIN.WELCOME'| translate}} </strong></h2>
    <div class="row_fields" fxLayout="column" fxLayoutGap="0px">
      <mat-form-field floatLabel="always" class="example-full-width" appearance="outline" fxFlex="50">
        <mat-label>{{'LOGIN.EMAIL' | translate}}</mat-label>
        <input matInput placeholder="{{'LOGIN.EMAIL' | translate}}" formControlName="email" name="email" required>
        <mat-error *ngIf="loginForm.controls['email'].hasError('required')">{{'ERROR_MSG.EMAIL_REQ' |
          translate}}</mat-error>
        <mat-error *ngIf="loginForm.controls['email']?.errors?.['pattern']">{{'ERROR_MSG.INVALID_EMAIL_FORMAT' |
          translate}}</mat-error>
      </mat-form-field>

      <mat-form-field floatLabel="always" class="example-full-width forgot-password" appearance="outline" fxFlex="50">
        <mat-label>{{'LOGIN.PASSWORD' | translate}}</mat-label>
        <input matInput placeholder="{{'LOGIN.PASSWORD' | translate}}" name="password"
          [type]="showPassword ? 'text' : 'password'" autocomplete="new-password" formControlName="password" required>
        <mat-icon matSuffix (click)="toggleVisibility()">{{showPassword ? 'visibility':'visibility_off'}}</mat-icon>
        <mat-error *ngIf="loginForm.controls['password']?.errors?.['required']">{{'ERROR_MSG.PASS_REQ'
          | translate}}</mat-error>
      </mat-form-field>
    </div>
    <div class="link">
      <a routerLink="/auth/forgot-password">{{'LOGIN.FYP' | translate}}</a>
    </div>
    <div class="btn_div">
      <button type="submit" class="btn-block" mat-raised-button>{{'LOGIN.SIGNIN' | translate}}</button>
    </div>
    <div class="register">
      <p>{{'LOGIN.DHAA' | translate}}</p>
      <a routerLink="/auth/signup">{{'LOGIN.SIGNUP'| translate}}</a>
    </div>
  </form>
</div>