.loginCreateForm {
    width: 80%;
    margin: 0 auto;
}

.row_fields {
    margin-top: 35px;
}

.error_input_box{
    border-color: red !important;
}

.btn-block {
    width: 33%;
    height: 45px;
    color: white !important;
    background: #125893 !important;
    text-align: center;
    border-radius: 8px;
    border-color: transparent;
    cursor: pointer;
}

.link a {
    color: #125893 !important;
    font-size: 13px;
    line-height: 30px;
    font-weight: 400;
}

.register {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-top: 25px;
    color: #7E7E7E !important;
}

.link {
    text-align: right;
    margin-bottom: 20px;
}

@media screen and (min-width: 767px) {
    .form-wrapper {
        height: 90%;
    }
}

h2 {
    margin: 0px 0px 24px;
    font-size: 21px;
    font-weight: 700;
    text-transform: capitalize;
    color: rgba(0, 0, 0, 0.87);
    font-family: var(--font-family);
    line-height: 1.167;
    display: block;
}

mat-icon {
    color: #7E7E7E;

}

.register a {
    color: #125893;
    font-weight: 600;
}

.register p {
    color: #7E7E7E !important;
    display: inline-block;
    margin-right: 5px;
}

.btn_div {
    text-align: center;
}