.spinner-img {
  position: absolute;
  top: 35%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 99;
}

.select_menu {
  width: 54px;
  height: 30px;
  border: 1.5px solid #125893;
  border-radius: 8px;
  text-align: center;
  width: 54px;
  color: #125893;
  background: transparent;
}

.lang-title {
  line-height: 24px;
  color: #125893;
}

.lang_div {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
}

.lang_div label {
  border: 1px solid #125893;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 28px;
}

.lang_div button {
  height: 28px !important;
  min-width: auto !important;
}


.lang_div button::after {
  content: "⌵";
  margin-left: 5px;
  color: #125893;
  font-size: 18px;
  margin-top: -4px;
}

.site_description {
  margin: 12px 0 12px !important;
}