<div *ngIf="loader" class="loader">
  <mat-spinner></mat-spinner>
  <img class="spinner-img" src="../../../../assets/images/homelogo.png">
</div>

<div fxLayout="row" fxLayout.md="column" fxLayout.xs="column" class="column" *ngIf="!loader">
  <div fxFlex="30" fxFlex.xs="100">
    <div class="overlayContent">
      <div class="contentBox">
        <img src="../../../assets/images/logowhite.svg" />
        <p class="site_description">{{'HOME.DESCRIPTION_FIRST' | translate}} <b>{{'HOME.FLEET_MANAGMENT' |
            translate}}</b> {{'HOME.DESCRIPTION_SECOND' | translate}}</p>
      </div>
    </div>
  </div>

  <div fxFlex="70" fxFlex.xs="100" class="routerauth">
    <div class="lang_div">
      <label>
        <button mat-button [matMenuTriggerFor]="languageMenu" class="language-button">
          <div class="flag-container">
            <span class="lang-title">{{ selectedLanguage.id | titlecase}}</span>
          </div>
        </button>
        <mat-menu #languageMenu="matMenu">
          <ng-container *ngFor="let lang of languages">
            <button mat-menu-item [value]="lang" (click)="switchLanguage(lang)">
              <div class="flag-container">
                <span class="country-flag fi fi-{{ lang.sortname | lowercase }}"></span>
                <span class="dropDown_title lang-title">{{ lang.title }}</span>
              </div>
            </button>
          </ng-container>
        </mat-menu>
      </label>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>