

<div style="display: flex;justify-content: space-between;margin-bottom: 10px;">
    <h4><b>Create New Company</b></h4>
    <button class="button_create" mat-raised-button>Find Company</button>
</div>

<form [formGroup]="createCompanyForm" class="mat-list">
    <div class="row_fields" fxLayout="row" fxLayoutGap="30px" fxLayout.xs="column" fxLayoutGap.xs="0px">
        <mat-form-field class="example-full-width" appearance="outline" fxFlex="50">
            <mat-label>Company Name</mat-label>
            <input matInput placeholder="company name" formControlName="company_name" name="company_name" required>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="outline" fxFlex="50">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" name="email" formControlName="email" required>

        </mat-form-field>
    </div>
    <div class="row_fields" fxLayout="row" fxLayoutGap="30px" fxLayout.xs="column" fxLayoutGap.xs="0px">
        <mat-form-field class="example-full-width" appearance="outline" fxFlex="50">
            <mat-label>SIREN Number</mat-label>
            <input matInput placeholder="SIREN Number" formControlName="SIREN_number" name="SIREN_number" required>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline" fxFlex="50">
            <mat-label>Phone Number</mat-label>
            <input matInput placeholder="Enter Phone" formControlName="phone_number" name="PhoneNumber" required>
        </mat-form-field>
    </div>
    <h4><b>Add Address</b></h4>
    <div class="row_fields" fxLayout="row" fxLayoutGap="30px" fxLayout.xs="column" fxLayoutGap.xs="0px">
        <mat-form-field class="example-full-width" appearance="outline" fxFlex="50">
            <mat-label>Adddress</mat-label>
            <input matInput placeholder="Address" name="Address" formControlName="address" required>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline" fxFlex="50">
            <mat-label>Country</mat-label>
            <input matInput placeholder="All" formControlName="country" name="Country" required>
        </mat-form-field>
    </div>

    <div class="row_fields" fxLayout="row" fxLayoutGap="30px"  fxLayout.xs="column" fxLayoutGap.xs="0px">
        <mat-form-field class="example-full-width" appearance="outline" fxFlex="50">
            <mat-label>State</mat-label>
            <input matInput placeholder="State" name="State" formControlName="state" required>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="outline" fxFlex="50">
            <mat-label>City</mat-label>
            <input matInput placeholder="City" name="City" formControlName="city" required>
        </mat-form-field>
    </div>
    <div class="row_fields" fxLayout="row" fxLayoutGap="30px"  fxLayout.xs="column" fxLayoutGap.xs="0px">
        <mat-form-field class="example-full-width" appearance="outline" fxFlex="50">
            <mat-label> Zip Code</mat-label>
            <input matInput placeholder="1222" formControlName="zip_code" name="ZipCode" required>
        </mat-form-field>
    </div>
    <mat-divider></mat-divider>
    <div style="display:flex;justify-content: space-between; margin-top: 20px;">
        <button style="color: #125893;background: #D7F1FF;" mat-button matStepperPrevious>
           < Previous</button>
        <button class="btn-next" mat-button matStepperNext>Next ></button>
    </div>
</form>