.btn-block {
    min-width: 160px;
    height: 45px;
    color: white !important;
    background: #125893 !important;
    border-radius: 8px;
}

.back-arrow{
    display: inline-flex;
    border-radius: 8px;
    min-width: 75px;
    height: 30px !important;
    position: absolute;
    top:20px;
    color: #125893 !important;
    margin-left: 20px;
    border: 1px solid #125893;
    box-shadow: none;
}

.desc {
    font-family: var(--font-family);
    font-size: 1rem;
    line-height: 1.75;
    color: rgb(126, 126, 126);
    font-weight: 500;
}


h1 {
    margin: 0px 0px 16px;
    font-size: 21px;
    font-weight: 700;
    text-transform: capitalize;
    color: #125893;
    line-height: 1.167;
}

.form-wrapper {
    text-align: center;
    padding: 80px;
    max-width: 40% !important;
}

@media (max-width: 667px) {
    .form-wrapper {
        text-align: center;
        padding: 40px;
    }

    .desc {
        font-size: small;
    }

    .btn-block {
        width: 120px;
    }
}