<button type="submit" class="back-arrow" mat-raised-button (click)="goBack()">
    Back
</button>
<div class="form-wrapper">
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="forgot()">
        <h1>{{'FORGOT_PASSWORD.ENTER_EMAIL_ADDRESS' | translate}}</h1>
        <h6 class="desc">{{'FORGOT_PASSWORD.RESET_PASSWORD_MSG' | translate}}</h6>
        <div class="row_fields" fxLayout="column" fxLayoutGap="0px">
            <mat-form-field class="example-full-width" floatLabel="always" appearance="outline" fxFlex="100">
                <mat-label>{{'SHARE.EMAIL' | translate}}</mat-label>
                <input matInput placeholder="{{'SHARE.ENTER_EMAIL' | translate}}" formControlName="email" name="email"
                    required>
                <mat-error *ngIf="forgotPasswordForm.controls['email'].hasError('required')">{{'ERROR_MSG.EMAIL_REQ' |
                    translate}}</mat-error>
                <mat-error *ngIf="forgotPasswordForm.controls['email']?.errors?.['pattern']">{{'ERROR_MSG.INVALID_EMAIL_FORMAT' |
                    translate}}</mat-error>
            </mat-form-field>
        </div>
        <div class="btn_div">
            <button type="submit" class="btn-block" mat-raised-button>{{'SHARE.SUBMIT' | translate}}</button>
        </div>
    </form>
</div>
