<mat-card class="example-card">
  <div class="form_updated_profile">
    <mat-card-header class="">
      <mat-card-title>
        <span>Updated Profile</span>
      </mat-card-title>
    </mat-card-header>
    <mat-divider class="pb-30 mt-10"></mat-divider>
    <mat-card-content class="p-0">
      <form [formGroup]="registerForm" class="formRegister mat-list p-0">
        <div class="row_fields" fxLayout="row" fxLayout.xs="column" fxLayoutGap="30px" fxLayoutGap.xs="0px">
          <mat-form-field floatLabel="always" class="example-full-width" appearance="outline" fxFlex="50">
            <mat-label>{{ 'REGISTER.FNAME' | translate }}</mat-label>
            <input matInput placeholder="{{ 'REGISTER.FNAME' | translate }}" formControlName="first_name">
            <mat-error *ngIf="registerForm.get('first_name').hasError('required')">
              {{ 'ERROR_MSG.FIRST_NAME_REQ' | translate }}
            </mat-error>
          </mat-form-field>
          <mat-form-field floatLabel="always" class="example-full-width" appearance="outline" fxFlex="50">
            <mat-label>{{ 'REGISTER.LNAME' | translate }}</mat-label>
            <input matInput placeholder="{{ 'REGISTER.LNAME' | translate }}" formControlName="last_name">
            <mat-error *ngIf="registerForm.get('last_name').hasError('required')">
              {{ 'ERROR_MSG.LAST_NAME_REQ' | translate }}
            </mat-error>
          </mat-form-field>
        </div>

        <div class="row_fields" fxLayout="row" fxLayout.xs="column" fxLayoutGap="30px" fxLayoutGap.xs="0px">
          <mat-form-field floatLabel="always" class="example-full-width" appearance="outline" fxFlex="50">
            <mat-label>{{ 'REGISTER.EMAIL' | translate }}</mat-label>
            <input matInput placeholder="{{ 'REGISTER.EMAIL' | translate }}" formControlName="email" required>
            <mat-error *ngIf="registerForm.get('email').hasError('required')">
              {{ 'ERROR_MSG.EMAIL_REQ' | translate }}
            </mat-error>
          </mat-form-field>
          <mat-form-field floatLabel="always" class="example-full-width" appearance="outline" fxFlex="50">
            <mat-label class="phone_lable">{{'REGISTER.PHNO'|translate}}</mat-label>
            <ngx-mat-intl-tel-input [preferredCountries]="['in']" [enableSearch]="true" name="phone"
              formControlName="phone" #phone>
            </ngx-mat-intl-tel-input>
            <mat-error
              *ngIf="registerForm.controls['phone']?.errors?.['required']">{{'ERROR_MSG.PHONE_NUMBER_REQ'|translate}}</mat-error>
            <mat-error
              *ngIf="registerForm.controls['phone']?.errors?.['validatePhoneNumber']">{{'ERROR_MSG.INVALID_PHONE_FORMAT'|translate}}</mat-error>
          </mat-form-field>
        </div>

        <mat-divider></mat-divider>
        <h2 class="company_text">Company Details</h2>
        <div class="row_fields" fxLayout="row" fxLayout.xs="column" fxLayoutGap="30px" fxLayoutGap.xs="0px">
          <mat-form-field floatLabel="always" class="example-full-width" appearance="outline" fxFlex="50">
            <mat-label>{{'ORGANIZATION.COM_NAME'|translate}}</mat-label>
            <input matInput name="name" formControlName="name" placeholder="{{'ORGANIZATION.COM_NAME'|translate}}"
              required>
            <mat-error *ngIf="registerForm.controls['name']?.errors?.['required']">{{'ERROR_MSG.ORGANIZATION_NAME_REQ' |
              translate}}</mat-error>
          </mat-form-field>
          <mat-form-field floatLabel="always" class="example-full-width" appearance="outline" fxFlex="50">
            <mat-label>{{'ORGANIZATION.COM_ADD'|translate}}</mat-label>
            <input matInput placeholder="{{'ORGANIZATION.COM_ADD'|translate}}" formControlName="address" name="Address"
              required>
            <mat-error *ngIf="registerForm.controls['address']?.errors?.['required']">{{'ERROR_MSG.COMPANY_ADDRESS_REQ'
              |
              translate}}</mat-error>
          </mat-form-field>
        </div>

        <div class="row_fields" fxLayout="row" fxLayout.xs="column" fxLayoutGap="30px" fxLayoutGap.xs="0px">
          <mat-form-field floatLabel="always" class="example-full-width" appearance="outline" fxFlex="50">
            <mat-label>{{'REGISTER.COUNTRY'|translate}}</mat-label>
            <mat-select placeholder="{{'REGISTER.COUNTRY'|translate}}" formControlName="countryId" name="Country"
              (selectionChange)="onChangeState($event.value)" required>
              <mat-option *ngFor="let con of countries" [value]="con.id">
                <span class="fi fi-{{con.sortname | lowercase}}"></span>
                {{con.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="registerForm.controls['countryId']?.errors?.['required']">{{'ERROR_MSG.COUNTRY_REQ' |
              translate}}</mat-error>
          </mat-form-field>
          <mat-form-field floatLabel="always" class="example-full-width" appearance="outline" fxFlex="50">
            <mat-label>{{'REGISTER.STATE'|translate}}</mat-label>
            <mat-select placeholder="{{'REGISTER.STATE'|translate}}" (selectionChange)="onChangeCity($event.value)"
              formControlName="stateId" name="state" required>
              <mat-option *ngFor="let state of state" [value]="state.id">
                {{state.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="registerForm.controls['stateId']?.errors?.['required']">{{'ERROR_MSG.STATE_REQ' |
              translate}}</mat-error>
          </mat-form-field>
        </div>

        <div class="row_fields" fxLayout="row" fxLayout.xs="column" fxLayoutGap="30px" fxLayoutGap.xs="0px">
          <mat-form-field class="example-full-width" floatLabel="always" appearance="outline" fxFlex="50">
            <mat-label>{{'ORGANIZATION.CITY' |translate}}</mat-label>
            <mat-select placeholder="{{'ORGANIZATION.CITY' |translate}}" formControlName="city" name="city" required>
              <mat-option *ngFor="let cityData of city" [value]="cityData.name">
                {{cityData.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="registerForm.controls['city']?.errors?.['required']">{{'ERROR_MSG.CITY_REQ' |
              translate}}</mat-error>
          </mat-form-field>
          <mat-form-field floatLabel="always" class="example-full-width" appearance="outline" fxFlex="50">
            <mat-label>{{'REGISTER.ZIPCODE'|translate}}</mat-label>
            <input matInput placeholder="{{'REGISTER.ZIPCODE'|translate}}" formControlName="postalCode"
              name="postalCode" required>
            <mat-error *ngIf="registerForm.controls['postalCode']?.errors?.['required']">{{'ERROR_MSG.ZIP_CODE_REQ' |
              translate}}</mat-error>
          </mat-form-field>
        </div>

        <div class="row_fields" fxLayout="row" fxLayout.xs="column" fxLayoutGap="30px" fxLayoutGap.xs="0px">
          <mat-form-field floatLabel="always" class="example-full-width" appearance="outline" fxFlex="50">
            <mat-label>{{ 'REGISTER.CURRENCY' | translate }}</mat-label>
            <mat-select placeholder="{{ 'REGISTER.CURRENCY' | translate }}" formControlName="prefferedCurrencies"
              name="prefferedCurrencies" required>
              <mat-option *ngFor="let cur of currency" [value]="cur.id">
                {{ cur.symbol }} {{ cur.currency }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="registerForm.controls['prefferedCurrencies']?.errors?.['required']">
              {{ 'ERROR_MSG.CURRENCY_REQ' | translate }}
            </mat-error>
          </mat-form-field>
        </div>
        <mat-divider class="divider mb-20"></mat-divider>
        <div class="button_field" fxLayout="row" fxLayoutGap.xs="10px">
          <button class="btn" mat-button (click)="back()">{{'SHARE.CANCEL' | translate}} </button>
          <button class="button" mat-button (click)="updateOrganization()">{{'SHARE.UPDATE' | translate}}</button>
        </div>
      </form>
    </mat-card-content>
  </div>
</mat-card>