<mat-card>
  <mat-card-header>
    <mat-card-title>
      {{ id ? ('ORGANIZATION.EDIT' | translate) : viewId ? ('ORGANIZATION.VIEW' | translate) : ('ORGANIZATION.CREATE' |
      translate) }}
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="mat-list">
    <mat-divider class="header_divider1 mb-40"></mat-divider>
    <form [formGroup]="createOrgForm" class="form">
      <div class="row_fields" fxLayout="row" fxLayout.xs="column" fxLayoutGap="30px" fxLayoutGap.xs="0px">
        <mat-form-field class="example-full-width" floatLabel="always" appearance="outline" fxFlex="50">
          <mat-label>{{'ORGANIZATION.COM_NAME' |translate}}</mat-label>
          <input matInput placeholder="{{'ORGANIZATION.COM_NAME' |translate}}" formControlName="name" name="name"
            required>
          <mat-error *ngIf="createOrgForm.controls['name']?.errors?.['required']">{{'ERROR_MSG.ORGANIZATION_NAME_REQ' |
            translate}}</mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width" floatLabel="always" appearance="outline" fxFlex="50">
          <mat-label>{{'ORGANIZATION.COM_ADD' |translate}}</mat-label>
          <input matInput placeholder="{{'ORGANIZATION.COM_ADD' |translate}}" name="address" formControlName="address"
            required>
          <mat-error *ngIf="createOrgForm.controls['address']?.errors?.['required']">{{'ERROR_MSG.COMPANY_ADDRESS_REQ' |
            translate}}</mat-error>
        </mat-form-field>
      </div>

      <div class="row_fields" fxLayout="row" fxLayout.xs="column" fxLayoutGap="30px" fxLayoutGap.xs="0px">
        <mat-form-field class="example-full-width" floatLabel="always" appearance="outline" fxFlex="50">
          <mat-label>{{'ORGANIZATION.COUNTRY' |translate}}</mat-label>
          <mat-select placeholder="{{'ORGANIZATION.COUNTRY' |translate}}" formControlName="countryId" name="countryId"
            (selectionChange)="onchange($event.value)" required>
            <mat-option *ngFor="let con of Countries" [value]="con.id">
              <span class="fi fi-{{con.sortname | lowercase}}"></span>
              {{con.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="createOrgForm.controls['countryId']?.errors?.['required']">{{'ERROR_MSG.COUNTRY_REQ' |
            translate}}</mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width" floatLabel="always" appearance="outline" fxFlex="50">
          <mat-label>{{'ORGANIZATION.STATE' |translate}}</mat-label>
          <mat-select placeholder="{{'ORGANIZATION.STATE' |translate}}" (selectionChange)="onChangeCity($event.value)"
            formControlName="stateId" name="stateId" required>
            <mat-option *ngFor="let state of State" [value]="state.id">
              {{state.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="createOrgForm.controls['stateId']?.errors?.['required']">{{'ERROR_MSG.STATE_REQ' |
            translate}}</mat-error>
        </mat-form-field>
      </div>

      <div class="row_fields" fxLayout="row" fxLayout.xs="column" fxLayoutGap="30px" fxLayoutGap.xs="0px">
        <!-- <mat-form-field class="example-full-width" floatLabel="always" appearance="outline" fxFlex="50">
          <mat-label>{{'ORGANIZATION.CITY' |translate}}</mat-label>
          <input matInput placeholder="{{'ORGANIZATION.CITY' |translate}}" name="city" formControlName="city" required>
          <mat-error *ngIf="createOrgForm.controls['city']?.errors?.['required']">{{'ERROR_MSG.CITY_REQ' |
            translate}}</mat-error>
        </mat-form-field> -->
        <mat-form-field class="example-full-width" floatLabel="always" appearance="outline" fxFlex="50">
          <mat-label>{{'ORGANIZATION.CITY' |translate}}</mat-label>
          <mat-select placeholder="{{'ORGANIZATION.CITY' |translate}}" formControlName="city" name="city" required>
            <mat-option *ngFor="let cityData of city" [value]="cityData.name">
              {{cityData.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="createOrgForm.controls['city']?.errors?.['required']">{{'ERROR_MSG.CITY_REQ' |
            translate}}</mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width" floatLabel="always" appearance="outline" fxFlex="50">
          <mat-label> {{'ORGANIZATION.ZIPCODE' |translate}}</mat-label>
          <input matInput placeholder="{{'ORGANIZATION.ZIPCODE' |translate}}" formControlName="postalCode"
            name="postalCode" required>
          <mat-error *ngIf="createOrgForm.controls['postalCode']?.errors?.['required']">{{'ERROR_MSG.ZIP_CODE_REQ' |
            translate}}</mat-error>
        </mat-form-field>
      </div>

      <div class="row_fields" fxLayout="row" fxLayout.xs="column" fxLayoutGap="28px" fxLayoutGap.xs="0px">
        <mat-form-field class="example-full-width currency_field" floatLabel="always" appearance="outline" fxFlex="49">
          <mat-label>{{'ORGANIZATION.CURRENCY' |translate}}</mat-label>
          <mat-select placeholder="{{'ORGANIZATION.CURRENCY' |translate}}" formControlName="prefferedCurrencies"
            name="prefferedCurrencies" (selectionChange)="onChange($event.value)" required>
            <mat-option *ngFor="let cur of Currency" [value]="cur.id">
              {{cur.symbol}} {{cur.currency}}
            </mat-option>
          </mat-select>
          <mat-error
            *ngIf="createOrgForm.controls['prefferedCurrencies']?.errors?.['required']">{{'ERROR_MSG.DEFAULT_CUR_REQ' |
            translate}}</mat-error>
        </mat-form-field>
        <!-- <mat-form-field class="example-full-width" floatLabel="always" appearance="outline" fxFlex="50">
          <mat-label> {{'Domain' |translate}}</mat-label>
          <input matInput placeholder="{{'Domain' |translate}}" formControlName="domain" name="domain" required>
          <mat-error *ngIf="createOrgForm.controls['domain']?.errors?.['required']">{{'ERROR_MSG.DOMAIN' |
            translate}}</mat-error>
        </mat-form-field> -->
      </div>
      <mat-checkbox formControlName="status">{{'ORGANIZATION.ACTIVE' |translate}}</mat-checkbox>
      <mat-divider class="header_divider"></mat-divider>
      <div class="row_fields" fxLayout="row" fxLayout.xs="column" fxLayoutGap="30px" fxLayoutGap.xs="0px">
        <mat-form-field class="example-full-width" floatLabel="always" appearance="outline" fxFlex="50">
          <mat-label>{{'ORGANIZATION.FNAME' |translate}}</mat-label>
          <input matInput placeholder="{{'ORGANIZATION.FNAME' |translate}}" formControlName="first_name"
            name="first_name" required>
          <mat-error
            *ngIf="createOrgForm.controls['first_name']?.errors?.['required']">{{'ERROR_MSG.FIRST_NAME_REQ'|translate}}</mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width" floatLabel="always" appearance="outline" fxFlex="50">
          <mat-label>{{'ORGANIZATION.LNAME' |translate}}</mat-label>
          <input matInput placeholder="{{'ORGANIZATION.LNAME' |translate}}" formControlName="last_name" name="last_name"
            required>
          <mat-error
            *ngIf="createOrgForm.controls['last_name']?.errors?.['required']">{{'ERROR_MSG.LAST_NAME_REQ'|translate}}</mat-error>
        </mat-form-field>
      </div>
      <div class="row_fields" fxLayout="row" fxLayout.xs="column" fxLayoutGap="30px" fxLayoutGap.xs="0px">
        <mat-form-field class="example-full-width" floatLabel="always" appearance="outline" fxFlex="50">
          <mat-label>{{'ORGANIZATION.EMAIL' |translate}}</mat-label>
          <input matInput placeholder="{{'ORGANIZATION.EMAIL' |translate}}" formControlName="email" name="email"
            required>
          <mat-error
            *ngIf="createOrgForm.controls['email'].hasError('required')">{{'ERROR_MSG.EMAIL_REQ'|translate}}</mat-error>
          <mat-error
            *ngIf="createOrgForm.controls['email']?.errors?.['pattern']">{{'ERROR_MSG.INVALID_EMAIL_FORMAT'|translate}}</mat-error>
        </mat-form-field>
        <mat-form-field floatLabel="always" class="example-full-width" appearance="outline" fxFlex="50">
          <mat-label class="phone_lable">{{'REGISTER.PHNO'|translate}}</mat-label>
          <ngx-mat-intl-tel-input placeholder="Please Enter Number" [preferredCountries]="['in']" [enableSearch]="true"
            name="phone" formControlName="phone" #phone>
          </ngx-mat-intl-tel-input>
          <mat-error
            *ngIf="createOrgForm.controls['phone']?.errors?.['required'] || createOrgForm.controls['phone']?.errors?.['validatePhoneNumber']">{{'ERROR_MSG.PHONE_NUMBER_REQ'|translate}}</mat-error>
          <!-- <mat-error
            *ngIf="createOrgForm.controls['phone']?.errors?.['validatePhoneNumber']">{{'ERROR_MSG.INVALID_PHONE_FORMAT'|translate}}</mat-error> -->
        </mat-form-field>
      </div>

      <div *ngIf="!this.id && !this.viewId" class="row_fields" fxLayout="row" fxLayout.xs="column" fxLayoutGap="30px"
        fxLayoutGap.xs="0px">
        <mat-form-field class="example-full-width" floatLabel="always" appearance="outline" fxFlex="50">
          <mat-label>{{'ORGANIZATION.PW' |translate}}</mat-label>
          <input matInput formControlName="password" name="password" required
            placeholder="{{'ORGANIZATION.PW' |translate}}" [type]="showPassword ? 'text' : 'password'">
          <mat-icon matSuffix (click)="showVisibility()">{{showPassword? 'visibility':'visibility_off'}}</mat-icon>
          <mat-error *ngIf="createOrgForm.controls['password']?.errors?.['required']">{{'ERROR_MSG.PASS_REQ' |
            translate}}</mat-error>
          <mat-error *ngIf="createOrgForm.controls['password']?.errors?.['pattern']">{{'ERROR_MSG.INVALID_PASSWORD' |
            translate}}</mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width" floatLabel="always" appearance="outline" fxFlex="50">
          <mat-label> {{'ORGANIZATION.CONFPW' |translate}}</mat-label>
          <input matInput placeholder=" {{'ORGANIZATION.CONFPW' |translate}}" [type]="password ? 'text' : 'password'"
            name="confirmPassword" formControlName="confirmPassword" required>
          <mat-icon matSuffix (click)="showpassword()">{{password?'visibility':'visibility_off'}}</mat-icon>
          <mat-error
            *ngIf="createOrgForm.controls['confirmPassword']?.errors?.['required']">{{'ERROR_MSG.CONFIRM_PASS_REQ' |
            translate}}</mat-error>
          <mat-error
            *ngIf="createOrgForm.controls['confirmPassword']?.errors?.['confirmPasswordValidator']">{{'ERROR_MSG.PASSWORD_MISMATCH'
            | translate}}</mat-error>
        </mat-form-field>
      </div>

      <mat-divider class="mb-20"></mat-divider>

      <div class="button_field" fxLayout="row" fxLayoutGap.xs="10px" *ngIf="!viewId">
        <button class="btn" mat-button (click)="back()">{{'SHARE.CANCEL' | translate}} </button>
        <button class="button" mat-button (click)="submit()">{{ id ? ('SHARE.UPDATE' | translate) : ('SHARE.SAVE' |
          translate) }}</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>