.row_fields {
    margin-top: 10px;
}

h2 {
    margin: 16px 0px 0px;
    font-size: 16px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.87);
    text-transform: capitalize;
    font-family: var(--font-family);
    line-height: 1.2;
}

.first h2 {

    margin-top: 20px;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.87);
    letter-spacing: 0em;
    text-align: left;

}

.first p {
    margin: 0px;
    font-size: 14px;
    color: rgb(126, 126, 126);
    font-family: Plus Jakarta Sans;
    font-weight: 400;
    line-height: 1.43;
}

h4 {
    margin-top: 15px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;

}

.radio {
    margin-top: 10px;
}

/* .btn {
    width: 15%;
    height: 45px;
    color: #125893 !important;
    background-color: #FFFFFF;
    border-radius: 8px;

}

.button {
    width: 15%;
    height: 45px;
    color: white !important;
    background: #125893;
    border-radius: 8px;
    border-color: transparent;
}

.button_field {
    justify-content: right;
    margin-top: 10px
} */


p{
    color: #7E7E7E;
}