<mat-card class="content">
  <div class="container">
    <mat-card-header>
      <mat-card-title>
        {{'RESERVE_SETTINGS.SETTINGS'|translate}}
      </mat-card-title>
    </mat-card-header>
  </div>

  <mat-divider></mat-divider>
  <mat-card-content class="mat-list">
    <form [formGroup]="reservationSettingForm" class="form">
      <div class="first">

        <h2> {{'RESERVE_SETTINGS.DESCRIPTION1'|translate}}</h2>

        <div class="row_fields" fxLayout="row" fxLayout.xs="column" fxLayoutGap="30px" fxLayoutGap.xs="0px">

          <mat-form-field class="example-full-width" appearance="outline" fxFlex="50">
            <mat-select placeholder="{{'RESERVE_SETTINGS.PLACEHOLDER1' | translate}}"
              formControlName="informAboutRentalBeforeDays" name="category" required>
              <mat-option *ngFor="let hour of hoursArray" [value]="hour">{{hour}} hour
              </mat-option>
            </mat-select>
            <mat-error
              *ngIf="reservationSettingForm.controls['informAboutRentalBeforeDays']?.errors?.['required']">{{'ERROR_MSG.FIELD_REQ'|translate}}</mat-error>
          </mat-form-field>


          <p> {{'RESERVE_SETTINGS.DESCRIPTION2'|translate}}</p>
        </div>
      </div>

      <div class="first">
        <h2> {{'RESERVE_SETTINGS.DESCRIPTION3'|translate}}</h2>

        <div class="row_fields" fxLayout="row" fxLayout.xs="column" fxLayoutGap="30px" fxLayoutGap.xs="0px">

          <mat-form-field class="example-full-width" appearance="outline" fxFlex="50">
            <mat-select placeholder="{{'RESERVE_SETTINGS.PLACEHOLDER2' | translate}}"
              formControlName="rentalReserveBeforeMonths" name="category" required>
              <mat-option *ngFor="let month of monthsArray" [value]="month">{{month}} month
              </mat-option>
            </mat-select>
            <mat-error
              *ngIf="reservationSettingForm.controls['rentalReserveBeforeMonths']?.errors?.['required']">{{'ERROR_MSG.FIELD_REQ'|translate}}</mat-error>
          </mat-form-field>
          <p> {{'RESERVE_SETTINGS.DESCRIPTION4'|translate}}</p>
        </div>
      </div>

      <div class="first">
        <h2> {{'RESERVE_SETTINGS.DESCRIPTION5'|translate}}</h2>
        <div class="row_fields" fxLayout="row" fxLayout.xs="column" fxLayoutGap="30px" fxLayoutGap.xs="0px">
          <mat-form-field class="example-full-width" appearance="outline" fxFlex="50">
            <mat-select placeholder="{{'RESERVE_SETTINGS.PLACEHOLDER3' | translate}}"
              formControlName="minRentalPeriodInDays" name="category" required>
              <mat-option *ngFor="let day of daysArray" [value]="day">{{day}} day
              </mat-option>
            </mat-select>
            <mat-error
              *ngIf="reservationSettingForm.controls['minRentalPeriodInDays']?.errors?.['required']">{{'ERROR_MSG.FIELD_REQ'|translate}}</mat-error>
          </mat-form-field>
          <p>{{'RESERVE_SETTINGS.DESCRIPTION5'|translate}}</p>
        </div>
      </div>

      <mat-divider></mat-divider>

      <h2>{{'RESERVE_SETTINGS.SETTINGS_H2'|translate}}</h2>
      <div class="radio">
        <p>{{'RESERVE_SETTINGS.RADIO1'|translate}}</p>
        <mat-radio-group aria-label="Select an option" formControlName="allowOverBooking" class="radio_group" >
          <mat-radio-button value="1">Yes for everyone</mat-radio-button>
          <mat-radio-button value="2">Only administrators</mat-radio-button>
          <mat-radio-button value="3">No</mat-radio-button>
        </mat-radio-group>
        <mat-error *ngIf="isSubmitted && reservationSettingForm.controls['allowOverBooking']?.errors?.['required']">
          {{'ERROR_MSG.FIELD_REQ'|translate}}
        </mat-error>

      </div>

      <div class="radio">
        <p>{{'RESERVE_SETTINGS.RADIO2'|translate}}</p>
        <mat-radio-group aria-label="Select an option" formControlName="authorizeOutsideReservationArea"
          class="radio_group">
          <mat-radio-button value="1">Yes for everyone</mat-radio-button>
          <mat-radio-button value="2">Only administrators</mat-radio-button>
          <mat-radio-button value="3">No</mat-radio-button>
        </mat-radio-group>
        <mat-error
          *ngIf=" isSubmitted && reservationSettingForm.controls['authorizeOutsideReservationArea']?.errors?.['required']">{{'ERROR_MSG.FIELD_REQ'|translate}}</mat-error>
      </div>

      <div class="radio">
        <p>{{'RESERVE_SETTINGS.RADIO3'|translate}}</p>
        <mat-radio-group aria-label="select" formControlName="allowPastDateReservation" class="radio_group">
          <mat-radio-button value="1">Yes for everyone</mat-radio-button>
          <mat-radio-button value="2">Only administrators</mat-radio-button>
          <mat-radio-button value="3">No</mat-radio-button>
        </mat-radio-group>
        <mat-error
          *ngIf=" isSubmitted && reservationSettingForm.controls['allowPastDateReservation']?.errors?.['required'] ">
          {{'ERROR_MSG.FIELD_REQ'|translate}}
        </mat-error>
      </div>

      <div class="radio">
        <p>{{'RESERVE_SETTINGS.RADIO4'|translate}}</p>
        <mat-radio-group aria-label="select" formControlName="isAutoGenerateBookingRef" class="radio_group">
          <mat-radio-button value="1">Yes for everyone</mat-radio-button>
          <mat-radio-button value="2">Only administrators</mat-radio-button>
          <mat-radio-button value="3">No</mat-radio-button>
        </mat-radio-group>
        <mat-error
          *ngIf=" isSubmitted && reservationSettingForm.controls['isAutoGenerateBookingRef']?.errors?.['required']">{{'ERROR_MSG.FIELD_REQ'|translate}}</mat-error>
      </div>

      <mat-divider></mat-divider>

      <div class="button_field" fxLayout="row">
        <button class="button" mat-button (click)="submit()">{{ reserveationId ? ('SHARE.UPDATE' | translate) :
          ('SHARE.SAVE' | translate)
          }}</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>