<mat-card>
    <mat-card-content>
        <mat-card-header>
            <mat-card-title>{{'ORGANIZATION.ORG_LIST' |translate}}</mat-card-title>
            <span class="space"></span>
            <button class="button_create" mat-raised-button routerLink="/organization/create"><img
                    src="../../../assets/images/ic_plus.svg" alt="add icon"> <span class="btn_span_text">{{'ORGANIZATION.CREATE' | translate}}</span>
            </button>
        </mat-card-header>
        <mat-divider></mat-divider>
        <section class="table-container mat-list">
            <div class="table-responsive">
                <table mat-table matSort [dataSource]="dataSource" >
                    <ng-container matColumnDef="name">
                        <th class="header name-column" mat-header-cell *matHeaderCellDef  mat-sort-header>
                            <span>{{'ORGANIZATION.ORG_NAME' |translate}}</span>
                        </th>
                        <td mat-cell *matCellDef="let element ;let i = index;">{{element.name}}</td>
                    </ng-container>
                    <ng-container matColumnDef="email">
                        <th class="header name-column" mat-header-cell *matHeaderCellDef  mat-sort-header>
                            <span>{{'SHARE.EMAIL' |translate}}</span>
                        </th>
                        <td mat-cell *matCellDef="let element">{{element.email}}</td>
                    </ng-container>
                    <ng-container matColumnDef="created_at">
                        <th class="header name-column" mat-header-cell *matHeaderCellDef  mat-sort-header>
                            <span>{{'ORGANIZATION.CREATE_DATE' |translate}}</span>
                        </th>
                        <td mat-cell *matCellDef="let element">{{element.created_at | date}}</td>
                    </ng-container>
                    <ng-container matColumnDef="actions">
                        <th class="header name-column" mat-header-cell *matHeaderCellDef >
                            <span>{{'SHARE.ACTION'|translate }}</span>
                        </th>
                        <td mat-cell *matCellDef="let element;let i = dataIndex" class="mat-icon-action">
                            <a href="javascript:void(0)"><mat-icon class="mat_rightIcon" [routerLink]="['/organization/view/', element.id]">visibility</mat-icon></a>
                            <a href="javascript:void(0)"><mat-icon class="mat_editIcon" [routerLink]="['/organization/edit/', element.id]">edit_outline</mat-icon></a>
                            <a href="javascript:void(0)"><mat-icon class="mat_crossIcon" (click)="openDialog(element.id,i,element)">delete</mat-icon></a>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                    <tr mat-row *matRowDef="let request; columns: columnsToDisplay"></tr>
                </table>
                <div *ngIf="organization == undefined || organization.length === 0" class="empty-result">
                    <img src="../../../assets/images/EmptyState_No_Records.svg" />
                    <p>Empty record. Add Organization to begin.</p>
                </div>
            </div>
            <mat-paginator #paginator [pageSizeOptions]="[10,20,30]"></mat-paginator>
        </section>
    </mat-card-content>
</mat-card>