.org_list {
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
}

.space {
    flex: auto;
}

.header.name-column {
    background-color: #E6F8FFC7;
    font-weight: bold;
}

.table-container {
    max-width: 100%;
    overflow: auto;
    box-shadow: none !important;
}

.mat_crossIcon {
    color: #E70013;
}