.lang-title {
  line-height: 24px;
  color: #125893;
}

.lang_div {
  display: flex;
  justify-content: flex-end;
  margin: 2px;
}

.lang_div label {
  border: 1px solid #125893;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 28px;
}

.home_logo{
  width: 75px;
  height: 45px;
}

.lang_div button {
  height: 28px !important;
  min-width: auto !important;
}

.lang_div button::after {
  content: "⌵";
  margin-left: 5px;
  color: #125893;
  font-size: 18px;
  margin-top: -4px;
}

p {
  margin: 0px;
  font-size: 14px;
  font-family: var(--font-family);
  line-height: 1.43;
  color: rgb(18, 88, 147);
  font-weight: 500;
}

.header_mainContainer {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
  height: 63px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
}

.header.right_sideConatiner {
  display: flex;
  flex-direction: row;
  width: 334px;
  height: 40px;
  justify-content: space-between;
  border-right: 1px solid #D9D9D9;
  align-items: center;
}

.toggleMenu button {
  width: 60px !important;
  height: 60px !important;
}

.toggleMenu button img {
  width: 24px !important;
  height: 15px !important;
}

.header.left_sideConatiner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.left_orgnizationName {
  color: #125893;
  font-weight: 500;
  display: block;
}

.active_content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.active_color {
  height: 8px;
  width: 8px;
  border-radius: 10px;
  background: #09a41e;
}

.inactive_color {
  height: 8px;
  width: 8px;
  border-radius: 10px;
  background: #dd0909;
}

.active_text {
  font-size: 11px;
  color: #7e7e7e;
  margin-left: 5px;
}

.header_leftContent {
  display: flex;
}

.profileConatiner.menu_Area {
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.vector_image {
  height: 34px;
  width: 36px;
}

.menuContainer {
  display: flex;
  gap: 5px;
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #125893
}

.mat-menuItem {
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 12px;
  padding-top: 6px;
}

.mat-mdc-menu-item {
  min-height: 37px !important;
}


.mat-menuItem h5 {
  font-size: 14px;
  text-transform: capitalize;
  margin-bottom: 0 !important;
}

.menuItemImg {
  height: 32px;
  width: 32px;
}

.roleText {
  color: #125893;
}

.Second_leftSideContainer .role_area {
  line-height: 30px;
}

@media (max-width: 767px) {
  .right_side_header {
    min-width: 0% !important;
  }

  .hidden-mobile {
    height: 35px !important;
    margin-top: 4px;
  }

  .profileConatiner.menu_Area {
    padding: 0 !important;
  }

  .active_text {
    font-size: 9px !important;
  }

  .Second_leftSideContainer .role_area {
    line-height: 18px;
  }
}