<div class="header_mainContainer">
    <div class="header right_sideConatiner">
        <div class="role_area">
            <img src="../../../../assets/images/homelogo.png" class="home_logo hidden-mobile" />
        </div>
        <div class="toggleMenu">
            <button mat-icon-button (click)="toggleSideNav()">
                <img src="../../../../assets/images/menu.svg">
            </button>
        </div>
    </div>
    <div class="header left_sideConatiner">
        <div class="Second_leftSideContainer">
            <div class="role_area">
                <span class="left_orgnizationName" *ngIf="org_name">{{org_name.name ? org_name.name : 'Super Admin'}}</span>
                <span class="left_orgnizationName" *ngIf="!org_name">Super Admin</span>
                <div class="active_content">
                    <span   [ngClass]="!org_name || User.status=='1' ? 'active_color' : 'inactive_color'"></span>
                    <span class="active_text"> {{ !org_name ||User.status=='1' ? 'Active' : 'Inactive'}}</span>
                </div>
            </div>
        </div>
        <div class="Second_rightSideContainer">
            <div class="header_leftContent">
                <div class="lang_div">
                    <label>
                      <button mat-button [matMenuTriggerFor]="languageMenu" class="language-button">
                        <div class="flag-container">
                          <span class="lang-title">{{ selectedLanguage | titlecase }}</span>
                        </div>
                      </button>
                      <mat-menu #languageMenu="matMenu" class="langMenuBar" xPosition="before">
                        <mat-divider></mat-divider>
                        <ng-container *ngFor="let lang of languages">
                          <button mat-menu-item [value]="lang" (click)="switchLanguage(lang)">
                            <div class="flag-container">
                              <span class="country-flag fi fi-{{ lang.sortname | lowercase }}"></span>
                              <span class="dropDown_title lang-title">{{ lang.title }}</span>
                            </div>
                          </button>
                        </ng-container>
                      </mat-menu>
                    </label>
                  </div>
                <div class="profileConatiner menu_Area">
                    <span class="menuContainer" *ngIf="User?.role != '1'" [matMenuTriggerFor]="menu">
                        <img src="../../../../assets/images/Vector.svg" class="vector_image" />
                        <mat-menu #menu="matMenu" class="profileMenuBar">
                            <div class="mat-menuItem">
                                <img class="menuItemImg" src="../../../../assets/images/Vector.svg" />
                                <h5 class="userName" >{{User.first_name}}<br>
                                    <span class="roleText">Role : {{User.role == '1' ? 'Super Admin' : 'Business Owner'}}</span>
                                </h5>
                            </div>
                            <mat-divider></mat-divider>
                            <button mat-menu-item [routerLink]="['/user/profile/', org_name.id]"><mat-icon>person_outline</mat-icon>My Profile</button>
                            <button mat-menu-item><mat-icon>mail_outline</mat-icon>Contact Us Info</button>
                            <button mat-menu-item (click)="logout()"><mat-icon>power_settings_new</mat-icon>Logout</button>
                        </mat-menu>
                    </span>
                    <span class="menuContainer" *ngIf="User?.role == '1'" [matMenuTriggerFor]="menu">
                        <img src="../../../../assets/images/Vector.svg" class="vector_image" />
                        <mat-menu #menu="matMenu" class="profileMenuBar">
                            <mat-divider></mat-divider>
                            <button mat-menu-item (click)="logout()"><mat-icon>power_settings_new</mat-icon>Logout</button>
                        </mat-menu>
                        <span class="userFirstName">{{User.first_name}}</span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>