span {
    flex: auto;
    flex-direction: column;
}

/* .mat-horizontal-stepper-header-container {
    margin-top: 8px;
    width: fit-content;
    margin: 0 auto;
} */

.mat-mdc-form-field {
    margin-top: 16px;
}




.btn-next {
    color: #fff !important;
    background-color: #125893 !important;
    border-radius: 8px;
    width: 10%;
}

.btn-link {
    color: #fff !important;
    background-color: #125893 !important;
    /* width: fit-content; */
    margin-right: 15px;
}