<mat-card>
    <mat-card-header>
        <mat-card-title>Create Reservations</mat-card-title>
        <span></span>
        <p><b>DT Total</b></p> <br />
        <p><b>00.00</b></p>
    </mat-card-header>
    <mat-divider class="header_divider"></mat-divider>
    <mat-card-content class="mat-list">
        <mat-stepper labelPosition="bottom" #stepper >
            <div class="header-container">
                <mat-step [stepControl]="rentalFormGroup">
                    <form [formGroup]="rentalFormGroup">
                        <ng-template matStepLabel>Rental Details</ng-template>
                        <h4><b>Rental Details</b></h4>
                        <div class="row_fields" fxLayout="row" fxLayoutGap="30px" fxLayout.xs="column" fxLayoutGap.xs="0px">

                            <mat-form-field class="example-full-width" appearance="outline" fxFlex="50">
                                <mat-label>Start Date</mat-label>
                                <input matInput [matDatepicker]="picker" placeholder="28 Mar 2023 12:00"
                                    formControlName="Start_Date" name="Start_Date">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>

                            </mat-form-field>

                            <mat-form-field class="example-full-width" appearance="outline" fxFlex="50">
                                <mat-label>End Date</mat-label>
                                <input matInput [matDatepicker]="picker1" placeholder="28 Mar 2023 12:00"
                                    name="End_Date" formControlName="End_Date" required>
                                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                <mat-datepicker #picker1></mat-datepicker>
                            </mat-form-field>
                        </div>

                        <div class="row_fields" fxLayout="row" fxLayoutGap="30px" fxLayout.xs="column" fxLayoutGap.xs="0px">
                            <mat-form-field class="example-full-width" appearance="outline" fxFlex="50">
                                <mat-label>Source</mat-label>
                                <mat-select placeholder="On The Spot" formControlName="Source" name="Source" required>
                                    <mat-option></mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field class="example-full-width" appearance="outline" fxFlex="50">
                                <mat-label>Status</mat-label>
                                <mat-select matInput placeholder="Confirmed" name="Status" formControlName="Status"
                                    required>
                                    <mat-option></mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="row_fields" fxLayout="row" fxLayoutGap="30px" fxLayout.xs="column" fxLayoutGap.xs="0px">
                            <mat-form-field class="example-full-width" appearance="outline" fxFlex="50">
                                <mat-label>Category</mat-label>
                                <mat-select matInput placeholder="Default" formControlName="Vehicle_Category"
                                    name="Vehicle_Category" required>
                                    <mat-option>

                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field class="example-full-width" appearance="outline" fxFlex="50">
                                <mat-label>Type</mat-label>
                                <mat-select matInput placeholder="Default" name="Vehicle_Type"
                                    formControlName="Vehicle_Type" required>
                                    <mat-option>

                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="row_fields" fxLayout="row" fxLayoutGap="30px" fxLayout.xs="column" fxLayoutGap.xs="0px">

                            <mat-form-field class="example-full-width" appearance="outline" fxFlex="50">
                                <mat-label>Select Vehicle</mat-label>
                                <mat-select matInput placeholder="BMW M6 SDE 456[SYN]" formControlName="Select_vehicle"
                                    name="Select_vehicle" required>
                                    <mat-option>

                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field class="example-full-width" appearance="outline" fxFlex="50">
                                <mat-label>Amount</mat-label>
                                <input matInput placeholder="DT" name="Amount" formControlName="Amount" required>
                            </mat-form-field>
                        </div>
                        <mat-checkbox style="margin-left: 70px;">No Vehicle Assigned</mat-checkbox>
                        <div class="row_fields" fxLayout="row" fxLayoutGap="30px" fxLayout.xs="column" fxLayoutGap.xs="0px">
                            <mat-form-field class="example-full-width" appearance="outline" fxFlex="50">
                                <mat-label>Pick Up Agency</mat-label>
                                <mat-select placeholder="Select" formControlName="Pickup" name="Pickup" required>
                                    <mat-option>

                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field class="example-full-width" appearance="outline" fxFlex="50">
                                <mat-label>Drop Off Agency</mat-label>
                                <mat-select placeholder="Select" name="Dropoff" formControlName="Dropoff" required>
                                    <mat-option>

                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div style="text-align: right;">
                            <button class="btn-next" mat-button matStepperNext>Next ></button>
                        </div>
                    </form>
                </mat-step>
                <mat-step [stepControl]="customerFormGroup" label="Customer">
                    <div *ngIf="showCustomerContent" style="margin-top: 40px;">
                        <div style="display: flex;justify-content: space-between;">
                            <h4><b>Customer</b></h4>
                            <button class="button_create" mat-raised-button (click)="showCustomerContent = false">+
                                Create Customer</button>
                        </div>
                        <form [formGroup]="customerFormGroup">
                            <div class="row_fields" fxLayout="row" fxLayoutGap="30px" >
                                <mat-form-field class="example-full-width" appearance="outline" fxFlex="100">
                                    <mat-label>Find Customer</mat-label>
                                    <input matInput placeholder="Find Customer" formControlName="find_customer"
                                        name="find_customer">
                                </mat-form-field>
                            </div>
                            <div style="display: flex;justify-content: space-between;">
                                <button style="color: #125893;background: #D7F1FF;" mat-button matStepperPrevious>
                                    Previous</button>
                                <button class="btn-next" mat-button matStepperNext>Next ></button>
                            </div>
                        </form>
                    </div>
                    <ng-container *ngIf="!showCustomerContent">
                        <div style="margin: 10px;">
                            <app-create-customer></app-create-customer>
                        </div>
                    </ng-container>
                </mat-step>
                <!-- Company Form -->
                <mat-step [stepControl]="companyFormGroup" label="Company">
                    <mat-checkbox color="#125893"><label style="color: #125893;">Professional
                            Customer</label></mat-checkbox>
                    <div *ngIf="showCompanyContent" style="margin-top: 20px;">
                        <!-- <ng-template matStepLabel>Company</ng-template> -->
                        <div style="display: flex;justify-content: space-between;">
                            <h4><b>Company</b></h4>
                            <button class="button_create" mat-raised-button (click)="showCompanyContent = false">+
                                Create Company</button>
                        </div>
                        <form [formGroup]="companyFormGroup">
                            <div class="row_fields" fxLayout="row" fxLayoutGap="30px">
                                <mat-form-field class="example-full-width" appearance="outline" fxFlex="100">
                                    <mat-label>Find Company</mat-label>
                                    <input matInput placeholder="Find Company" formControlName="find_company"
                                        name="find_company">
                                </mat-form-field>
                            </div>
                            <div style="display: flex;justify-content: space-between;">
                                <button style="color: #125893;background: #D7F1FF;" mat-button matStepperPrevious>
                                    < Previous</button>
                                        <button class="btn-next" mat-button matStepperNext>Next ></button>
                            </div>
                        </form>
                    </div>
                    <ng-container *ngIf="!showCompanyContent">
                        <div style="margin: 10px;">
                            <app-create-company></app-create-company>
                        </div>
                    </ng-container>

                </mat-step>

                <mat-step [stepControl]="paymentFormGroup">
                        <ng-template matStepLabel>Payment</ng-template>
                        <h4><b>Add payment manually</b></h4>
                        <form [formGroup]="paymentFormGroup">

                            <div class="row_fields" fxLayout="row" fxLayoutGap="30px"  fxLayout.xs="column" fxLayoutGap.xs="0px">

                                <mat-form-field class="example-full-width" appearance="outline" fxFlex="50">
                                    <mat-label>Payment Choice</mat-label>
                                    <mat-select placeholder="Cash/Online" formControlName="Choice" name="Choice"
                                        required>
                                        <mat-option></mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <mat-form-field class="example-full-width" appearance="outline" fxFlex="50">
                                    <mat-label>Agency</mat-label>
                                    <mat-select matInput placeholder="Select" name="Agency" formControlName="Agency"
                                        required>
                                        <mat-option></mat-option>
                                    </mat-select>
                                </mat-form-field>

                            </div>
                            <div class="row_fields" fxLayout="row" fxLayoutGap="30px"  fxLayout.xs="column" fxLayoutGap.xs="0px">

                                <mat-form-field class="example-full-width" appearance="outline" fxFlex="49">
                                    <mat-label>Date Of Payment</mat-label>
                                    <input matInput [matDatepicker]="picker3" placeholder="28 Mar 2023 12:00"
                                        formControlName="Payment" name="Payment">
                                    <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                                    <mat-datepicker #picker3></mat-datepicker>

                                </mat-form-field>
                            </div>

                            <div class="row_fields" fxLayout="row" fxLayoutGap="30px"  fxLayout.xs="column" fxLayoutGap.xs="0px">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <mat-label>More Information</mat-label>
                                    <textarea matInput placeholder="Add Information" formControlName="Info"
                                        name="Info"></textarea>
                                </mat-form-field>
                            </div>
                        </form>
                        <mat-divider></mat-divider>
                        <div class="row_fields" style="margin-top: 10px; display: flex;justify-content: space-between;"  fxLayoutGap.xs="5px">
                            <button style="color: #125893;background: #D7F1FF;" mat-button matStepperPrevious>
                                Previous</button>
                            <div>
                                <button class="btn-link" mat-button> <mat-icon>link</mat-icon>Send Payment Link</button>
                                <button class="btn-next" mat-button>Save</button>
                            </div>
                        </div>
                </mat-step>
            </div>
        </mat-stepper>
    </mat-card-content>
</mat-card>