<mat-card>
    <mat-card-header>
        <mat-card-title>
            Invoices
        </mat-card-title>
        <span></span>
        <button  class="button_create" mat-raised-button routerLink="/invoice/create" disabled><img src="../../../assets/images/ic_plus.svg" alt="add icon"><span class="btn_span_text"> Create Invoice</span> </button>
    </mat-card-header>
    <mat-divider></mat-divider>
    <div class="empty-result">
        <img src="../../../assets/images/EmptyState_No_Records.svg" />
        <p><b>You're all caught up!</b> Coming Soon! Stay tuned for our fleet management features and updates. </p>
    </div>
    <!-- <mat-card-content class="mat-list">
        <div fxLayout="row wrap" fxLayoutGap="0 row">
            <div fxFlex="33" fxFlex.xs="100" fxFlex.sm="50" *ngFor="let card of cards | async">
                <mat-card class="mat-elevation">
                    
                    <div class="colored-background"><mat-icon
                            style="margin-top: 25px; margin-left: 35px;">event_note</mat-icon></div>
                    <mat-card-content class="dashboard-card-content">
                        <div style="text-align: left;margin-top: 10px;">
                            <p>
                                <b>{{card.title}} </b>
                            </p>
                        </div>
                        <mat-card-title>
                            {{card.price}}
                        </mat-card-title>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
        <form style="margin-top: 50px;">
            <div fxLayout="row" fxLayoutGap="10px" fxLayout.xs="column" fxLayoutGap.xs="0px">
                <mat-form-field appearance="outline" class="example-full-width" fxFlex="30">
                    <mat-select placeholder="Waiting For Payment">
                        <mat-option></mat-option>
                    </mat-select>
                </mat-form-field>
                <span></span>
                <mat-form-field appearance="outline">
                    <input matInput [matDatepicker]="picker4" placeholder="From " fxFlex="30">
                    <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                    <mat-datepicker #picker4></mat-datepicker>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <input matInput [matDatepicker]="picker5" placeholder="To" fxFlex="50">
                    <mat-datepicker-toggle matSuffix [for]="picker5"></mat-datepicker-toggle>
                    <mat-datepicker #picker5></mat-datepicker>
                </mat-form-field>

                <button mat-button class="button_create">Search</button>
            </div>
        </form>
        <section class="table-container">
            <table mat-table matSort [dataSource]="dataSource">
                <ng-container matColumnDef="BookingID">
                    <th class="header name-column" mat-header-cell *matHeaderCellDef>
                        <span>BookingID</span>
                    </th>
                    <td mat-cell *matCellDef="let request">{{request.BookingID}}</td>
                </ng-container>

                <ng-container matColumnDef="Customer">
                    <th class="header name-column" mat-header-cell *matHeaderCellDef>
                        <span>Customer</span>
                    </th>
                    <td mat-cell *matCellDef="let request">{{request.Customer}}</td>
                </ng-container>
                <ng-container matColumnDef="Billing_Agency">
                    <th class="header name-column" mat-header-cell *matHeaderCellDef>
                        <span>Billing Agency</span>
                    </th>
                    <td mat-cell *matCellDef="let request">{{request.Billing_Agency}}</td>
                </ng-container>
                <ng-container matColumnDef="Date_Of_Invoice">
                    <th class="header name-column" mat-header-cell *matHeaderCellDef>
                        <span>Date Of Invoice</span>
                    </th>
                    <td mat-cell *matCellDef="let request">{{request.Date_Of_Invoice}}</td>
                </ng-container>
                <ng-container matColumnDef="Amount">
                    <th class="header name-column" mat-header-cell *matHeaderCellDef>
                        <span>Amount</span>
                    </th>
                    <td mat-cell *matCellDef="let request">{{request.Amount}}</td>
                </ng-container>
                <ng-container matColumnDef="DueDate">
                    <th class="header name-column" mat-header-cell *matHeaderCellDef>
                        <span>Due Date</span>
                    </th>
                    <td mat-cell *matCellDef="let request">{{request.DueDate}}</td>
                </ng-container>
                <ng-container matColumnDef="Vehicle">
                    <th class="header name-column" mat-header-cell *matHeaderCellDef>
                        <span>Vehicle</span>
                    </th>
                    <td mat-cell *matCellDef="let request">{{request.Vehicle}}</td>
                </ng-container>
                <ng-container matColumnDef="Status">
                    <th class="header name-column" mat-header-cell *matHeaderCellDef>
                        <span>Status</span>
                    </th>
                    <td mat-cell *matCellDef="let request">{{request.Status}}</td>
                </ng-container>
                <ng-container matColumnDef="actions">
                    <th class="header name-column" mat-header-cell *matHeaderCellDef>
                        <span>Actions</span>
                    </th>
                    <td mat-cell *matCellDef="let request">
                        <button mat-raised-button class="button_create" [matMenuTriggerFor]="menu">Actions</button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item><mat-icon>edit_outline</mat-icon>Edit</button>
                            <button mat-menu-item><mat-icon>delete</mat-icon>Delete</button>
                            <button mat-menu-item><mat-icon>visibility</mat-icon>View</button>
                            <button mat-menu-item (click)="openDiIn(sendInvoice)"><mat-icon>send</mat-icon>Send
                                Invoice</button>
                            <button mat-menu-item
                                (click)="openDialog(dialogTemplate)"><mat-icon>move_up</mat-icon>Change
                                Invoice Status</button>
                        </mat-menu>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                <tr mat-row *matRowDef="let request; columns: columnsToDisplay"></tr>
            </table>
            <mat-paginator #paginator [pageSizeOptions]="[1, 2, 3]"></mat-paginator>
        </section>
    </mat-card-content> -->
</mat-card>
<ng-template #dialogTemplate>
    <div fxLayout="row" fxLayoutGap="80px">
        <h2 mat-dialog-title class="title-container">
            Change Invoice Status
        </h2>
        <span class="button-container">
            <button mat-button mat-dialog-close aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </span>
    </div>
    <div fxLayout="row" fxLayoutGap="80px" fxLayout.xs="column" fxLayoutGap.xs="0px">
        <mat-form-field class="example-width" appearance="outline" style="margin-top: 10px;" fxFlex="70">
            <mat-select placeholder="Waiting For Payment">
                <mat-option></mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div style="display: flex; justify-content: center;margin-top: 30px;">
        <button mat-button class="submit_btn">Save</button>
    </div>
</ng-template>

<ng-template #sendInvoice>
    <mat-card>
        <button mat-button mat-dialog-close aria-label="Close dialog" class="align-button">
            <mat-icon>close</mat-icon> </button>
        <div class="first_box">
            <p class="paragraph">Company</p><br>
            <div class="second" fxLayout.xs="column" fxLayoutGap="10px">
                <p>Name:<b>Ace Rentals Services</b></p>
                <p>Email:<b>ace@gmail.com</b></p>
                <p>Address:<b>Indore,M.P.</b></p>
            </div>
            <div fxLayout.xs="column" fxLayoutGap.xs="30px" fxLayoutAlign.xs="start" fxLayoutAlign="end">
                <div class="third_div">
                    <p style="margin-top: 5px;">INVOICE <b style="font-weight: 400;font-size: 13px;">
                            < auto: FACT-2020-04-02043>
                        </b></p>

                </div>
                <div style=" margin-top: -69px;" fxLayout.xs="row" fxLayoutGap.xs="10px">
                    <p>Date: <b style="margin-left: 30px;">30/03/2023</b></p>
                    <p>Due Date: <b style="margin-left: 5px;">02/04/2023</b></p>
                </div>
                <div class="fourth_box">
                    <p class="paragraph">Customer</p><br>
                    <div style="margin-top: -20px;">
                        <p class="box">Name:<b>John</b></p>
                        <p class="box">Email:<b>Jhon@gmail.com</b></p>
                        <p class="box">Number:<b>+216 700489923</b></p>
                    </div>
                </div>
            </div>
            <div class="table">
                <section class="table-container">
                    <table mat-table matSort [dataSource]="dataSourceInvoice">
                        <ng-container matColumnDef="Description">
                            <th class="header name-column" mat-header-cell *matHeaderCellDef>
                                <span>Description</span>
                            </th>
                            <td mat-cell *matCellDef="let request">{{request.Description}}</td>
                        </ng-container>

                        <ng-container matColumnDef="Vehicle_Details">
                            <th class="header name-column" mat-header-cell *matHeaderCellDef>
                                <span>Vehicle Details</span>
                            </th>
                            <td mat-cell *matCellDef="let request">{{request.Vehicle_Details}}</td>
                        </ng-container>
                        <ng-container matColumnDef="Payment_Mode">
                            <th class="header name-column" mat-header-cell *matHeaderCellDef>
                                <span>Payment Mode</span>
                            </th>
                            <td mat-cell *matCellDef="let request">{{request.Payment_Mode}}</td>
                        </ng-container>
                        <ng-container matColumnDef="Quantity">
                            <th class="header name-column" mat-header-cell *matHeaderCellDef>
                                <span>Quantity</span>
                            </th>
                            <td mat-cell *matCellDef="let request">{{request.Quantity}}</td>
                        </ng-container>
                        <ng-container matColumnDef="Unit_Price_HT">
                            <th class="header name-column" mat-header-cell *matHeaderCellDef>
                                <span>Unit Price HT</span>
                            </th>
                            <td mat-cell *matCellDef="let request">{{request.Unit_Price_HT}}</td>
                        </ng-container>

                        <ng-container matColumnDef="Total">
                            <th class="header name-column" mat-header-cell *matHeaderCellDef>
                                <span>Total</span>
                            </th>
                            <td mat-cell *matCellDef="let request">{{request.Total}}</td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="columnsToDisplayInvoice"></tr>
                        <tr mat-row *matRowDef="let request; columns: columnsToDisplayInvoice"></tr>
                    </table>
                </section>
            </div>
            <button mat-button class="btn">Send Email</button>
        </div>
    </mat-card>
</ng-template>