span {
  flex: auto;
}

.mat-elevation {
  border: 0.5px solid #b1b1b1;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.09);
  border-radius: 10px;
}

.colored-background {
  position: absolute;
  width: 93px;
  height: -webkit-fill-available;
  right: 0px;
  top: 0px;
  background: rgba(88, 64, 255, 0.1);
  border-radius: 49% 14% 9% 46%;

}



.submit_btn {
  color: #fff !important;
  background-color: #125893 !important;
  width: fit-content;
  align-items: center;
}

ng-template {
  max-width: 800px !important;
  max-height: none !important;

  /* Hide the scroll bar */

  overflow-y: hidden !important;
  overflow-y: hidden !important;
}

.example-width {
  width: fit-content;
  margin-left: 40px;
}


.header.name-column {
  background-color: #E6F8FFC7;

}


button-container {
  background: none;
  margin-top: 20px;
}

span {
  display: flex;
  flex-direction: row;
  right: 0;
}

.align-button {
  position: absolute;
  top: 4%;
  margin-right: 10px;
  right: 0;
  border-radius: 8px;
  background: none;
}

.first_box {

  box-sizing: border-box;
  position: absolute;
  /* width: 794px; */
  width: -webkit-fill-available;
  height: 450px;
  top: 45px;
  left: -2px;
  background: #FFFFFF;
  border: 1px solid #B1B1B1;
  border-radius: 10px;
}

.paragraph {
  font-weight: 200;
  font-size: large;
  margin-left: 10px;
  margin-top: 5px;
}

.second {
  margin-top: 2px;
  margin-left: 10px;
}

/* b {
  left: 4px;
  font-weight: 100;
  color: #B1B1B1;
} */


.third_div {
  box-sizing: border-box;
  position: absolute;
  width: 259px;
  height: 33px;

  top: 35px;
  background: #E6F8FF;
  border: 1px solid #B1B1B1;
}

.fourth_box {
  box-sizing: border-box;
  position: absolute;
  /* width: 302px; */
  height: 115px;
  /* left: 545px; */
  /* top: 200px; */
  background: #FFFFFF;
  border: 1px solid #B1B1B1;
  /* width: 255px;
  top: 206px; */
  width: 255px;
    top: 202px;
}

@media  (min-width: 375px) and (max-width: 767px) {
  .fourth_box {
    box-sizing: border-box;
    position: absolute;
    background: #FFFFFF;
    border: 1px solid #B1B1B1;
    width: 255px;
    top: 206px;
  }
  .table {
    margin-top: 115px;
  }    

}

.box {
  margin-top: -11px;
}

.table {
  padding: 10px;
  margin-top: 160px;
}

.btn {
  /* position: absolute;
width: 117px;
height: 42px;
left: 757px; */
  position: inherit;
  width: 117px;
  height: 42px;
  left: 657px;
  top: 455px;
  color: #fff !important;
  background: #125893;
  border-radius: 8px;
}

.table-container {
  overflow: auto;
  box-shadow: none;
}