<mat-card class="card-container ">
    <div class="empty-result">
        <img src="../../../assets/images/empty_state_welcome.svg" />
        <p><b>You're all caught up!</b> Coming Soon! Stay tuned for our fleet management features and updates. </p>
    </div>
</mat-card>
