<mat-card class="content">
    <div class="container">
        <mat-card-header>
            <mat-card-title>
                Tariff package
            </mat-card-title>
            <span class="space"></span>
            <button class="button_create" mat-raised-button routerLink="/tariff/create" disabled> <img src="../../../assets/images/ic_plus.svg" alt="add icon"><span class="btn_span_text"> Create Package</span>
            </button>
        </mat-card-header>
    </div>
    <mat-divider></mat-divider>
    <!-- <ngx-dropzone [config]="config" [message]="'Drag and drop a file here or click to browse'">
        <div class="preview-container" *ngFor="let file of files">
            <img [src]="file.dataURL" alt="Preview" class="preview-image" />
            <button class="close-button" (click)="removeFile(file)">X</button>
        </div>
    </ngx-dropzone> -->
    <div class="empty-result">
        <img src="../../../assets/images/EmptyState_No_Records.svg" />
        <p><b>You're all caught up!</b> Coming Soon! Stay tuned for our fleet management features and updates. </p>
    </div>
    <!-- <div fxLayout="row wrap" fxLayoutGap="0 row" class="mat-list">
        <div fxFlex="33" fxFlex.xs="100" fxFlex.sm="50" *ngFor="let card of data">
            <mat-card class="mat-elevation">
                <mat-card-header class="header_second">
                    {{card.packageName}}
                </mat-card-header>
                <mat-card-content class="dashboard-card-content">
                    <div>
                        <p><b>Start Day -</b><span *ngIf="card.isStartMonday === 'true'">{{'Monday, '}}</span><span
                                *ngIf="card.isStartTuesday === 'true'">{{'Tuesday, '}}</span><span
                                *ngIf="card.isStartWednesday === 'true'">{{'Wednesday, '}}</span><span
                                *ngIf="card.isStartThursday === 'true'">{{'Thursday, '}}</span><span
                                *ngIf="card.isStartFriday=== 'true'">{{'Friday, '}}</span><span
                                *ngIf="card.isStartSaturday === 'true'">{{'Saturday, '}}</span><span
                                *ngIf="card.isStartSunday === 'true'">{{'Sunday'}}</span></p>
                        <p><b>Duration -</b><span>{{card.packageDurationInDays}} Days</span></p>
                        <p><b>Mileage -</b><span>{{card.mileageIncluded}}{{card.mileageUnit}}</span></p>

                    </div>
                    <mat-divider style="margin-top: 30px;width: 205px; margin-left: -17px;"></mat-divider>
                </mat-card-content>
                <mat-card-actions style="justify-content:center">
                    <button mat-button style="color: #125893;"
                        [routerLink]="['/tariff/edit/', card.id]"><mat-icon>edit_outline</mat-icon></button>
                    <button mat-button style="color: #E22222;"
                        (click)="deleteTariff(card.id)"><mat-icon>delete_outline</mat-icon></button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div> -->
</mat-card>