/* .dashboard-card {
  border: 1px solid #ccc;
  padding: 1rem;
  margin-bottom: 1rem;
  width: 250px;
  height: fit-content;
}

.mat-elevation {
  border: 0.5px solid #B1B1B1;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.09);
  border-radius: 10px;
}


.header_second {
  background-color: #5840FF24;
  height: 38px;
  justify-content: center;
  font-weight: bold;
  font-size: large;
  font-family: 'Plus Jakarta Sans';
}


.preview-container {
  position: relative;
}

.preview-image {
  max-width: 100%;
  height: auto;
}

.close-button {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  background: #fff;
  border: none;
  border-radius: 50%;
  padding: 4px;
} */

/* 
.card_mat {
    display: flex;
    flex-wrap: wrap;
}

.dashboard-card{
    margin: 0 auto;
    text-align: center;
    border-radius: 20px;
    box-shadow: rgb(143 143 143 / 80%) 0 0 10px;
} */
/*.space{
    flex: auto;
}

mat-title{
    border:solid 1px;
    color:black;
    padding: 1px;
    margin-left: 2px;
    border-radius: 3px;
}
.first_box{
    box-sizing: border-box;

position: absolute;
width: 475.98px;
height: 207px;

top: 108px;

background: #FFFFFF;
border: 1px solid #D9D9D9;
box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.09);
border-radius: 10px;
}

.second_box{
    box-sizing: border-box;

position: absolute;
width: 475.98px;
height: 207px;
left: 542.02px;
top: 108px;

background: #FFFFFF;
border: 1px solid #D9D9D9;
box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.09);
border-radius: 10px;
}
.grid-container {
    margin: 20px;
  }
  
  .dashboard-card {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border: 1px solid #D9D9D9;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.09);
  border-radius: 10px;
  }
  
  .more-button {
    position: absolute;
    top: 5px;
    right: 10px;
  }
  
  .dashboard-card-content {
    text-align: center;
  } */