<div class="sidebar_menu">
  <mat-nav-list class="menu-list">
    <div *ngFor="let navigation of navBar; index as i;" class="parent">
      <div>
        <a [class]="role == '1' ? 'super_nav_link_text' : 'admin_nav_link_text'" class="nav-link-text" mat-list-item
          [routerLink]="navigation.url" [ngClass]="{
        'active-list':navigation.type==='collapse' && navigation.url=== activeUrl,
        'active-link':navigation.type==='item'&& navigation.url===activeUrl
          }" (click)="navParentClick(navigation)">
          <div class="parentNavItem">
            <mat-icon *ngIf="sideBar" class="matIconItems center"
              (mouseleave)="showButton = false">{{navigation.icon}}</mat-icon>
            <div *ngIf="!sideBar">
              <mat-icon class="matIconItems center" [matTooltipClass]="'my-tooltip'"
                matTooltip="{{ navigation.translate | translate }}"
                matTooltipPosition="right">{{navigation.icon}}</mat-icon>
            </div>
            <p *ngIf="sideBar || showButton" [ngStyle]="{'transition': showButton ? '0.2s ease-in-out' : ''}"
              class="nav_title">{{navigation.translate | translate}}</p>
            <mat-icon class="menu-button" *ngIf="navigation.type == 'collapse' && sideBar ">
              {{navigation.isExapanded? 'expand_more':'chevron_right'}}
            </mat-icon>
          </div>
        </a>
      </div>
      <div *ngIf=" navigation.type == 'collapse' && navigation.isExapanded">
        <div [ngClass]="{'child': !sideBar}">
          <a mat-list-item *ngFor="let child of navigation.children" [class]="role == '1' ? 'super_nav_link_text' : 'admin_nav_link_text'" class="nav-link-text child_nav_text"
            [routerLink]="child.url" routerLinkActive="active" [ngClass]="{'active': child.display}"
            matTooltip="{{ child.title }}" matTooltipPosition="right">{{child.translate | translate}}</a>
        </div>
      </div>
    </div>
  </mat-nav-list>
</div>