.label {
  margin: 0;
}

.active-list-item {
  color: #3f51b5 !important;
}


mat-icon {
  color: #7E7E7E;
  width: 30px !important;
  height: 30px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mdc-list-item {
  color: #7E7E7E;
}

.mdc-list-item.active-link {
  background-color: #D7F1FF;
  color: #125893 !important;
  width: 95%;
  padding-left: 16px;
}

.mdc-list-item.active-link {
  border-radius: 0px 35px 35px 0px;
}

.mdc-list-item.active-link.admin_nav_link_text::after,
.mdc-list-item.active-link.super_nav_link_text::after {
  content: '';
  background: #125893;
  width: 8px;
  height: 100%;
  z-index: 99999;
  position: absolute;
  left: 0;
}

.mdc-list-item.active-link.admin_nav_link_text::after {
  border-radius: 0px;
}

.mdc-list-item.active-link.super_nav_link_text::after {
  border-radius: 0px 8px 8px 0px;
}

.mdc-list-item.active-link:hover {
  background-color: #d5f0ff !important;
}

.mdc-list-item.active-list {
  background-color: #D7F1FF;
  color: #125893 !important;
  border-radius: 0px 35px 35px 0px;
  width: 95%;
  border-left: 10px solid #125893 !important;
  padding-left: 8px;
}

.mdc-list-item.active-link p {
  font-weight: 500 !important;
}

.mdc-list-item p {
  flex-grow: 1;
  margin: 0;
  font-size: 14px;
  line-height: 19px;
  font-weight: 500;
  text-transform: capitalize
}

.mdc-list-item:hover::before {
  border-radius: 0px 35px 35px 0px;
  width: 100%;
}

.mdc-list-item:focus::before {
  background-color: transparent !important;
}

.active-link .mat-icon {
  color: #125893;
}

.active-link .nav-link-text {
  color: #125893;
}

a.disabled {
  pointer-events: none;
  cursor: default;
}

.child_nav_text {
  padding-left: 40px;
}

.parent {
  position: relative;
}

.child {
  display: none;
  position: absolute;
  top: 100%;
  margin-right: 20;
  background-color: #fff;
  color: #fff !important;
  padding: 10px;
  border: 1px solid #ddd;
}

.parent:hover .child {
  display: block;
}


.tooltip {
  color: #3f51b5 !important;
  background-color: #125893 !important;
}


.sidebar_menu .parent::-webkit-scrollbar {
  display: none;
}

.sidebar_menu .parent .child {
  list-style: none;
}

.child {
  position: relative;
  width: fit-content;

}

.sidebar_menu .parent .child a:hover {
  background: #a3bcd1;
}

.sidebar_menu .parent .child .active {
  color: #125893;
}


::ng-deep .mat-tooltip {
  font-size: 15px;
  white-space: pre-wrap;
  color: gray !important;
  background-color: rgba(255, 255, 255, .9);
  border: 1px solid gray;
  max-width: unset !important;
}

.my-tooltip {
  font-size: 15px;
  white-space: pre-wrap;
  color: gray !important;
  background-color: rgba(255, 255, 255, .9) !important;
  border: 1px solid gray;
  max-width: unset !important;
}

.parentNavItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.matIconItems {
  transition: all 0.2s ease-in-out;
}