<mat-card>
    <mat-card-header>
        <mat-card-title>Create Quote</mat-card-title>
        <span></span>
        <p><b>DT Total</b></p> <br />
        <p><b>00.00</b></p>
    </mat-card-header>
    <mat-divider class="header_divider"></mat-divider>
    <mat-card-content class="mat-list">
        <mat-stepper labelPosition="bottom" #stepper class="mat-list">
            <div class="header-container">
                <form [formGroup]="quotationFormGroup">
                    <mat-step [stepControl]="quotationFormGroup" label="Quote Details">
                        <!-- <form [formGroup]="quotationFormGroup" (ngSubmit)="submit()"> -->
                        <!-- <ng-template matStepLabel>Quote Details</ng-template> -->
                        <h4><b>Quote Details</b></h4>
                        <div class="row_fields" fxLayout="row" fxLayoutGap="30px" fxLayout.xs="column"
                            fxLayoutGap.xs="0px">
                            <mat-form-field class="example-full-width" appearance="outline" fxFlex="50">
                                <mat-label>Start Date</mat-label>
                                <input matInput [matDatepicker]="picker" placeholder="28 Mar 2023 12:00"
                                    formControlName="startDate" name="startDate">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                            <mat-form-field class="example-full-width" appearance="outline" fxFlex="50">
                                <mat-label>End Date</mat-label>
                                <input matInput [matDatepicker]="picker1" placeholder="28 Mar 2023 12:00" name="endDate"
                                    formControlName="endDate" required>
                                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                <mat-datepicker #picker1></mat-datepicker>
                            </mat-form-field>
                        </div>

                        <div class="row_fields" fxLayout="row" fxLayoutGap="30px" fxLayout.xs="column"
                            fxLayoutGap.xs="0px">
                            <mat-form-field class="example-full-width" appearance="outline" fxFlex="50">
                                <mat-label>Quote expiry date</mat-label>
                                <input matInput [matDatepicker]="picker2" placeholder="28 Mar 2023 12:00"
                                    name="quotationExpiryDate" formControlName="quotationExpiryDate" required>
                                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                <mat-datepicker #picker2></mat-datepicker>

                            </mat-form-field>
                            <mat-form-field class="example-full-width" appearance="outline" fxFlex="50">
                                <mat-label>Source</mat-label>
                                <mat-select placeholder="On The Spot" formControlName="source" name="Source" required>
                                    <mat-option></mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="row_fields" fxLayout="row" fxLayoutGap="30px" fxLayout.xs="column"
                            fxLayoutGap.xs="0px">
                            <mat-form-field class="example-full-width" appearance="outline" fxFlex="50">
                                <mat-label>Category</mat-label>
                                <mat-select matInput placeholder="Default" formControlName="vehicleCategoryId"
                                    name="Vehicle_Category" required>
                                    <mat-option *ngFor="let category of vehicleCategory" [value]="category.id">
                                        {{category.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field class="example-full-width" appearance="outline" fxFlex="50">
                                <mat-label>Amount</mat-label>
                                <input matInput placeholder="DT" name="Amount" formControlName="amount" required>
                            </mat-form-field>
                        </div>
                        <div class="row_fields" fxLayout="row" fxLayoutGap="30px" fxLayout.xs="column"
                            fxLayoutGap.xs="0px">
                            <mat-form-field class="example-full-width" appearance="outline" fxFlex="50">
                                <mat-label>Pick Up Agency</mat-label>
                                <mat-select placeholder="Select" formControlName="departureAgencyId"
                                    name="pick_up_agency" required>
                                    <mat-option>

                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field class="example-full-width" appearance="outline" fxFlex="50">
                                <mat-label>Drop Off Agency</mat-label>
                                <mat-select placeholder="Select" name="drop_off_agency" formControlName="returnAgencyId"
                                    required>
                                    <mat-option>

                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div style="text-align: right;">
                            <button class="btn-next" mat-button matStepperNext> Next ></button>
                        </div>
                        <!-- </form> -->
                        <!-------------------------customerr------------------------------->
                    </mat-step>
                    <mat-step [stepControl]="customerFormGroup" label="Customer">
                        <div *ngIf="showCustomerContent" style="margin-top: 40px;">
                            <div style="display: flex;justify-content: space-between;">
                                <h4><b>Customer</b></h4>
                                <button class="button_create" mat-raised-button (click)="showCustomerContent = false">+
                                    Create Customer</button>
                            </div>

                            <!-- <form [formGroup]="customerFormGroup"> -->
                            <div class="row_fields" fxLayout="row" fxLayoutGap="30px">
                                <!-- <mat-form-field class="example-full-width" appearance="outline" fxFlex="100">
                                    <mat-label>Find Customer</mat-label>
                                    <input matInput placeholder="Find Customer" name="find_customer"  [value]="search"  (keyup)="filterData()">
                                </mat-form-field> -->
                                <mat-form-field class="example-full-width" appearance="outline" fxFlex="100">
                                    <mat-select matInput placeholder="Find Customer"
                                        (selectionChange)="onchange($event.value,'1')" required>
                                        <input #search matInput placeholder="Search" class="search-input"
                                            (keyup)="filter(search.value,'1')">

                                        <mat-option *ngFor="let customer of customers"
                                            [value]="customer.id">{{customer.firstName}}</mat-option>

                                    </mat-select>
                                </mat-form-field>



                            </div>
                            <div style="display: flex;justify-content: space-between;">
                                <button style="color: #125893;background: #D7F1FF;" mat-button matStepperPrevious
                                    (onClick)="showCustomerContent = true">
                                    < Previous</button>
                                        <button class="btn-next" mat-button matStepperNext> Next ></button>
                            </div>
                        </div>
                        <div *ngIf="!showCustomerContent">
                            <div class="row_fields" fxLayout="row" fxLayoutGap="30px" fxLayout.xs="column"
                                fxLayoutGap.xs="0px">
                                <mat-form-field class="example-full-width" appearance="outline" fxFlex="50">
                                    <mat-label> First Name</mat-label>
                                    <input matInput placeholder="FirstName" formControlName="firstName" name="firstName"
                                        required>
                                </mat-form-field>
                                <mat-form-field class="example-full-width" appearance="outline" fxFlex="50">
                                    <mat-label>Last Name</mat-label>
                                    <input matInput placeholder="LastName" name="LastName" formControlName="lastName"
                                        required>

                                </mat-form-field>
                            </div>
                            <div class="row_fields" fxLayout="row" fxLayoutGap="30px" fxLayout.xs="column"
                                fxLayoutGap.xs="0px">
                                <mat-form-field class="example-full-width" appearance="outline" fxFlex="50">
                                    <mat-label>Email</mat-label>
                                    <input matInput placeholder="Enter Email" formControlName="email" name="email"
                                        required>

                                </mat-form-field>
                                <mat-form-field class="example-full-width" appearance="outline" fxFlex="50">
                                    <mat-label>Phone Number</mat-label>
                                    <input matInput placeholder="Enter Phone" formControlName="phone" name="phone"
                                        required>
                                </mat-form-field>
                            </div>
                            <h4><b>Add Permit</b></h4>
                            <div fxLayout="row" fxLayoutGap="30px" fxLayout.xs="column" fxLayoutGap.xs="0px">
                                <mat-form-field class="example-full-width" appearance="outline" fxFlex="100">
                                    <mat-label>Licence Number</mat-label>
                                    <input matInput placeholder="Licence Number" formControlName="licenseNo"
                                        name="licenseNo" required>
                                </mat-form-field>
                            </div>

                            <div class="row_fields" fxLayout="row" fxLayoutGap="30px" fxLayout.xs="column"
                                fxLayoutGap.xs="0px">
                                <mat-form-field class="example-full-width" appearance="outline" fxFlex="50">
                                    <mat-label>Date Of Birth</mat-label>
                                    <input matInput placeholder="Date Of Birth" formControlName="dob" name="dob"
                                        required>
                                </mat-form-field>
                                <mat-form-field class="example-full-width" appearance="outline" fxFlex="50">
                                    <mat-label>Date Licence Obtained</mat-label>
                                    <input matInput placeholder="Date Licence Obtained"
                                        formControlName="licenseCreationDate" name="Dateoflicence" required>
                                </mat-form-field>
                            </div>

                            <div fxLayout="row" class="flex-child-layout" fxLayoutGap="30px" fxLayout.xs="column"
                                fxLayoutGap.xs="0px">
                                <div fxFlex="90">
                                    <!-- <ngx-file-drag-drop>
                                        <div class="drop-zone">
                                            <p>Upload front of the license</p>
                                        </div>
                                    </ngx-file-drag-drop> -->
                                </div>
                                <div fxFlex="90">
                                    <!-- <ngx-file-drag-drop>
                                        <div class="drop-zone">
                                            <p>Upload back of the license</p>
                                        </div>
                                    </ngx-file-drag-drop> -->
                                </div>
                            </div>


                            <h4><b>Add Address</b></h4>
                            <div class="row_fields" fxLayout="row" fxLayoutGap="30px" fxLayout.xs="column"
                                fxLayoutGap.xs="0px">
                                <mat-form-field class="example-full-width" appearance="outline" fxFlex="50">
                                    <mat-label>Adddress</mat-label>
                                    <input matInput placeholder="Address" name="Address" formControlName="address1"
                                        required>
                                </mat-form-field>
                                <mat-form-field class="example-full-width" appearance="outline" fxFlex="50">
                                    <mat-label>Country</mat-label>
                                    <mat-select placeholder="Select" name="Country" formControlName="countryId"
                                        (selectionChange)="onChange($event.value)">
                                        <mat-option *ngFor="let country of Countries" [value]="country.id">
                                            {{country.name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <div class="row_fields" fxLayout="row" fxLayoutGap="30px" fxLayout.xs="column"
                                fxLayoutGap.xs="0px">
                                <mat-form-field class="example-full-width" appearance="outline" fxFlex="50">
                                    <mat-label>State</mat-label>
                                    <mat-select placeholder="Select" name="State" formControlName="stateId" required>
                                        <mat-option *ngFor="let state of State" [value]="state.id">
                                            {{state.name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field class="example-full-width" appearance="outline" fxFlex="50">
                                    <mat-label>City</mat-label>
                                    <input matInput placeholder="City" name="City" formControlName="city" required>
                                </mat-form-field>
                            </div>
                            <div class="row_fields" fxLayout="row" fxLayoutGap="30px" fxLayout.xs="column"
                                fxLayoutGap.xs="0px">
                                <mat-form-field class="example-full-width" appearance="outline" fxFlex="50">
                                    <mat-label> Zip Code</mat-label>
                                    <input matInput placeholder="1222" formControlName="postalCode" name="ZipCode"
                                        required>
                                </mat-form-field>
                            </div>
                            <mat-divider></mat-divider>
                            <div style="margin-top: 20px;display: flex;justify-content: space-between;">
                                <button style="color: #125893;background: #D7F1FF;" mat-button
                                    (click)="showCustomerContent = true">
                                    < Previous</button>
                                        <button class="btn-next" mat-button matStepperNext>Next ></button>
                            </div>
                        </div>

                        <!-- </form> -->

                        <!-- </div> -->
                        <!-- <ng-container *ngIf="!showCustomerContent">
                        <div style="margin: 10px;">
                            <app-create-customer></app-create-customer>
                        </div>
                    </ng-container> -->
                    </mat-step>
                    <mat-step [stepControl]="companyFormGroup" label="Company">
                        <mat-checkbox color="#125893"><label style="color: #125893;">Professional
                                Customer</label></mat-checkbox>
                        <div *ngIf="showCompanyContent" style="margin-top: 20px;">
                            <div style="display: flex;justify-content: space-between;">
                                <h4><b>Company</b></h4>
                                <button class="button_create" mat-raised-button (click)="showCompanyContent = false">+
                                    Create Company</button>
                            </div>
                            <!-- <form [formGroup]="companyFormGroup"> -->
                            <div class="row_fields" fxLayout="row" fxLayoutGap="30px">
                                <!-- <mat-form-field class="example-full-width" appearance="outline" fxFlex="100">
                                    <mat-label>Find Company</mat-label>
                                    <input matInput placeholder="Find Company" name="find_company">
                                </mat-form-field> -->

                                <mat-form-field class="example-full-width" appearance="outline" fxFlex="100">
                                    <mat-select matInput placeholder="Find Company"
                                        (selectionChange)="onchange($event.value,'2')" required>
                                        <input #searching matInput placeholder="Search" class="search-input"
                                            (keyup)="filter(searching.value,'2')">

                                        <mat-option *ngFor="let com of company"
                                            [value]="com.id">{{com.name}}</mat-option>

                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div style="display:flex;justify-content: space-between;">
                                <button style="color: #125893;background: #D7F1FF;" mat-button matStepperPrevious>
                                    < Previous </button>
                                        <button class="btn-next" mat-button (click)="submit()">Submit</button>
                            </div>
                            <!-- </form> -->
                        </div>
                        <div *ngIf="!showCompanyContent">
                            <div class="row_fields" fxLayout="row" fxLayoutGap="30px" fxLayout.xs="column"
                                fxLayoutGap.xs="0px">
                                <mat-form-field class="example-full-width" appearance="outline" fxFlex="50">
                                    <mat-label>Company Name</mat-label>
                                    <input matInput placeholder="company name" formControlName="name"
                                        name="company_name" required>
                                </mat-form-field>

                                <mat-form-field class="example-full-width" appearance="outline" fxFlex="50">
                                    <mat-label>Email</mat-label>
                                    <input matInput placeholder="Email" name="email" formControlName="company_email"
                                        required>

                                </mat-form-field>
                            </div>
                            <div class="row_fields" fxLayout="row" fxLayoutGap="30px" fxLayout.xs="column"
                                fxLayoutGap.xs="0px">
                                <mat-form-field class="example-full-width" appearance="outline" fxFlex="50">
                                    <mat-label>SIREN Number</mat-label>
                                    <input matInput placeholder="SIREN Number" formControlName="sirenno"
                                        name="SIREN_number" required>
                                </mat-form-field>
                                <mat-form-field class="example-full-width" appearance="outline" fxFlex="50">
                                    <mat-label>Phone Number</mat-label>
                                    <input matInput placeholder="Enter Phone" formControlName="company_phone"
                                        name="PhoneNumber" required>
                                </mat-form-field>
                            </div>
                            <h4><b>Add Address</b></h4>
                            <div class="row_fields" fxLayout="row" fxLayoutGap="30px" fxLayout.xs="column"
                                fxLayoutGap.xs="0px">
                                <mat-form-field class="example-full-width" appearance="outline" fxFlex="50">
                                    <mat-label>Adddress</mat-label>
                                    <input matInput placeholder="Address" name="Address"
                                        formControlName="company_address1" required>
                                </mat-form-field>
                                <mat-form-field class="example-full-width" appearance="outline" fxFlex="50">
                                    <mat-label>Country</mat-label>
                                    <mat-select placeholder="Select" formControlName="company_countryId"
                                        name="countryId" (selectionChange)="onChange($event.value)" required>
                                        <mat-option *ngFor="let con of Countries" [value]="con.id">
                                            {{con.name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                            </div>

                            <div class="row_fields" fxLayout="row" fxLayoutGap="30px" fxLayout.xs="column"
                                fxLayoutGap.xs="0px">
                                <mat-form-field class="example-full-width" appearance="outline" fxFlex="50">
                                    <mat-label>State</mat-label>
                                    <mat-select placeholder="Select" formControlName="company_stateId" name="stateId"
                                        required>
                                        <mat-option *ngFor="let state of State" [value]="state.id">
                                            {{state.name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <mat-form-field class="example-full-width" appearance="outline" fxFlex="50">
                                    <mat-label>City</mat-label>
                                    <input matInput placeholder="City" name="City" formControlName="company_city"
                                        required>
                                </mat-form-field>
                            </div>
                            <div class="row_fields" fxLayout="row" fxLayoutGap="30px" fxLayout.xs="column"
                                fxLayoutGap.xs="0px">
                                <mat-form-field class="example-full-width" appearance="outline" fxFlex="50">
                                    <mat-label> Zip Code</mat-label>
                                    <input matInput placeholder="1222" formControlName="company_postalCode"
                                        name="ZipCode" required>
                                </mat-form-field>
                            </div>
                            <mat-divider></mat-divider>
                            <div style="display:flex;justify-content: space-between; margin-top: 20px;">
                                <button style="color: #125893;background: #D7F1FF;" mat-button
                                    (click)="showCompanyContent = true">
                                    < Previous</button>
                                        <button class="btn-next" mat-button (click)="submit()">Next ></button>
                            </div>
                        </div>
                        <!-- <ng-container *ngIf="!showCompanyContent">
                            <div style="margin: 10px;">
                                <app-create-company></app-create-company>
                            </div>
                        </ng-container> -->
                    </mat-step>
                </form>
            </div>
        </mat-stepper>
    </mat-card-content>
</mat-card>