.main_container {
    width: 100%;
    margin-left: auto;
    box-sizing: border-box;
    margin-right: auto;
    display: block;
    padding: 30px;
    color: #7e7e7e;
}

.privacy_container {
    margin: 0;
    font-size: 30px;
    font-weight: 700;
    text-transform: capitalize;
    color: rgba(0, 0, 0, 0.87);
    font-family: var(--font-family);
    line-height: 2.167;
}

.content_div h2 {
    font-size: 16px;
    font-weight: 700;
    color: black;
    margin-bottom: 0;
}