<div class="main_container">
    <h1 class="privacy_container">Privacy Policy</h1>
    <div class="content_div">

        <p>We take your privacy seriously. This privacy policy describes how we collect, use, and share your
            personal information in connection with our admin dashboard.</p>
        <h2>Collection of Information</h2>
        <p>We collect personal information that you provide to us, such as your name, email address, and other
            contact information. We also collect information about your use of our admin dashboard, such as the
            pages you view and the actions you take.</p>
        <h2>Use of Information</h2>
        <p>We use your personal information to provide you with access to our admin dashboard and to improve our
            services. We may also use your information to communicate with you, to send you updates about our
            services, and to respond to your inquiries and requests.</p>
        <h2>Sharing of Information</h2>
        <p>We do not share your personal information with third parties, except as required by law or as necessary
            to provide our services to you. We may share your information with service providers who assist us in
            operating our admin dashboard or in providing other services to you.</p>
        <h2>Security</h2>
        <p>We take reasonable measures to protect your personal information from unauthorized access, use, or
            disclosure. However, no method of transmission over the internet or electronic storage is completely
            secure, so we cannot guarantee absolute security.</p>
        <h2>Updates</h2>
        <p>We may update this privacy policy from time to time. We will notify you of any changes by posting the new
            policy on our admin dashboard. You are advised to review this policy periodically for any changes.</p>
        <h2>Contact Us</h2>
        <p>If you have any questions about this privacy policy or our use of your personal information, please
            contact us at <a href="mailto:contact@example.com">contact@example.com</a>.</p>
        <p>This privacy policy is provided as a sample and should be modified to reflect the specific practices and
            policies of your admin dashboard. Additionally, it is recommended that you consult with legal counsel to
            ensure that your privacy policy complies with applicable laws and regulations.</p>
    </div>
</div>