.org_list {
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
}

.space {
    flex: auto;
}

.header.name-column {
    background-color: #E6F8FFC7;
    font-weight: bold;
}

::ng-deep .mat-mdc-text-field-wrapper {
    height: 40px !important;
    align-items: center !important;
}

.table-container {
    max-width: 100%;
    overflow: auto;
    box-shadow: none !important;
    
}

table {
    margin: 0px !important;
}

/* .example-full-width {
    position: absolute;
    right: 10px;
    margin: 10px !important;
}



.example-full-width{
    top: 75px
} */