<mat-card>
    <mat-card-content>
        <mat-card-header>
            <mat-card-title>{{'VEHICLE_LIST.LISTING'|translate}}</mat-card-title>
            <span class="space"></span>
            <button class="button_create" mat-raised-button routerLink="/vehicle/create"> <img
                    src="../../../assets/images/ic_plus.svg" alt="add icon"><span
                    class="btn_span_text">{{'VEHICLE_LIST.CREATE'|translate}}</span> </button>
        </mat-card-header>
        <mat-divider></mat-divider>

        <section class="table-container mat-list">
            <div class="search_box">
                <mat-form-field appearance="outline">
                    <input type="text" matInput placeholder="Search of Vehicle" name="search" [(ngModel)]="searchVal"
                        (keyup)="filterData($event)" />
                    <button matSuffix mat-button (click)="filterData($event)"><mat-icon>search</mat-icon></button>
                </mat-form-field>
            </div>
            <div class="table-responsive" tabindex="0">
                <table mat-table matSort [dataSource]="dataSource">
                    <ng-container matColumnDef="id">
                        <th class="header name-column" mat-header-cell *matHeaderCellDef>
                            <span>#</span>
                        </th>
                        <td mat-cell *matCellDef="let request; let i = index">{{i + 1}}</td>
                    </ng-container>
                    <ng-container matColumnDef="model">
                        <th class="header name-column" mat-header-cell *matHeaderCellDef>
                            <span>{{'VEHICLE_LIST.VEHICLE'|translate}}</span>
                        </th>
                        <td mat-cell *matCellDef="let request">{{request.model}}</td>
                    </ng-container>
                    <ng-container matColumnDef="registrationNo">
                        <th class="header name-column" mat-header-cell *matHeaderCellDef>
                            <span>{{'VEHICLE_LIST.REGISTRATION'|translate}}</span>
                        </th>
                        <td mat-cell *matCellDef="let request">{{request.registrationNo}}</td>
                    </ng-container>
                    <ng-container matColumnDef="vehicleCategoryId">
                        <th class="header name-column" mat-header-cell *matHeaderCellDef>
                            <span>{{'VEHICLE_LIST.CATEGORY'|translate}}</span>
                        </th>
                        <td mat-cell *matCellDef="let request">{{request.vehicles_category_name}}</td>
                    </ng-container>
                    <ng-container matColumnDef="agencyId">
                        <th class="header name-column" mat-header-cell *matHeaderCellDef>
                            <span>{{'VEHICLE_LIST.AGENCY'|translate}}</span>
                        </th>
                        <td mat-cell *matCellDef="let request">{{request.agency_name}}</td>
                    </ng-container>
                    <ng-container matColumnDef="motorization">
                        <th class="header name-column" mat-header-cell *matHeaderCellDef>
                            <span>{{'VEHICLE_LIST.FUEL'|translate}}</span>
                        </th>
                        <td mat-cell *matCellDef="let request">{{request.motorization}}</td>
                    </ng-container>
                    <ng-container matColumnDef="gearBox">
                        <th class="header name-column" mat-header-cell *matHeaderCellDef>
                            <span>{{'VEHICLE_LIST.GEARBOX'|translate}}</span>
                        </th>
                        <td mat-cell *matCellDef="let request">{{request.gearBox}}</td>
                    </ng-container>

                    <ng-container matColumnDef="actions">
                        <th class="header name-column" mat-header-cell *matHeaderCellDef>
                            <span>{{'SHARE.ACTION'|translate}}</span>
                        </th>
                        <td mat-cell *matCellDef="let request" class="mat-icon-action">
                            <a href="javascript:void(0)" [routerLink]="['/vehicle/view/',request.id]"><mat-icon
                                    class="mat_rightIcon">visibility</mat-icon></a>
                            <a href="javascript:void(0)" [routerLink]="['/vehicle/edit/',request.id]"><mat-icon
                                    class="mat_editIcon">edit_outline</mat-icon></a>
                            <a href="javascript:void(0)" (click)="deleteVehicle(request.id)"><mat-icon
                                    class="mat_crossIcon">delete</mat-icon></a>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                    <tr mat-row *matRowDef="let request; columns: columnsToDisplay"></tr>
                </table>
                <div *ngIf="vehicles == undefined || vehicles.length === 0" class="empty-result">
                    <img src="../../../assets/images/EmptyState_No_Records.svg" />
                    <p>Empty record. Add vehicles to begin.</p>
                </div>
            </div>
            <mat-paginator #paginator [pageSizeOptions]="[10,20,30]"></mat-paginator>
        </section>
    </mat-card-content>
</mat-card>