.header.name-column {
  background-color: #E6F8FFC7;
}

.mat-mdc-card {
  position: relative;
}

.mat-mdc-tab-group {
  position: relative;
}

.search_add_button{
  display: flex;
  gap: 20px;
}


@media screen and (max-width: 767px) {
  .align-button {
    top: 6% !important;
    right: 10%;
  }
}