<mat-card>
    <mat-card-header class="custom_header pb-0">
        <nav mat-tab-nav-bar [tabPanel]="tabPanel">
            <a mat-tab-link [active]="selectedTab === 'category'" (click)="selectedTab = 'category'">
                {{ 'VEHICLE_CONFIG.VEHICLE_CATEGORY' | translate }}
            </a>
            <a mat-tab-link [active]="selectedTab === 'type'" (click)="selectedTab = 'type'">
                {{ 'VEHICLE_CONFIG.VEHICLE_TYPE' | translate }}
            </a>
            <a mat-tab-link [active]="selectedTab === 'brand'" (click)="selectedTab = 'brand'">
                {{ 'VEHICLE_CONFIG.VEHICLE_BRAND' | translate }}
            </a>
        </nav>
        <div class="search_add_button">
            <div class="search_box">
                <mat-form-field appearance="outline" class="searchField">
                    <input type="text" matInput class="config_search"
                        [placeholder]="selectedTab === 'category' ? 'Category' : selectedTab === 'type' ? 'Type' : 'Brand'"
                        name="search" [(ngModel)]="searchVal" (keyup)="filterData($event,selectedTab)" />
                    <button matSuffix mat-button (click)="filterData($event,selectedTab)"><mat-icon
                            class="search_icon">search</mat-icon></button>
                </mat-form-field>
            </div>
            <button *ngIf="selectedTab === 'category'" class="align-button button_create" mat-raised-button
                [routerLink]="['/vehicle/config_management/', 'Category']"><img src="../../../assets/images/ic_plus.svg"
                    alt="add icon"> <span class="btn_span_text">{{'VEHICLE_CONFIG.ADD_CATEGORY' |translate}}</span>
            </button>
            <button *ngIf="selectedTab === 'type'" class=" align-button button_create" mat-raised-button
                [disabled]="vehicleCategory === undefined || vehicleCategory.length === 0"
                [routerLink]="['/vehicle/config_management/', 'Type']"><img src="../../../assets/images/ic_plus.svg"
                    alt="add icon"> <span class="btn_span_text"> {{'VEHICLE_CONFIG.ADD_TYPE'
                    |translate}}</span></button>
            <button *ngIf="selectedTab === 'brand'" class="align-button  button_create" mat-raised-button
                [disabled]="vehicleType === undefined || vehicleType.length === 0"
                [routerLink]="['/vehicle/config_management/', 'Brand']"><img src="../../../assets/images/ic_plus.svg"
                    alt="add icon"> <span class="btn_span_text">{{'VEHICLE_CONFIG.ADD_BRAND' |translate}}</span>
            </button>
        </div>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-tab-nav-panel #tabPanel [(selectedIndex)]="selectedTabIndex" animationDuration="0ms" mat-stretch-tabs="false"
        mat-align-tabs="start" (selectedTabChange)="onTabChange($event)">
        <section class="table-container mat-list">{{(vehicleCategory && vehicleCategory === undefined) || (vehicleType && vehicleType === undefined) || (vehicleBrand && vehicleBrand === undefined)}}
            <div *ngIf="selectedTab === 'category' || selectedTab === 'type' || selectedTab === 'brand'">
                <div *ngIf="(vehicleCategory && vehicleCategory === undefined) || (vehicleType && vehicleType === undefined) || (vehicleBrand && vehicleBrand === undefined)"
                    class="empty-result">
                    <img src="../../../assets/images/EmptyState_No_Records.svg" />
                    <p>Empty record. Add vehicle {{selectedTab}} to begin.</p>
                </div>
                <table mat-table matSort *ngIf="(selectedTab === 'category' && vehicleCategory && vehicleCategory.length > 0) || (selectedTab === 'type' && vehicleType && vehicleType.length > 0) || (selectedTab === 'brand' && vehicleBrand && vehicleBrand.length > 0)"
                    [dataSource]="selectedTab === 'category' ? dataSourceCategory : selectedTab === 'type' ? dataSourceType : dataSourceBrand">
                    <ng-container [matColumnDef]="selectedTab === 'category' ? 'vehicle_category' : 
                selectedTab === 'type' ? 'vehicle_type' : 'vehicle_brand'">
                        <th [ngStyle]="selectedTab === 'category' ? { 'width': '70%' } : {}" class="header name-column"
                            mat-header-cell *matHeaderCellDef>
                            <span *ngIf="selectedTab === 'category'">{{ 'VEHICLE_CONFIG.VEHICLE_CATEGORY' | translate
                                }}</span>
                            <span *ngIf="selectedTab === 'type'">{{ 'VEHICLE_CONFIG.VEHICLE_TYPE' | translate }}</span>
                            <span *ngIf="selectedTab === 'brand'">{{ 'VEHICLE_CONFIG.VEHICLE_BRAND' | translate
                                }}</span>
                        </th>
                        <td mat-cell *matCellDef="let data">{{ data.name }}</td>
                    </ng-container>
                    <ng-container matColumnDef="Category" matColumnDef="Category"
                        *ngIf="selectedTab === 'type' || selectedTab === 'brand'">
                        <th [ngStyle]="selectedTab === 'type' ? { 'width': '40%' } : {}" class="header name-column"
                            mat-header-cell *matHeaderCellDef>
                            <span>Category</span>
                        </th>
                        <td mat-cell *matCellDef="let data">{{ data.vehiclesCategoryId }}</td>
                    </ng-container>
                    <ng-container matColumnDef="Type" *ngIf="selectedTab === 'brand'">
                        <th class="header name-column" mat-header-cell *matHeaderCellDef>
                            <span>Type</span>
                        </th>
                        <td mat-cell *matCellDef="let data">{{ data.vehiclesTypeId }}</td>
                    </ng-container>
                    <ng-container matColumnDef="isActive">
                        <th class="header name-column" mat-header-cell *matHeaderCellDef>
                            <span>{{'VEHICLE_CONFIG.ACTIVE' |translate}}</span>
                        </th>
                        <td mat-cell *matCellDef="let data">
                            <mat-icon *ngIf="data.status==='1'" class="mat_doneIcon">done</mat-icon>
                            <mat-icon *ngIf="data.status==='0'" class="mat_crossIcon">close</mat-icon>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="actions">
                        <th class="header name-column" mat-header-cell *matHeaderCellDef>
                            <span>{{'SHARE.ACTION' |translate}}</span>
                        </th>
                        <td mat-cell *matCellDef="let data" class="mat-icon-action">
                            <a href="javascript:void(0)"
                                [routerLink]="selectedTab === 'category' ? '/vehicle/view/Category/' + data.id : selectedTab === 'type' ? '/vehicle/view/Type/' + data.id :selectedTab === 'brand' ? '/vehicle/view/Brand/' + data.id : '/vehicle/view/Category/' + data.id"><mat-icon
                                    class="mat_rightIcon">visibility</mat-icon></a>
                            <a href="javascript:void(0)"
                                [routerLink]="selectedTab === 'category' ? '/vehicle/edit/Category/' + data.id : selectedTab === 'type' ? '/vehicle/edit/Type/' + data.id :selectedTab === 'brand' ? '/vehicle/edit/Brand/' + data.id : '/vehicle/edit/Category/' + data.id">
                                <mat-icon class="mat_editIcon">edit_outline</mat-icon>
                            </a>
                            <a href="javascript:void(0)" (click)="selectedTab === 'category' ? deleteCategory(data.id) : 
                            selectedTab === 'type' ? deleteType(data.id) : deleteBrand(data.id) ">
                                <mat-icon class="mat_crossIcon">delete</mat-icon>
                            </a>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="selectedTab === 'category' ? columnsToDisplayCategory : 
                selectedTab === 'type' ? columnsToDisplayType : columnsToDisplayBrand"></tr>
                    <tr mat-row *matRowDef="let data; columns:  selectedTab === 'category' ? columnsToDisplayCategory : 
                selectedTab === 'type' ? columnsToDisplayType : columnsToDisplayBrand"></tr>
                </table>
            </div>
        </section>
    </mat-tab-nav-panel>
</mat-card>