<div class="mat-list">
    <div *ngIf="item === 'Category'">
        <app-add-category></app-add-category>
    </div>
    <div *ngIf="item === 'Type'">
        <app-add-type></app-add-type>
    </div>
    <div *ngIf="item === 'Brand'">
        <app-add-brand></app-add-brand>
    </div>
</div>