<mat-card>
  <mat-card-header>
    <mat-card-title>
      {{'VEHICLE_CONFIG.VEHICLE_CATEGORY' |translate}}
    </mat-card-title>
  </mat-card-header>
  <mat-divider class="header_divider mb-20"></mat-divider>
  <mat-card-content class="mat-list">
    <form [formGroup]="addCategoryForm" class="form">
      <div fxLayout="row">
        <mat-form-field class="example-full-width" floatLabel="always" appearance="outline" fxFlex="100">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Please Enter {{'VEHICLE_CONFIG.VEHICLE_CATEGORY' |translate}}"
            formControlName="name" name="name" required>
          <mat-error
            *ngIf="addCategoryForm.controls['name']?.errors?.['required']">{{'ERROR_MSG.CATEGORY_REQ'|translate}}</mat-error>
        </mat-form-field>
      </div>
      <mat-checkbox class="example-margin"  formControlName="status" [checked]="addCategoryForm.value.status == 1 ? true : false">is Active</mat-checkbox>
      <div *ngIf="!viewId" class="button_field" fxLayout="row" fxLayoutGap.xs="10px">
        <button class="btn" mat-button (click)="back()">{{'SHARE.CANCEL' | translate}} </button>
        <button class="button" mat-button (click)="submit()">{{ id ? ('SHARE.UPDATE' | translate) :
          ('SHARE.SAVE' | translate) }}</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>