.agency_container {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}

.mat-card-list {
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.09);
  border-radius: 10px;
  padding: 15px 15px 0 15px;
}

.mdc-button{
  min-width: 45px !important;
}

span {
  flex: auto;
}

.btn_delete_outline{
  color: #E22222
}

.btn_edit_outline{
  color:#125893;
}

.mat_agencyButton{
  text-align: center;
}

.agency_address{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}