<div class="content">
  <mat-card>
    <mat-card-content>
      <mat-card-header>
        <mat-card-title>
          {{'AGENCY.MANAGEMENT'| translate}}
        </mat-card-title>
        <button class="button_create" mat-raised-button routerLink="/agency/add"> <img
            src="../../../assets/images/ic_plus.svg" alt="add icon"> <span class="btn_span_text">{{ 'AGENCY.ADD_AGENCY'
            | translate }}</span>
        </button>
      </mat-card-header>
      <mat-divider></mat-divider>
      <div *ngIf="Agencies === undefined || Agencies.length === 0" class="empty-result">
        <img src="../../../assets/images/EmptyState_No_Records.svg" />
        <p>Empty record. Add agencies to begin.</p>
      </div>

      <div class="mat-list" *ngIf="Agencies != undefined " fxLayout="row wrap" fxLayoutGap="15px">
        <div class="main_listDiv" fxFlex="33" fxFlex.sm="50" fxFlex.xs="100" *ngFor="let card of Agencies;let i=index"
          style="margin:0 !important">
          <div class="mat-card-list">
            <div><strong>{{card.name}}</strong></div>
            <div class="dashboard-card-content">
              <div class="agency_container">
                <div>{{'AGENCY.VEHICLENUMBER' |translate}}- {{card.noOfRegisteredVehicles}}</div>
                <div>{{'AGENCY.AGENCYCODE' |translate}}- {{card.agencyCode}}</div>
                <div class="agency_address">{{'AGENCY.ADDRESS' |translate}}- {{card.address1}}</div>
                <div *ngIf="card.agencyTrue">
                  <span *ngIf="card.agencyTrue.isChecked">{{card.agencyTrue.translate| translate}}- open
                    from:{{card.agencyTrue.minTime}} to
                    {{card.agencyTrue.maxTime}}</span>
                </div>
              </div>
              <mat-divider></mat-divider>
            </div>
            <div class="mat_agencyButton">
              <!-- <a href="javascript:void(0)"><mat-icon class="mat_rightIcon">visibility</mat-icon></a>
              <a href="javascript:void(0)"><mat-icon class="mat_editIcon"
                [routerLink]="['/agency/edit/', card.id]" >edit_outline</mat-icon></a>
              <a href="javascript:void(0)"><mat-icon class="mat_crossIcon"
                (click)="deleteAgency(card.id,i)">delete</mat-icon></a> -->
              <button mat-button class="btn_view_outline" [routerLink]="['/agency/view/', card.id]"><mat-icon class="mat_rightIcon pr-0">visibility</mat-icon></button>
              <button [routerLink]="['/agency/edit/', card.id]" mat-button class="btn_edit_outline">
                <mat-icon class="pr-0">edit_outline</mat-icon>
              </button>
              <button (click)="deleteAgency(card.id,i)" mat-button class="btn_delete_outline">
                <mat-icon class=" pr-0">delete_outline</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>