<div class="confirmation-box">
    <mat-dialog-content>
        <div class="main-content">
            <span class="material-symbols-outlined">
                <mat-icon>delete</mat-icon>
            </span>
            <div>
                <div class="name">Delete "{{message?.name}}"</div>
                <div class="confirmation">Are you sure?</div>
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-raised-button mat-dialog-close class="cancelButton" tabindex="-1">{{cancelButtonText}}</button>
        <button mat-raised-button color="primary" class="deleteButton" (click)="onConfirmClick()"
            tabindex="1">{{confirmButtonText}}</button>
    </mat-dialog-actions>
</div>