.confirmation-box {
    background-color: rgb(255, 255, 255);
    color: rgba(0, 0, 0, 0.87);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    box-shadow: none;
    overflow: hidden;
    border-radius: 10px;
    padding: 24px;
    min-width: 325px;
    min-height: 100px;
}

.mdc-dialog__actions {
    justify-content: flex-end !important;
}

.deleteButton {
    background-color: rgb(211, 47, 47);
}

.cancelButton {
    box-shadow: none;
}

mat-dialog-content,
mat-dialog-actions {
    padding: 0 !important;
}

.name {
    color: #000000 !important;
    font-weight: 500;
    font-size: 20px;
}