<mat-card>
  <mat-card-header>
    <mat-card-title>
      {{ id ? ('AGENCY.UPDATED_AGENCY' | translate) : viewId ? ('AGENCY.VIEW_AGENCY' | translate) : ('AGENCY.ADD_AGENCY' | translate) }}
    </mat-card-title>
  </mat-card-header>
  <mat-divider class="header_divider"></mat-divider>
  <mat-card-content>
    <form [formGroup]="addAgencyForm" class="mat-list form">
      <p class="agency_text mb-30 mt-10">{{'AGENCY.AGENCY_DETAIL' |translate}}</p>
      <div class="row_fields" fxLayout="row" fxLayout.xs="column" fxLayoutGap="30px" fxLayoutGap.xs="0px">
        <mat-form-field floatLabel="always" class="example-full-width" appearance="outline" fxFlex="50">
          <mat-label>{{'AGENCY.NAME'|translate}}</mat-label>
          <input placeholder="{{'AGENCY.NAME'|translate}}" matInput formControlName="name" name="name" required>
          <mat-error
            *ngIf="addAgencyForm.controls['name']?.errors?.['required']">{{'ERROR_MSG.AGENCY_NAME'|translate}}</mat-error>
        </mat-form-field>
        <mat-form-field floatLabel="always" class="example-full-width" appearance="outline" fxFlex="50">
          <mat-label>{{'AGENCY.VEHICLENUMBER' |translate}}</mat-label>
          <input placeholder="{{'AGENCY.VEHICLENUMBER' |translate}}" type="number" min="1" max="99" matInput
            name="noOfRegisteredVehicles" formControlName="noOfRegisteredVehicles" required>
          <mat-error
            *ngIf="addAgencyForm.controls['noOfRegisteredVehicles']?.errors?.['required']">{{'ERROR_MSG.NO_VEHICLE_REQ'|translate}}</mat-error>
            <mat-error *ngIf="addAgencyForm.controls['noOfRegisteredVehicles']?.errors?.['max']">
              Maximum length exceeded.
            </mat-error>
        </mat-form-field>
      </div>

      <div class="row_fields" fxLayout="row" fxLayoutGap="30px" fxLayout.xs="column" fxLayoutGap.xs="0px">
        <mat-form-field floatLabel="always" class="example-full-width" appearance="outline" fxFlex="50">
          <mat-label>{{'AGENCY.AGENCYCODE' |translate}}</mat-label>
          <input placeholder="{{'AGENCY.AGENCYCODE' |translate}}" matInput formControlName="agencyCode"
            name="agencyCode" required>
          <mat-error *ngIf="addAgencyForm.controls['agencyCode']?.errors?.['required']">{{'ERROR_MSG.CODE_REQ'|translate}}</mat-error>
        </mat-form-field>
        <mat-form-field floatLabel="always" class="example-full-width" appearance="outline" fxFlex="50">
          <mat-label>{{'AGENCY.ADDRESS' |translate}}</mat-label>
          <input placeholder="{{'AGENCY.ADDRESS' |translate}}" matInput name="address1" formControlName="address1"
            required>
          <mat-error
            *ngIf="addAgencyForm.controls['address1']?.errors?.['required']">{{'ERROR_MSG.AGENCY_ADDRESS'|translate}}</mat-error>
        </mat-form-field>
      </div>

      <div class="row_fields" fxLayout="row" fxLayout.xs="column" fxLayoutGap="30px" fxLayoutGap.xs="0px">
        <mat-form-field floatLabel="always" class="example-full-width" appearance="outline" fxFlex="50">
          <mat-label>{{'SHARE.COUNTRY' |translate}}</mat-label>
          <mat-select placeholder="{{'SHARE.COUNTRY' |translate}}" formControlName="countryId" name="countryId"
            (selectionChange)="onChangeState($event.value)" required>
            <mat-option *ngFor="let con of Countries" [value]="con.id">
              <span class="fi fi-{{con.sortname | lowercase}}"></span>
              {{con.name}}
            </mat-option>
          </mat-select>
          <mat-error
            *ngIf="addAgencyForm.controls['countryId']?.errors?.['required']">{{'ERROR_MSG.COUNTRY_REQ'|translate}}</mat-error>
        </mat-form-field>
        <mat-form-field floatLabel="always" class="example-full-width" appearance="outline" fxFlex="50">
          <mat-label>{{'SHARE.STATE' |translate}}</mat-label>
          <mat-select placeholder="{{'SHARE.STATE' |translate}}"  (selectionChange)="onChangeCity($event.value)" formControlName="stateId" name="stateId" required>
            <mat-option *ngFor="let state of State" [value]="state.id">
              {{state.name}}
            </mat-option>
          </mat-select>
          <mat-error
            *ngIf="addAgencyForm.controls['stateId']?.errors?.['required']">{{'ERROR_MSG.STATE_REQ'|translate}}</mat-error>
        </mat-form-field>
      </div>

      <div class="row_fields" fxLayout="row" fxLayoutGap="30px" fxLayout.xs="column" fxLayoutGap.xs="0px">
        <mat-form-field class="example-full-width" floatLabel="always" appearance="outline" fxFlex="50">
          <mat-label>{{'ORGANIZATION.CITY' |translate}}</mat-label>
          <mat-select placeholder="{{'ORGANIZATION.CITY' |translate}}" name="city" formControlName="city" required>
            <mat-option *ngFor="let cityData of city" [value]="cityData.name">
              {{cityData.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="addAgencyForm.controls['city']?.errors?.['required']">{{'ERROR_MSG.CITY_REQ' |
            translate}}</mat-error>
        </mat-form-field>
        <mat-form-field floatLabel="always" class="example-full-width" appearance="outline" fxFlex="50">
          <mat-label>{{'SHARE.ZIPCODE' |translate}}</mat-label>
          <input placeholder="{{'SHARE.ZIPCODE' |translate}}" matInput formControlName="postalCode" name="postalCode"
            required>
          <mat-error
            *ngIf="addAgencyForm.controls['postalCode']?.errors?.['required']">{{'ERROR_MSG.ZIP_CODE_REQ'|translate}}</mat-error>
        </mat-form-field>
      </div>

      <h4><strong> {{'AGENCY.HOUR_OPERATION' | translate}}</strong></h4>
      <mat-divider></mat-divider>
      <br>
   
      <div *ngFor="let data of addAgencyForm.value.agencyAvailbility;index as i;">
        <div class="form-group d-flex align-items-center">
          <div class="custom-control custom-checkbox checkLable">
            <div fxLayout="row" fxLayoutGap="20px" fxLayout.xs="column" fxLayoutGap.xs="0px" class="checkbox_agency">
              <mat-checkbox fxFlex="10" [value]="data.isChecked" [checked]="data.isChecked"
                (change)="onChange(i,data.isChecked)" required>{{data.translate |translate}}</mat-checkbox>
              <div *ngIf="data.isChecked && data.value === 'Monday'">
                <div fxLayout="row" fxLayoutGap="12px" fxLayout.xs="column" fxLayoutGap.xs="0px">
                  <mat-form-field floatLabel="always" class="timepicker" appearance="outline" fxFlex="40">
                    <input type="time" (change)="onChangeMin(data,i,$event)" [value]="data.minTime" matInput
                      name="week" />
                  </mat-form-field>
                  <mat-icon class="icon">minimize</mat-icon>
                  <mat-form-field floatLabel="always" class="timepicker" appearance="outline" fxFlex="40">
                    <input type="time" (change)="onChangeMax(data,i,$event)" [value]="data.maxTime" matInput
                      name="week" />
                  </mat-form-field>
                </div>
                <div class="mb-10 "><mat-error *ngIf="data.range">
                 {{'ERROR_MSG.INVALID_TIME'| translate}}
                </mat-error></div>
              </div>
              <div *ngIf="data.isChecked && data.value === 'Tuesday'">
                <div fxLayout="row" fxLayoutGap="20px" fxLayout.xs="column" fxLayoutGap.xs="0px">
                  <mat-form-field floatLabel="always" class="timepicker" appearance="outline" fxFlex="40">
                    <input type="time" (change)="onChangeMin(data,i,$event)" [value]="data.minTime" matInput
                      name="week" />
                  </mat-form-field>
                  <mat-icon class="icon">minimize</mat-icon>
                  <mat-form-field floatLabel="always" class="timepicker" appearance="outline" fxFlex="40">
                    <input type="time" (change)="onChangeMax(data,i,$event)" [value]="data.maxTime" matInput
                      name="week" />
                  </mat-form-field>
                </div>
                <div class="mb-10 "><mat-error *ngIf="data.range">
                  {{'ERROR_MSG.INVALID_TIME'| translate}}
                 </mat-error></div>
              </div>
              <div *ngIf="data.isChecked && data.value === 'Wednesday'">
                <div fxLayout="row" fxLayoutGap="20px" fxLayout.xs="column" fxLayoutGap.xs="0px">
                  <mat-form-field floatLabel="always" class="timepicker" appearance="outline" fxFlex="40">
                    <input type="time" matInput name="week" [value]="data.minTime"
                      (change)="onChangeMin(data,i,$event)" />
                  </mat-form-field>
                  <mat-icon class="icon">minimize</mat-icon>
                  <mat-form-field floatLabel="always" class="timepicker" appearance="outline" fxFlex="40">
                    <input type="time" matInput name="week" [value]="data.maxTime"
                      (change)="onChangeMax(data,i,$event)" />
                  </mat-form-field>
                </div>
                <div class="mb-10"><mat-error *ngIf="data.range">
                  {{'ERROR_MSG.INVALID_TIME'| translate}}
                 </mat-error></div>
              </div>
              <div *ngIf="data.isChecked && data.value === 'Thursday'">
                <div fxLayout="row" fxLayoutGap="20px" fxLayout.xs="column" fxLayoutGap.xs="0px">
                  <mat-form-field floatLabel="always" class="timepicker" appearance="outline" fxFlex="40">
                    <input type="time" matInput name="week" [value]="data.minTime"
                      (change)="onChangeMin(data,i,$event)" />
                  </mat-form-field>
                  <mat-icon class="icon">minimize</mat-icon>
                  <mat-form-field floatLabel="always" class="timepicker" appearance="outline" fxFlex="40">
                    <input type="time" matInput name="week" [value]="data.maxTime"
                      (change)="onChangeMax(data,i,$event)" />
                  </mat-form-field>
                </div>
                <div class="mb-10 "><mat-error *ngIf=" data.range">
                  {{'ERROR_MSG.INVALID_TIME'| translate}}
                 </mat-error></div>
              </div>
              <div *ngIf="data.isChecked &&  data.value === 'Friday'">
                <div fxLayout="row" fxLayoutGap="20px" fxLayout.xs="column" fxLayoutGap.xs="0px">
                  <mat-form-field floatLabel="always" class="timepicker" appearance="outline" fxFlex="40">
                    <input type="time" matInput name="week" [value]="data.minTime"
                      (change)="onChangeMin(data,i,$event)" />
                  </mat-form-field>
                  <mat-icon class="icon">minimize</mat-icon>
                  <mat-form-field floatLabel="always" class="timepicker" appearance="outline" fxFlex="40">
                    <input type="time" matInput name="week" [value]="data.maxTime"
                      (change)="onChangeMax(data,i,$event)" />
                  </mat-form-field>
                </div>
                <div class="mb-10"><mat-error *ngIf=" data.range">
                  {{'ERROR_MSG.INVALID_TIME'| translate}}
                 </mat-error></div>
              </div>
              <div *ngIf="data.isChecked && data.value === 'Saturday'">
                <div fxLayout="row" fxLayoutGap="20px" fxLayout.xs="column" fxLayoutGap.xs="0px">
                  <mat-form-field floatLabel="always" class="timepicker" appearance="outline" fxFlex="40">
                    <input type="time" matInput name="week" [value]="data.minTime"
                      (change)="onChangeMin(data,i,$event)" />
                  </mat-form-field>
                  <mat-icon class="icon">minimize</mat-icon>
                  <mat-form-field floatLabel="always" class="timepicker" appearance="outline" fxFlex="40">
                    <input type="time" matInput name="week" [value]="data.maxTime"
                      (change)="onChangeMax(data,i,$event)" />
                  </mat-form-field>
                </div>
                <div class="mb-10"><mat-error *ngIf="data.range">
                  {{'ERROR_MSG.INVALID_TIME'| translate}}
                 </mat-error></div>
              </div>
              <div *ngIf="data.isChecked && data.value === 'Sunday'">
                <div fxLayout="row" fxLayoutGap="20px" fxLayout.xs="column" fxLayoutGap.xs="0px">
                  <mat-form-field floatLabel="always" class="timepicker" appearance="outline" fxFlex="40">
                    <input type="time" matInput name="week" [value]="data.minTime"
                      (change)="onChangeMin(data,i,$event)" />
                  </mat-form-field>
                  <mat-icon class="icon">minimize</mat-icon>
                  <mat-form-field floatLabel="always" class="timepicker" appearance="outline" fxFlex="40">
                    <input type="time" matInput name="week" [value]="data.maxTime"
                      (change)="onChangeMax(data,i,$event)" />
                  </mat-form-field>
                </div>
                <div class="mb-10"><mat-error *ngIf="data.range">
                  {{'ERROR_MSG.INVALID_TIME'| translate}}
                 </mat-error></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <mat-error *ngIf="atLeastOneCheckedValidator() && checkBoxValidity">
        {{'ERROR_MSG.CHECK_ONE'|translate}}</mat-error>
      <div class="my-10">
        <mat-checkbox class="check_agency" color="primary" formControlName="status">{{'AGENCY.AGENCY_ACTIVE' |
          translate}}</mat-checkbox>
      </div>
      <div fxLayout="row" fxLayoutGap="20px" fxLayout.xs="column" fxLayoutGap.xs="0px">
        <h4><strong>{{'AGENCY.PAY_CONFIG' | translate}} </strong>
          <mat-checkbox class="check_agency" color="primary" formControlName="ispaymentgatewayEnabled"
            (change)="enableReq($event)">
            {{'AGENCY.ENABLE_PAYMENT' | translate}}
          </mat-checkbox>
        </h4>
      </div>

      <div class="row_fields" fxLayout="row" fxLayoutGap="30px" fxLayout.xs="column" fxLayoutGap.xs="0px"
        *ngIf="addAgencyForm.value.ispaymentgatewayEnabled">
        <mat-form-field floatLabel="always" class="example-full-width" appearance="outline" fxFlex="50">
          <mat-label>{{'AGENCY.PAY_PUBLIC' | translate}} </mat-label>
          <input placeholder="{{'AGENCY.PAY_PUBLIC' | translate}}" matInput formControlName="paymentGatewayPublickey"
            name="paymentGatewayPublickey">
          <mat-error
            *ngIf="addAgencyForm.controls['paymentGatewayPublickey']?.errors?.['required']">{{'ERROR_MSG.PAYMENT_PUBLICK_REQ'|translate}}</mat-error>
        </mat-form-field>

        <mat-form-field floatLabel="always" class="example-full-width" appearance="outline" fxFlex="50">
          <mat-label>{{'AGENCY.PAY_SECRET' | translate}} </mat-label>
          <input placeholder="{{'AGENCY.PAY_SECRET' | translate}}" matInput name="paymentGatewaySecretKey"
            formControlName="paymentGatewaySecretKey">
          <mat-error
            *ngIf="addAgencyForm.controls['paymentGatewaySecretKey']?.errors?.['required']">{{'ERROR_MSG.PAYMENT_SECRET_REQ'|translate}}</mat-error>
        </mat-form-field>
      </div>
      <div class="button_field" fxLayout="row" fxLayoutGap.xs="10px" *ngIf="!viewId">
        <button class="btn" mat-button (click)="back()">{{'SHARE.CANCEL' | translate}} </button>
        <button class="button" mat-button (click)="submit()">{{ id ? ('SHARE.UPDATE' | translate) : ('SHARE.SAVE' |
          translate) }}</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>