:host ::ng-deep .mdc-text-field__input::-webkit-calendar-picker-indicator {
  display: inline-block;
}
/* 
.btn {
  width: 124px;
  height: 42px;
  color: #125893;
  background-color: #FFFFFF !important;
  border-radius: 8px;
}

.button {
  width: 124px;
  height: 42px;
  background: #125893;
  color: #fff;
  border-radius: 8px;
}

.button_field {
  justify-content: flex-end;
} */


mat-toolbar {
  justify-content: space-between;
}

.content {
  padding: 16px;
}

.content>mat-card {
  margin-bottom: 16px;
}

.column-label {
  margin-right: 8px;
  font-size: 1rem;
}

.agency_text {
  font-size: 18px;
  font-weight: 500;
  line-height: 22.68px;
  text-align: left;
}