<div style="display: flex;justify-content: space-between;margin-bottom: 10px;">
  <h4><b>Create New Customer</b></h4>
  <button class="button_create" mat-raised-button>Find Customer</button>
</div>

<form [formGroup]="createCustomerForm" class="mat-list">
  <div class="row_fields" fxLayout="row" fxLayoutGap="30px" fxLayout.xs="column" fxLayoutGap.xs="0px">
    <mat-form-field class="example-full-width" appearance="outline" fxFlex="50">
      <mat-label> First Name</mat-label>
      <input matInput placeholder="FirstName" formControlName="Name" name="Name" required>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="outline" fxFlex="50">
      <mat-label>Last Name</mat-label>
      <input matInput placeholder="LastName" name="LastName" formControlName="LastName" required>

    </mat-form-field>
  </div>
  <div class="row_fields" fxLayout="row" fxLayoutGap="30px" fxLayout.xs="column" fxLayoutGap.xs="0px">
    <mat-form-field class="example-full-width" appearance="outline" fxFlex="50">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Enter Email" formControlName="Email" name="Email" required>

    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="outline" fxFlex="50">
      <mat-label>Phone Number</mat-label>
      <input matInput placeholder="Enter Phone" formControlName="PhoneNumber" name="PhoneNumber" required>
    </mat-form-field>
  </div>
  <h4><b>Add Permit</b></h4>
  <div fxLayout="row" fxLayoutGap="30px" fxLayout.xs="column" fxLayoutGap.xs="0px">
    <mat-form-field class="example-full-width" appearance="outline" fxFlex="100">
      <mat-label>Licence Number</mat-label>
      <input matInput placeholder="Licence Number" formControlName="Licence" name="Licence" required>

    </mat-form-field>
  </div>
  <div class="row_fields" fxLayout="row" fxLayoutGap="30px" fxLayout.xs="column" fxLayoutGap.xs="0px">
    <mat-form-field class="example-full-width" appearance="outline" fxFlex="50">
      <mat-label>Date Of Birth</mat-label>
      <input matInput placeholder="Date Of Birth" formControlName="DOB" name="DOB" required>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="outline" fxFlex="50">
      <mat-label>Date Licence Obtained</mat-label>
      <input matInput placeholder="Date Licence Obtained" formControlName="Dateoflicence" name="Dateoflicence" required>
    </mat-form-field>
  </div>

  <div fxLayout="row" class="flex-child-layout" fxLayoutGap="30px" fxLayout.xs="column" fxLayoutGap.xs="0px">
    <div fxFlex="90">
      <!-- <ngx-file-drag-drop  >
        <div class="drop-zone">
          <p>Upload Images of car</p>
        </div>
      </ngx-file-drag-drop> -->
    </div>
    <div fxFlex="90">
      <!-- <ngx-file-drag-drop >
        <div class="drop-zone">
          <p>Upload Images of car</p>
        </div>
      </ngx-file-drag-drop> -->
    </div>
  </div>

  <h4><b>Add Address</b></h4>
  <div class="row_fields" fxLayout="row" fxLayoutGap="30px" fxLayout.xs="column" fxLayoutGap.xs="0px">
    <mat-form-field class="example-full-width" appearance="outline" fxFlex="50">
      <mat-label>Adddress</mat-label>
      <input matInput placeholder="Address" name="Address" formControlName="Address" required>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="outline" fxFlex="50">
      <mat-label>Country</mat-label>
      <input matInput placeholder="All" formControlName="Country" name="Country" required>
    </mat-form-field>
  </div>

  <div class="row_fields" fxLayout="row" fxLayoutGap="30px" fxLayout.xs="column" fxLayoutGap.xs="0px">
    <mat-form-field class="example-full-width" appearance="outline" fxFlex="50">
      <mat-label>State</mat-label>
      <input matInput placeholder="State" name="State" formControlName="State" required>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="outline" fxFlex="50">
      <mat-label>City</mat-label>
      <input matInput placeholder="City" name="City" formControlName="City" required>
    </mat-form-field>
  </div>
  <div class="row_fields" fxLayout="row" fxLayoutGap="30px" fxLayout.xs="column" fxLayoutGap.xs="0px">
    <mat-form-field class="example-full-width" appearance="outline" fxFlex="50">
      <mat-label> Zip Code</mat-label>
      <input matInput placeholder="1222" formControlName="ZipCode" name="ZipCode" required>
    </mat-form-field>
  </div>
  <mat-divider></mat-divider>
  <div style="margin-top: 20px;display: flex;justify-content: space-between;">
    <button style="color: #125893;background: #D7F1FF;" mat-button matStepperPrevious>
     < Previous</button>
    <button class="btn-next" mat-button matStepperNext>Next ></button>
  </div>
</form>