.footer_mainContainer {
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}

.footer.left_sideConatiner {
    min-width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer.left_side span {
    color: #b1aeae;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}

.footer.right_sideContainer {
    color: #b1aeae;
    display: flex;
    flex-direction: row;
}

.footer_termsCondition, .footer_privacyPolicy{
    color: #b1aeae;
    text-decoration: none;
}

@media screen and (max-width: 767px) {
    .footer_mainContainer {
        padding: 10px 20px;
    }
    .footer.left_sideConatiner {
        align-items: center;

    }
}