<mat-card class="example-card">
    <mat-card-header style="padding: 25px 25px 0;">
        <mat-card-title>
            <h2>Tariff package</h2>
        </mat-card-title>
    </mat-card-header>
    <mat-divider class="header_divider"></mat-divider>
    <mat-card-content class="mat-list">
        <form [formGroup]="myForm" (ngSubmit)="submit()">
            <h3><strong>Tariff package information</strong></h3>
            <div class="row_fields" fxLayout="row" fxLayoutGap="30px" fxLayout.xs="column" fxLayoutGap.xs="0px">
                <mat-form-field class="example-full-width" appearance="outline" fxFlex="100">
                    <mat-label>Package Name</mat-label>
                    <input matInput placeholder="Enter Package Name" formControlName="packageName" name="package_name"
                        required>
                </mat-form-field>
            </div>
            <h4><strong>Tariff package information</strong></h4>
            <span>Rental start day</span>
            <div class="row_fields" fxLayout="row" fxLayoutGap="10px" fxLayout.xs="column" fxLayoutGap.xs="0px">
                <mat-checkbox [checked]="myForm.value.isStartMonday"
                    formControlName="isStartMonday">Monday</mat-checkbox>
                <mat-checkbox [checked]="myForm.value.isStartTuesday"
                    formControlName="isStartTuesday">Tuesday</mat-checkbox>
                <mat-checkbox [checked]="myForm.value.isStartWednesday"
                    formControlName="isStartWednesday">Wednesday</mat-checkbox>
                <mat-checkbox [checked]="myForm.value.isStartThursday"
                    formControlName="isStartThursday">Thursday</mat-checkbox>
                <mat-checkbox [checked]="myForm.value.isStartFriday"
                    formControlName="isStartFriday">Friday</mat-checkbox>
                <mat-checkbox [checked]="myForm.value.isStartSaturday"
                    formControlName="isStartSaturday">Saturday</mat-checkbox>
                <mat-checkbox [checked]="myForm.value.isStartSunday"
                    formControlName="isStartSunday">Sunday</mat-checkbox>
            </div>
            <div class="row_fields" fxLayout="row" fxLayoutGap="30px" fxLayout.xs="column" fxLayoutGap.xs="0px">
                <mat-form-field class="example-full-width" appearance="outline" fxFlex="50">
                    <mat-label>Rent duration</mat-label>
                    <input matInput placeholder="Rent duration" name="rent_duration"
                        formControlName="packageDurationInDays" required>
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="outline" fxFlex="50">
                    <mat-label>Mileage included in the rental</mat-label>
                    <input matInput placeholder="Mileage included in the rental" formControlName="mileageIncluded"
                        name="mileageIncluded" required>
                </mat-form-field>
            </div>
            <div style="text-align: right;">
                <mat-checkbox [checked]="myForm.value.isUnlimitedMileage" formControlName="isUnlimitedMileage">Unlimited
                    Mileage</mat-checkbox>
            </div>
            <h3>Apply this plan to</h3>
            <div class="row_fields" fxLayout="row" fxLayoutGap="30px" fxLayout.xs="column" fxLayoutGap.xs="0px">
                <mat-form-field class="example-full-width" appearance="outline" fxFlex="50">
                    <mat-label>Category</mat-label>
                    <mat-select placeholder="Select" formControlName="vehiclesCategoryId" name="vehiclesCategoryId"
                        required>
                        <mat-option *ngFor="let cat of vehicleCat" [value]="cat.id">
                            {{cat.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="outline" fxFlex="50">
                    <mat-label>Type</mat-label>
                    <mat-select placeholder="Select" formControlName="vehicleTypeId" name="vehicleTypeId" required>
                        <mat-option *ngFor="let type of vehicleType" [value]="type.id">
                            {{type.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="row_fields" fxLayout="row" fxLayoutGap="30px" fxLayout.xs="column" fxLayoutGap.xs="0px">
                <mat-form-field class="example-full-width" appearance="outline" fxFlex="50">
                    <mat-label>Amount</mat-label>
                    <input matInput placeholder="Amount" name="amount" formControlName="amount" required>
                </mat-form-field>
            </div>

            <mat-card-actions style="margin-top: 10px;justify-content: space-between;padding: 0px !important;">
                <div fxLayout="row">
                    <button style="background: #D7F1FF !important;color: #125893 !important;"
                        mat-raised-button>Cancel</button>
                </div>
                <div fxLayout="row">
                    <button style="background: #125893 !important;color: #FFFFFF !important;" mat-raised-button
                        type="submit">Submit</button>
                </div>
            </mat-card-actions>
        </form>
    </mat-card-content>
</mat-card>