<mat-card>
    <mat-card-header>
        <mat-card-title>Invoice Creation</mat-card-title>
    </mat-card-header>
    <mat-card-content class="mat-list">
        <mat-divider style="margin-top: 30px;"></mat-divider>
        <form [formGroup]="invoiceForm">
            <h4 style="margin-top: 20px;"><b>Invoice Information</b></h4>
            <div class="row_fields" fxLayout="row" fxLayoutGap="30px" fxLayout.xs="column" fxLayoutGap.xs="0px">
                <mat-form-field class="example-full-width" appearance="outline" fxFlex="50">
                    <mat-label>Invoice Type</mat-label>
                    <mat-select placeholder="Bill" formControlName="Invoice" name="Invoice" required>
                        <mat-option></mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="example-full-width" appearance="outline" fxFlex="50" fxLayout.xs="column"
                    fxLayoutGap.xs="0px">
                    <mat-label>Billing agency</mat-label>
                    <mat-select matInput placeholder="Billing  Agency" name="Billing_Agency"
                        formControlName="Billing_Agency" required>
                        <mat-option></mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div fxLayout="row">
                <mat-form-field class="example-full-width" appearance="outline" fxFlex="48">
                    <mat-label>Due Date</mat-label>
                    <mat-select matInput placeholder="On the date of the invoice" name="Due_Date"
                        formControlName="Due_Date" required>
                        <mat-option></mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <h4 style="margin-top: 20px;"><b>Search Customer</b></h4>

            <div fxLayout="row">
                <mat-form-field class="example-full-width" appearance="outline" fxFlex="100">

                    <input type="text" matInput placeholder="Search" name="search" />
                    <button matSuffix mat-button><mat-icon>search</mat-icon></button>
                </mat-form-field>


            </div>

            <h4><b>Booking Reference</b></h4>

            <div fxLayout="row">
                <mat-form-field class="example-full-width" appearance="outline" fxFlex="100">
                    <input type="text" matInput placeholder="Booking" name="booking" formControlName="booking" />
                    <button matSuffix mat-button><mat-icon>search</mat-icon></button>

                </mat-form-field>
            </div>
        </form>
    </mat-card-content>
</mat-card>