<mat-card>
    <mat-card-header>
        <mat-card-title>
            Reservations Schedule
        </mat-card-title>
    </mat-card-header>
    <mat-card-content class="mat-list">
        <mat-divider></mat-divider>
        <div class="empty-result">
            <img src="../../../assets/images/EmptyState_No_Records.svg" />
            <p><b>You're all caught up!</b> Coming Soon! Stay tuned for our fleet management features and updates. </p>
        </div>
        <!-- <full-calendar [options]="calendarOptions"></full-calendar> -->
    </mat-card-content>
</mat-card>