.space {
    flex: auto;
}

.example-full-width {
    position: absolute;
    /* top: 35%; */
    width: 222px;
    right: 20px;
}

.header.name-column {
    background-color: #E6F8FFC7;
}

/* .table-container {
    overflow: auto;
    box-shadow: none;
    margin-top: 84px;
} */