<mat-card>

    <mat-card-header>
        <mat-card-title>Quotation for Custom Booking</mat-card-title>
        <span class="space"></span>
        <button class="button_create" mat-raised-button routerLink="/custom/quotes-create" disabled>
            <img src="../../../assets/images/ic_plus.svg" alt="add icon"> <span class="btn_span_text"> Create Quote</span>  
        </button>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content class="mat-list">
        <div class="empty-result">
            <img src="../../../assets/images/EmptyState_No_Records.svg" />
            <p><b>You're all caught up!</b> Coming Soon! Stay tuned for our fleet management features and updates. </p>
        </div>
        <!-- <mat-form-field class="example-full-width" appearance="outline">
            <input type="text" matInput placeholder="Search" name="search" style="font-size: x-small;" [(ngModel)]="search" />
            <button matSuffix mat-button (click)="filterData()"><mat-icon>search</mat-icon></button>
        </mat-form-field>
        <section class="table-container">
            <table mat-table [dataSource]="dataSource" style="margin-top: 35px;">
                <ng-container matColumnDef="source">
                    <th class="header name-column" mat-header-cell *matHeaderCellDef>
                        <span>Reference</span>
                    </th>
                    <td mat-cell *matCellDef="let element ;let i = index;">{{element.source}}</td>
                </ng-container>
                <ng-container matColumnDef="">
                    <th class="header name-column" mat-header-cell *matHeaderCellDef>
                        <span>Tenant</span>
                    </th>
                    <td mat-cell *matCellDef="let element">{{element}}</td>
                </ng-container>

                <ng-container matColumnDef="vehicleCategoryId">
                    <th class="header name-column" mat-header-cell *matHeaderCellDef>
                        <span>Category</span>
                    </th>
                    <td mat-cell *matCellDef="let element">{{element.vehicleCategoryId}}</td>
                </ng-container>
                <ng-container matColumnDef="startDate">
                    <th class="header name-column" mat-header-cell *matHeaderCellDef>
                        <span>Beginning</span>
                    </th>
                    <td mat-cell *matCellDef="let element">{{element.startDate}}</td>
                </ng-container>
                <ng-container matColumnDef="endDate">
                    <th class="header name-column" mat-header-cell *matHeaderCellDef>
                        <span>END</span>
                    </th>
                    <td mat-cell *matCellDef="let element">{{element.endDate}}</td>
                </ng-container>
                <ng-container matColumnDef="returnAgencyId">
                    <th class="header name-column" mat-header-cell *matHeaderCellDef>
                        <span>Duration</span>
                    </th>
                    <td mat-cell *matCellDef="let element">{{element.returnAgencyId}}</td>
                </ng-container>
                <ng-container matColumnDef="amount">
                    <th class="header name-column" mat-header-cell *matHeaderCellDef>
                        <span>Amount</span>
                    </th>
                    <td mat-cell *matCellDef="let element">{{element.amount}}</td>
                </ng-container>

                <ng-container matColumnDef="quotationExpiryDate">
                    <th class="header name-column" mat-header-cell *matHeaderCellDef>
                        <span>Expiration date</span>
                    </th>
                    <td mat-cell *matCellDef="let element">{{element.quotationExpiryDate}}</td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                <tr mat-row *matRowDef="let request;columns:columnsToDisplay"></tr>
            </table>
            <mat-paginator #paginator [pageSizeOptions]="[10,20,30]"></mat-paginator>
        </section>-->
    </mat-card-content>
</mat-card>