.span{
    flex: auto;
}

.btn_reserve{
    color:#fff !important;
    background-color: #125893 !important;
    border-radius: 8px;
}

.head_divider{
    margin-top: 20px;
    margin-bottom: 20px;
}
.header.name-column{
    background-color: #E6F8FFC7;
    
}

table{
    padding: 20px;
}

.example-full-width{
    position: absolute;
    top: 85px;
    right: 20px;
}
.mat-elevation-z8{
    overflow: auto;
    margin-top: 80px;
    box-shadow: none;
}