<mat-card>
    <mat-card-header>
        <mat-card-title>
            Reservations
        </mat-card-title>
        <span class="span"></span>
        <!-- routerLink="/reservations/create" -->
        <button class="button_create" mat-raised-button disabled><img src="../../../assets/images/ic_plus.svg" alt="add icon"><span class="btn_span_text">Create Reservation</span></button>
    </mat-card-header>
    <mat-divider></mat-divider>
    <div class="empty-result">
        <img src="../../../assets/images/EmptyState_No_Records.svg" />
        <p><b>You're all caught up!</b> Coming Soon! Stay tuned for our fleet management features and updates. </p>
    </div>
    <!-- <mat-form-field appearance="outline" class="example-full-width">
        <input matInput type="text" [(ngModel)]="searchTerm">
        <button matSuffix mat-button (click)="search()"><mat-icon>search</mat-icon></button>
    </mat-form-field>
    <section class="mat-elevation-z8" class="mat-list">
        <table mat-table matSort [dataSource]="dataSource">
            <ng-container matColumnDef="Source">
                <th class="header name-column" mat-header-cell *matHeaderCellDef>
                    <span>Source</span>
                </th>
                <td mat-cell *matCellDef="let request">{{request.Source}}</td>
            </ng-container>

            <ng-container matColumnDef="Vehicle">
                <th class="header name-column" mat-header-cell *matHeaderCellDef>
                    <span>Vehicle</span>
                </th>
                <td mat-cell *matCellDef="let request">{{request.Vehicle}}</td>
            </ng-container>
            <ng-container matColumnDef="Customer">
                <th class="header name-column" mat-header-cell *matHeaderCellDef>
                    <span>Customer</span>
                </th>
                <td mat-cell *matCellDef="let request">{{request.Customer}}</td>
            </ng-container>
            <ng-container matColumnDef="Start_Date">
                <th class="header name-column" mat-header-cell *matHeaderCellDef>
                    <span>Start_Date</span>
                </th>
                <td mat-cell *matCellDef="let request">{{request.Start_Date}}</td>
            </ng-container>

            <ng-container matColumnDef="End_Date">
                <th class="header name-column" mat-header-cell *matHeaderCellDef>
                    <span>End_Date</span>
                </th>
                <td mat-cell *matCellDef="let request">{{request.End_Date}}</td>
            </ng-container>

            <ng-container matColumnDef="Amount">
                <th class="header name-column" mat-header-cell *matHeaderCellDef>
                    <span>Amount</span>
                </th>
                <td mat-cell *matCellDef="let request">{{request.Amount}}</td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th class="header name-column" mat-header-cell *matHeaderCellDef>
                    <span>Actions</span>
                </th>
                <td mat-cell *matCellDef="let request">
                    <button mat-raised-button class="button_create" [matMenuTriggerFor]="menu">Actions</button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item><mat-icon>edit_outline</mat-icon>Edit</button>
                        <button mat-menu-item><mat-icon>delete</mat-icon>Delete</button>
                        <button mat-menu-item><mat-icon>visibility</mat-icon>View</button>
                    </mat-menu>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let request; columns: columnsToDisplay"></tr>
        </table>
        <mat-paginator #paginator [pageSizeOptions]="[10, 20, 30]"></mat-paginator>
    </section> -->
</mat-card>