<div class="form-wrapper">
  <h2 class="header_label"><strong>{{'REGISTER.SIGNUP'|translate}} </strong></h2>
  <form [formGroup]="registerForm" class="formRegister">
    <div class="row_fields" fxLayout="row" fxLayout.xs="column" fxLayoutGap="30px" fxLayoutGap.xs="0px">
      <mat-form-field floatLabel="always" class="example-full-width" appearance="outline" fxFlex="50">
        <mat-label>{{'REGISTER.FNAME'|translate}}</mat-label>
        <input matInput placeholder="{{'REGISTER.FNAME'|translate}}" formControlName="first_name" name="first_name">
        <mat-error
          *ngIf="registerForm.controls['first_name']?.errors?.['required']">{{'ERROR_MSG.FIRST_NAME_REQ'|translate}}</mat-error>
      </mat-form-field>
      <mat-form-field floatLabel="always" class="example-full-width" appearance="outline" fxFlex="50">
        <mat-label>{{'REGISTER.LNAME'|translate}}</mat-label>
        <input matInput placeholder="{{'REGISTER.LNAME'|translate}}" name="LastName" formControlName="last_name"
          required>
        <mat-error *ngIf="registerForm.controls['last_name']?.errors?.['required']">{{'ERROR_MSG.LAST_NAME_REQ'|translate}}</mat-error>
      </mat-form-field>
    </div>

    <div class="row_fields" fxLayout="row" fxLayout.xs="column" fxLayoutGap="30px" fxLayoutGap.xs="0px">
      <mat-form-field floatLabel="always" class="example-full-width" appearance="outline" fxFlex="50">
        <mat-label>{{'REGISTER.EMAIL'|translate}}</mat-label>
        <input matInput placeholder="{{'REGISTER.EMAIL'|translate}}" formControlName="email" name="email" required>
        <mat-error
          *ngIf="registerForm.controls['email'].hasError('required')">{{'ERROR_MSG.EMAIL_REQ'|translate}}</mat-error>
        <mat-error
          *ngIf="registerForm.controls['email']?.errors?.['pattern']">{{'ERROR_MSG.INVALID_EMAIL_FORMAT'|translate}}</mat-error>
        <mat-error *ngIf="emailTaken">{{emailTaken}}</mat-error>
      </mat-form-field>

      <mat-form-field floatLabel="always" class="example-full-width" appearance="outline" fxFlex="50">
        <mat-label class="phone_lable">{{'REGISTER.PHNO'|translate}}</mat-label>
        <ngx-mat-intl-tel-input [preferredCountries]="['in']" [enableSearch]="true" name="phone" formControlName="phone"
          #phone>
        </ngx-mat-intl-tel-input>
        <mat-error
          *ngIf="registerForm.controls['phone']?.errors?.['required'] || registerForm.controls['phone']?.errors?.['validatePhoneNumber'] ">{{'ERROR_MSG.PHONE_NUMBER_REQ'|translate}}</mat-error>
        <!-- <mat-error
          *ngIf="registerForm.controls['phone']?.errors?.['validatePhoneNumber']">{{'ERROR_MSG.INVALID_PHONE_FORMAT'|translate}}</mat-error> -->
      </mat-form-field>
    </div>

    <div class="row_fields" fxLayout="row" fxLayout.xs="column" fxLayoutGap="30px" fxLayoutGap.xs="0px">
      <mat-form-field floatLabel="always" class="example-full-width" appearance="outline" fxFlex="50">
        <mat-label>{{'REGISTER.PW'|translate}}</mat-label>
        <input matInput placeholder="{{'REGISTER.PW'|translate}}" name="password"
          [type]="showPassword ? 'text' : 'password'" formControlName="password" autocomplete="new-password" required>
        <mat-icon matSuffix (click)='showVisibility()'>{{showPassword ? 'visibility':'visibility_off'}}</mat-icon>
        <mat-error *ngIf="registerForm.controls['password']?.errors?.['required']">{{'ERROR_MSG.PASS_REQ' |
          translate}}</mat-error>
        <mat-error *ngIf="registerForm.controls['password']?.errors?.['pattern']">{{'ERROR_MSG.INVALID_PASSWORD' |
          translate}}</mat-error>
      </mat-form-field>

      <mat-form-field floatLabel="always" class="example-full-width" appearance="outline" fxFlex="50">
        <mat-label>{{'REGISTER.CONFPW' | translate}}</mat-label>
        <input matInput placeholder="{{'REGISTER.CONFPW'|translate}}" formControlName="confirmPassword"
          autocomplete="new-password" [type]="password ? 'text' : 'password'" name="confirmPassword" required>
        <mat-icon matSuffix (click)=" showpassword()">{{password ? 'visibility':'visibility_off'}} </mat-icon>
        <mat-error *ngIf="registerForm.controls['confirmPassword']?.errors?.['required']">{{'ERROR_MSG.CONFIRM_PASS_REQ'
          | translate}}</mat-error>
        <mat-error
          *ngIf="registerForm.controls['confirmPassword'].errors?.['confirmPasswordValidator']">{{'ERROR_MSG.PASSWORD_MISMATCH'
          | translate}}</mat-error>
      </mat-form-field>
    </div>

    <mat-divider></mat-divider>
    <h2 class="company_text"><strong>{{'REGISTER.COMPANY'|translate}}</strong></h2>
    <div class="row_fields" fxLayout="row" fxLayout.xs="column" fxLayoutGap="30px" fxLayoutGap.xs="0px">
      <mat-form-field floatLabel="always" class="example-full-width" appearance="outline" fxFlex="50">
        <mat-label>{{'ORGANIZATION.COM_NAME'|translate}}</mat-label>
        <input matInput name="name" formControlName="name" placeholder="{{'ORGANIZATION.COM_NAME'|translate}}" required>
        <mat-error *ngIf="registerForm.controls['name']?.errors?.['required']">{{'ERROR_MSG.ORGANIZATION_NAME_REQ' |
          translate}}</mat-error>
      </mat-form-field>
      <mat-form-field floatLabel="always" class="example-full-width" appearance="outline" fxFlex="50">
        <mat-label>{{'ORGANIZATION.COM_ADD'|translate}}</mat-label>
        <input matInput placeholder="{{'ORGANIZATION.COM_ADD'|translate}}" formControlName="address" name="Address"
          required>
        <mat-error *ngIf="registerForm.controls['address']?.errors?.['required']">{{'ERROR_MSG.COMPANY_ADDRESS_REQ' |
          translate}}</mat-error>
      </mat-form-field>
    </div>

    <div class="row_fields" fxLayout="row" fxLayout.xs="column" fxLayoutGap="30px" fxLayoutGap.xs="0px">
      <mat-form-field floatLabel="always" class="example-full-width" appearance="outline" fxFlex="50">
        <mat-label>{{'REGISTER.COUNTRY'|translate}}</mat-label>
        <mat-select placeholder="{{'REGISTER.COUNTRY'|translate}}" formControlName="countryId" name="Country"
          (selectionChange)="onchange($event.value)" required>
          <mat-option *ngFor="let con of countries" [value]="con.id">
            <span class="fi fi-{{con.sortname | lowercase}}"></span>
            {{con.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="registerForm.controls['countryId']?.errors?.['required']">{{'ERROR_MSG.COUNTRY_REQ' |
          translate}}</mat-error>
      </mat-form-field>
      <mat-form-field floatLabel="always" class="example-full-width" appearance="outline" fxFlex="50">
        <mat-label>{{'REGISTER.STATE'|translate}}</mat-label>
        <mat-select placeholder="{{'REGISTER.STATE'|translate}}" (selectionChange)="onChangeCity($event.value)"
          formControlName="stateId" name="state" required>
          <mat-option *ngFor="let state of state" [value]="state.id">
            {{state.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="registerForm.controls['stateId']?.errors?.['required']">{{'ERROR_MSG.STATE_REQ' |
          translate}}</mat-error>
      </mat-form-field>
    </div>

    <div class="row_fields" fxLayout="row" fxLayout.xs="column" fxLayoutGap="30px" fxLayoutGap.xs="0px">
      <mat-form-field floatLabel="always" class="example-full-width" appearance="outline" fxFlex="50">
        <mat-label>{{'ORGANIZATION.CITY' |translate}}</mat-label>
        <mat-select placeholder="{{'ORGANIZATION.CITY' |translate}}" formControlName="city" name="city" required>
          <mat-option *ngFor="let cityData of city" [value]="cityData.name">
            {{cityData.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="registerForm.controls['city']?.errors?.['required']">{{'ERROR_MSG.CITY_REQ' |
          translate}}</mat-error>
      </mat-form-field>
      <mat-form-field floatLabel="always" class="example-full-width" appearance="outline" fxFlex="50">
        <mat-label>{{'REGISTER.ZIPCODE'|translate}}</mat-label>
        <input matInput placeholder="{{'REGISTER.ZIPCODE'|translate}}" formControlName="postalCode" name="postalCode"
          required>
        <mat-error *ngIf="registerForm.controls['postalCode']?.errors?.['required']">{{'ERROR_MSG.ZIP_CODE_REQ' |
          translate}}</mat-error>
      </mat-form-field>
    </div>

    <div class="row_fields" fxLayout="row" fxLayout.xs="column" fxLayoutGap="30px" fxLayoutGap.xs="0px">
      <mat-form-field floatLabel="always" class="example-full-width" appearance="outline" fxFlex="50">
        <mat-label>{{ 'REGISTER.CURRENCY' | translate }}</mat-label>
        <mat-select placeholder="{{ 'REGISTER.CURRENCY' | translate }}" formControlName="prefferedCurrencies"
          name="prefferedCurrencies" required>
          <mat-option *ngFor="let cur of currency" [value]="cur">
            {{ cur.symbol }} {{ cur.currency }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="registerForm.controls['prefferedCurrencies']?.errors?.['required']">
          {{ 'ERROR_MSG.CURRENCY_REQ' | translate }}
        </mat-error>
      </mat-form-field>
    </div>
    <mat-divider class="divider" style="margin-bottom:20px"></mat-divider>
    <mat-checkbox floatLabel="always" class="status_check" formControlName="status" required>
      {{'REGISTER.ACKNO' |translate}} <a href="terms-condition" target="_blank">{{'REGISTER.TNC' | translate}}</a> ,
      {{'REGISTER.AWA'|translate}}
      <a href="privacy-policy" target="_blank">{{'REGISTER.PP'|translate}}</a>,{{'REGISTER.DESC' |translate}}
    </mat-checkbox>
    <div class="submit_btn">
      <button class="btn-block" color="primary" type="submit" (click)="register()">{{'LOGIN.SIGNUP'|translate}}</button>
    </div>
    <div class="link">
      <p>{{'REGISTER.AHAA'|translate}}
        <a routerLink="/auth/signin">{{'LOGIN.SIGNIN'| translate}}</a>
      </p>
    </div>
  </form>
</div>