.header_divider {
    margin: 30px 0 !important;
}

.formRegister {
    margin-top: 15px !important;
}

.btn-block {
    width: 35%;
    height: 45px;
    color: white;
    background: #125893;
    border-radius: 8px;
    border-color: transparent;
    cursor: pointer;
}

.company_text {
    padding: 13px 0;
}

.link a {
    color: #125893 !important;
    margin-left: 5px;
}

.link p {
    color: var(--mdc-theme-text-primary-on-background, rgba(0, 0, 0, 0.77));
    margin: 0 !important
}

.link {
    font-size: 16px;
    text-align: center;
    line-height: 28.8px;
    font-weight: 400;
    margin: 10px
}

mat-form-field div {
    background-color: beige;
}

mat-icon {
    color: #7E7E7E;
}

mat-checkbox a {
    color: #125893;
    font-weight: 500;
}

.submit_btn {
    text-align: center;
    padding-top: 1pc;
}

.link a {
    color: #125893;
    font-weight: 600;
}

.header_label, .company_text{
    line-height: 36px;
    font-size: 24px;
}
