@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.bubble.css';
@import '~quill/dist/quill.snow.css';
/* @import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap'); */

:root {
    --font-family: 'Plus Jakarta Sans';
    --border-radius: 8px;
}

.m-0 {
    margin: 0 !important;
}

.mt-0 {
    margin-top: 0 !important;
}

.mt-10 {
    margin-top: 10px !important;
}

.mt-20 {
    margin-top: 20px !important;
}

.mt-30 {
    margin-top: 30px !important;
}

.mt-40 {
    margin-top: 40px !important;
}

.mt-50 {
    margin-top: 50px !important;
}

.mt-60 {
    margin-top: 60px !important;
}

.mt-70 {
    margin-top: 70px !important;
}

.mt-80 {
    margin-top: 80px !important;
}

.mt-90 {
    margin-top: 90px !important;
}

.mt-100 {
    margin-top: 100px !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.mb-10 {
    margin-bottom: 10px !important;
}

.mb-20 {
    margin-bottom: 20px !important;
}

.mb-30 {
    margin-bottom: 30px !important;
}

.mb-40 {
    margin-bottom: 40px !important;
}

.mb-50 {
    margin-bottom: 50px !important;
}

.mb-60 {
    margin-bottom: 60px !important;
}

.mb-70 {
    margin-bottom: 70px !important;
}

.mb-80 {
    margin-bottom: 80px !important;
}

.mb-90 {
    margin-bottom: 90px !important;
}

.mb-100 {
    margin-bottom: 100px !important;
}

.ml-0 {
    margin-left: 0 !important;
}

.ml-10 {
    margin-left: 10px !important;
}

.ml-20 {
    margin-left: 20px !important;
}

.ml-30 {
    margin-left: 30px !important;
}

.ml-40 {
    margin-left: 40px !important;
}

.ml-50 {
    margin-left: 50px !important;
}

.ml-60 {
    margin-left: 60px !important;
}

.ml-70 {
    margin-left: 70px !important;
}

.ml-80 {
    margin-left: 80px !important;
}

.ml-90 {
    margin-left: 90px !important;
}

.ml-100 {
    margin-left: 100px !important;
}

.mr-0 {
    margin-right: 0 !important;
}

.mr-10 {
    margin-right: 10px !important;
}

.mr-20 {
    margin-right: 20px !important;
}

.mr-30 {
    margin-right: 30px !important;
}

.mr-40 {
    margin-right: 40px !important;
}

.mr-50 {
    margin-right: 50px !important;
}

.mr-60 {
    margin-right: 60px !important;
}

.mr-70 {
    margin-right: 70px !important;
}

.mr-80 {
    margin-right: 80px !important;
}

.mr-90 {
    margin-right: 90px !important;
}

.mr-100 {
    margin-right: 100px !important;
}

.p-0 {
    padding: 0 !important;
}

.pt-0 {
    padding-top: 0 !important;
}

.pt-10 {
    padding-top: 10px !important;
}

.pt-20 {
    padding-top: 20px !important;
}

.pt-30 {
    padding-top: 30px !important;
}

.pt-40 {
    padding-top: 40px !important;
}

.pt-50 {
    padding-top: 50px !important;
}

.pt-60 {
    padding-top: 60px !important;
}

.pt-70 {
    padding-top: 70px !important;
}

.pt-80 {
    padding-top: 80px !important;
}

.pt-90 {
    padding-top: 90px !important;
}

.pt-100 {
    padding-top: 100px !important;
}

.pb-0 {
    padding-bottom: 0 !important;
}

.pb-10 {
    padding-bottom: 10px !important;
}

.pb-20 {
    padding-bottom: 20px !important;
}

.pb-30 {
    padding-bottom: 30px !important;
}

.pb-40 {
    padding-bottom: 40px !important;
}

.pb-50 {
    padding-bottom: 50px !important;
}

.pb-60 {
    padding-bottom: 60px !important;
}

.pb-70 {
    padding-bottom: 70px !important;
}

.pb-80 {
    padding-bottom: 80px !important;
}

.pb-90 {
    padding-bottom: 90px !important;
}

.pb-100 {
    padding-bottom: 100px !important;
}

.pl-0 {
    padding-left: 0 !important;
}

.pl-10 {
    padding-left: 10px !important;
}

.pl-20 {
    padding-left: 20px !important;
}

.pl-30 {
    padding-left: 30px !important;
}

.pl-40 {
    padding-left: 40px !important;
}

.pl-50 {
    padding-left: 50px !important;
}

.pl-60 {
    padding-left: 60px !important;
}

.pl-70 {
    padding-left: 70px !important;
}

.pl-80 {
    padding-left: 80px !important;
}

.pl-90 {
    padding-left: 90px !important;
}

.pl-100 {
    padding-left: 100px !important;
}

.pr-0 {
    padding-right: 0 !important;
}

.pr-10 {
    padding-right: 10px !important;
}

.pr-20 {
    padding-right: 20px !important;
}

.pr-30 {
    padding-right: 30px !important;
}

.pr-40 {
    padding-right: 40px !important;
}

.pr-50 {
    padding-right: 50px !important;
}

.pr-60 {
    padding-right: 60px !important;
}

.pr-70 {
    padding-right: 70px !important;
}

.pr-80 {
    padding-right: 80px !important;
}

.pr-90 {
    padding-right: 90px !important;
}

.pr-100 {
    padding-right: 100px !important;
}

.my-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.my-10 {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.my-20 {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

.my-30 {
    margin-top: 30px !important;
    margin-bottom: 30px !important;
}

.my-40 {
    margin-top: 40px !important;
    margin-bottom: 40px !important;
}

.my-50 {
    margin-top: 50px !important;
    margin-bottom: 50px !important;
}

.my-60 {
    margin-top: 60px !important;
    margin-bottom: 60px !important;
}

.my-70 {
    margin-top: 70px !important;
    margin-bottom: 70px !important;
}

.my-80 {
    margin-top: 80px !important;
    margin-bottom: 80px !important;
}

.my-90 {
    margin-top: 90px !important;
    margin-bottom: 90px !important;
}

.my-100 {
    margin-top: 100px !important;
    margin-bottom: 100px !important;
}



body {
    margin: 0 !important;
    font-family: 'Plus Jakarta Sans', sans-serif !important;
    overflow: hidden;
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    background-color: #fff;
}

html,
body {
    height: 100%;
    background-color: #fff
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
button,
a,
div,
table,
tr,
td,
th {
    font-family: var(--font-family) !important;
    margin: 0;
}

.mat-mdc-form-field,
.mat-mdc-floating-label {
    top: 25px !important;
    color: rgb(126, 126, 126) !important;
    font-family: var(--font-family);
}

.mat-body,
.mat-body-2,
.mat-typography .mat-body,
.mat-typography .mat-body-2,
.mat-typography {
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: .0178571429em;
}

.mat-mdc-select-value {
    font-size: 13px;
    font-weight: 400;
}

.mat-mdc-checkbox label {
    font-family: var(--font-family);
    color: #7E7E7E;
    max-width: 524px;
    width: 100%;
    margin: 0 auto;
}

/* .mdc-checkbox{
    top: 8px !important;
} */

.mat-mdc-select-value {
    font-family: var(--font-family);
    font-weight: 500;
}

.btn-block {
    font-family: var(--font-family)
}

.canter {
    display: flex;
    align-items: center;
    justify-content: center;
}

mat-card {
    margin: 20px;
    min-height: 200px;
    border-radius: 10px !important;
}

mat-dialog-container {
    max-height: 617px !important;
}

.mat-horizontal-stepper-header-container {
    margin-top: 8px;
    width: fit-content;
    margin: 0 auto;
}

.form-wrapper {
    max-width: 75%;
    margin: 0 auto;
    align-items: center;
    display: grid;
}

/* .ng-toggle-switch-button {
    background: red !important;
    width: 10px !important;
    height: 10px !important;
} */

.main-content {
    display: flex;
    gap: 15px;
}

.overlayContent {
    background: url('../src/assets/images/bg_login.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0px 40px;
    gap: 10px;
    position: relative;
    /* max-width: 330px; */
    background-position: bottom right;
}

.overlayContent::before {
    content: '';
    background-image: linear-gradient(180deg, #125893 2%, rgba(24, 171, 205, 0.56) 100%);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
}

.contentBox {
    z-index: 1;
    color: #ffffff;
}


.sigin_parent {
    height: 100vh;

}

.mat-mdc-text-field-wrapper {
    background-color: #ffffff;

}

.otp-input {
    border: 0 !important;
    border-bottom: 2px solid #7E7E7E !important;
    background: transparent !important;
    border-radius: 0 !important;
}

.otp-input:focus {
    outline: none;
    box-shadow: none;
}

.side_nav,
mat-sidenav-container {
    height: 100% !important;
}

mat-checkbox {
    min-width: 130px !important;
}

.mat-icon-action {
    display: flex;
    height: 52px;
    align-items: center;
}

button {
    font-family: var(--font-family);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    text-transform: capitalize;
    height: 42px !important;
}

span.mdc-button__label {
    display: flex;
    gap: 6px;
    align-items: center;
}

.button_field {
    justify-content: flex-end;
    padding: 10px;
    gap: 10px;
}

.btn {
    color: #125893 !important;
    background: #FFFFFF !important;
}

.button {
    background: #125893 !important;
    color: #FFFFFF !important
}

.resetButton {
    z-index: 111;
    position: absolute;
    right: 13px;
    top: 13px;
    background: white;
    color: #E70013;
    border: 2px solid #E70013;
    border-radius: 50%;
}

.mat_rightIcon {
    color: #35b4e59c;
    padding-right: 15px;
}

.mat_crossIcon {
    color: #E70013;
}

div.mdc-data-table__cell:not(.mat-column-email) {
    text-transform: capitalize !important;
}

.mat_doneIcon {
    color: #09A41E;
}

.mat_editIcon {
    color: #125893;
    padding-right: 15px;

}


.routerauth {
    background: #f5f5f5;
    border-bottom: solid 10px #18ABCD;
    flex: 1 1 100%;
    box-sizing: border-box;
    max-height: fit-content !important;
    overflow-y: auto;
    height: 100vh;
}

.mat-mdc-menu-trigger.country-selector.mdc-button.mat-mdc-button.mat-unthemed.mat-mdc-button-base {
    opacity: 1 !important;
    justify-content: flex-start;
    left: 0px;
    top: 8px;
    background: none;
}

.mat-mdc-menu-trigger.country-selector.mdc-button.mat-mdc-button.mat-unthemed.mat-mdc-button-base span.mdc-button__label::after {
    content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAQAAAD8x0bcAAAAIUlEQVQoz2NgGAUkgtKG0v9IsIGwsgbCpjUQtrRhZAUzAB5rGRmoZRO5AAAAAElFTkSuQmCC);
    position: absolute;
    right: -16px;
    top: 2px;

}

.ngx-mat-tel-input-container>input {
    padding-left: 80px !important;
}

input:focus-visible {
    outline: none;
}

input.country-search {
    padding: 10px 0px 10px 20px !important;
    width: 100% !important;
    height: 20px !important;
}

.mat-mdc-menu-panel.mat-mdc-menu-panel:not(.profileMenuBar) {
    min-width: 140px !important;
    max-width: 235px !important;
    overflow-x: hidden !important;
    max-height: 268px;
    border-radius: 8px !important;
}

.mat-mdc-menu-panel.mat-mdc-menu-panel.profileMenuBar {
    min-width: 120px !important;
    max-width: 285px !important;
    overflow-x: hidden !important;
    max-height: 300px;
    border-radius: 8px !important;
}

.country-list-button {
    padding: 10px 15px !important;
}

.custom-tel-input .country-flag {
    display: inline-block;
    margin-right: 5px;
}

.country-code {
    display: inline-block;
}

.mat-mdc-progress-spinner {
    position: fixed !important;
    transform: translate(-50%, -50%) !important;
    top: 50% !important;
    left: 50% !important;
    width: 100% !important;
    height: 100% !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    z-index: 99;
}

.mat-mdc-progress-spinner::before {
    content: '';
    width: 100%;
    height: 100%;
}

/* dialog box color  */
.mat-mdc-dialog-container:not(.my-dialogBox-vehicle) .mat-mdc-dialog-surface {
    background-color: #D7F1FF !important;

}

.forgot-password div.mat-mdc-text-field-wrapper:not(.mdc-text-field--invalid)+.mat-mdc-form-field-subscript-wrapper {
    display: none;
}

.checkLable .mat-mdc-form-field-subscript-wrapper {
    display: none !important;
}

.forgot-password div.mat-mdc-text-field-wrapper.mdc-text-field--invalid+.mat-mdc-form-field-subscript-wrapper {
    margin: 0 !important
}

.mat-mdc-list-base .mat-list-item.mat-list-item-selected {
    background-color: transparent !important;
}

.loader-container .mat-mdc-progress-spinner::before {
    background: #00000060;
}

.loader .mat-mdc-progress-spinner::before {
    background: #ffffff;
}

.mat-mdc-progress-spinner .mdc-circular-progress__determinate-circle,
.mat-mdc-progress-spinner .mdc-circular-progress__indeterminate-circle-graphic {
    stroke: #3d91b3 !important;

}

.mdc-circular-progress__indeterminate-container {
    width: 50px !important;
}


.mat_snackbar--success {
    background-color: #FFFFFF;
    text-align: center;
    color: black !important;

}

.mat-icon--failure {
    color: #fafafa !important;
    min-width: 26px !important;
    background: #E70013;
    border: 1px solid #E70013;
    border-radius: 50%;
}

.mat-icon--success {
    color: white !important;
    background: green !important;
    border: 1px solid;
    border-radius: 12px;
}

.search_box {
    text-align: right;
}

.mat_snackbar--danger {
    background-color: #FFFFFF;
    text-align: center;
    color: black !important;
}

.mat-mdc-menu-content {
    padding: 0 !important;
}

.flag-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.dropDown_title {
    color: #000000DE !important
}

.flag-container .country-flag {
    min-height: 25px;
    border-radius: 40px;
    background-size: cover;
    height: 100%;
    min-width: 25px;
}

.mat-mdc-menu-panel {
    margin-top: 2px !important;
}

.mat-mdc-menu-panel.mat-mdc-menu-panel:not(.profileMenuBar) .mat-mdc-menu-item {
    display: inline-block !important;
    padding: 0 20px !important;
    min-height: 42px !important;
}

.mat-mdc-snack-bar-container .mdc-snackbar__surface {
    min-width: 185px !important;
    max-width: 372px !important;
}

.mat-snack-bar-container {
    max-width: 200px !important;
}

.mdc-snackbar__surface {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.active-link .mdc-list-item__primary-text {
    color: #125893 !important;
}

.mdc-list-item__primary-text {
    color: #000 !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 20px !important;
}

.empty-result {
    padding: 20px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: calc(100vh - 254px);
    gap: 20px;
}

.empty-result p {
    margin: 0 !important;
    text-align: center;
}

.empty-result p b {
    font-size: 22px;
    display: block;
    margin-bottom: 12px;
}

.active .mdc-list-item__primary-text {
    color: #125893 !important;
    font-weight: 500;
    font-size: 14px;
}

::ng-deep .mat-tooltip {
    font-size: 15px;
    white-space: pre-wrap;
    color: gray !important;
    background-color: rgba(255, 255, 255, .9);
    border: 1px solid gray;
    max-width: unset !important;
}

.mat-mdc-checkbox.mat-accent,
.mat-mdc-checkbox.mat-primary {
    --mdc-checkbox-selected-checkmark-color: #fff;
    --mdc-checkbox-selected-focus-icon-color: #125893;
    --mdc-checkbox-selected-hover-icon-color: #125893;
    --mdc-checkbox-selected-icon-color: #125893;
    --mdc-checkbox-selected-pressed-icon-color: #125893;
}

.mat-checkbox-color.mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__native-control:enabled:not(:checked):not(:indeterminate):not([data-indeterminate=true])~.mdc-checkbox__background {
    border-color: rgb(233, 10, 10) !important;
    background-color: transparent;
}

.custom-error .mat-mdc-radio-button.mat-accent:not(.custom-error.ng-dirty.ng-valid .mat-mdc-radio-button.mat-accent) {
    --mdc-radio-unselected-icon-color: red !important;
}

.mat-mdc-radio-button.mat-accent {
    --mdc-radio-selected-focus-icon-color: #125893;
    --mdc-radio-selected-hover-icon-color: #125893;
    --mdc-radio-selected-icon-color: #125893;
    --mdc-radio-selected-pressed-icon-color: #125893;
    --mat-mdc-radio-ripple-color: #000;
    --mat-mdc-radio-checked-ripple-color: #125893;
}


.mat-mdc-tab-header {
    width: auto !important;
    max-width: 78% !important;
}

.single_img {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px dashed !important;
    border-color: rgb(204, 204, 204) !important;
    border-radius: 8px !important;
    max-width: 170px;
    width: 100%;
    min-width: 200px;
    height: 86px !important;
    padding: 8px !important;
    overflow: hidden;
    position: relative;
}

.imageFile {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}


.button_create {
    color: #fff !important;
    background-color: #125893 !important;
    border-radius: 8px;
}

.large_image {
    flex-grow: 1;
    margin-left: auto !important;
    width: 100%;
    max-width: 360px;
    max-height: 220px;
    height: auto;
    border: 1px dashed !important;
    border-color: rgb(204, 204, 204) !important;
    border-radius: 8px !important;
    padding: 8px;
}

.file_drop.required-error {
    border-color: #f44336 !important;
}

.file_drop {
    position: relative;
}

.multiple_img {
    width: 100% !important;
    min-height: 165px !important;
    height: 100%;
    max-width: 1500px !important;
    border: 1px dashed !important;
    border-color: rgb(204, 204, 204) !important;
    border-radius: 8px !important;
    padding: 8px;
}

.mat-mdc-form-field-subscript-wrapper {
    margin-bottom: 15px;
}

.mat-mdc-form-field-subscript-wrapper div {
    padding: 0;
    padding-left: 2px;
}

mat-card-header {
    padding: 20px !important;
    margin: 0 !important;
    justify-content: space-between;
}

/* mat-card-content {
    padding: 0 !important;
} */
.searchField .mat-mdc-form-field-subscript-wrapper {
    display: none !important;
}

.searchField .mdc-text-field--outlined .mdc-notched-outline {
    max-height: 45px !important;
}

.searchField,
.searchField .mat-mdc-text-field-wrapper {
    height: 42px !important;
    display: block !important;
    max-width: 160px !important;
}

.searchField .mat-mdc-form-field-infix {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.search_icon {
    top: -4px !important;
}

mat-card-title {
    font-size: 28px !important;
    line-height: 24px !important;
    font-weight: 500 !important;
    color: #000000;
    margin: 0px !important;
    font-family: var(--font-family) !important;
}

.mat-list {
    margin: 0;
    padding: 20px;
}

.userFirstName {
    text-transform: capitalize;
}

.table-responsive {
    overflow-x: auto;
}

.check_agency label {
    color: #125893;
    font-weight: 600;
    position: relative;
    top: -3px;
}

.main_listDiv {
    max-width: 310px !important;
    margin: 0px 15px 15px 0px !important;
}

.mdc-notched-outline__notch label {
    font-size: 20px !important;
    font-weight: 600;
}

.mat-mdc-form-field-infix {
    font-size: 13px;
    font-weight: 400;
}

/* Media query CSS */
@media (max-width: 1000px) {
    mat-checkbox {
        margin-left: 0 !important
    }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
    .overlayContent {
        text-align: center !important;
        background-position: 0 62%;
    }

    .column {
        height: 100vh;
    }


    .form-wrapper {
        max-width: 97%;
    }


    .routerauth {
        background: #f5f5f5;
        border-bottom: solid 10px #18ABCD;
        flex: 1 1 100%;
        box-sizing: border-box;
        max-height: fit-content !important;
        overflow-y: auto;
    }

}

@media screen and (max-width: 767px) {
    .large_image .imageFile {
        height: 200px;
    }

    .large_image {
        min-height: 102px;
    }

    .align-button {
        top: 2% !important;
    }

    .left_orgnizationName {
        max-width: 120px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: 10px;
    }

    .header_mainContainer {
        gap: 0 !important
    }

    .userFirstName {
        width: 0px !important;
        display: none;
    }

    .header.right_sideConatiner {
        justify-content: space-around !important;
    }

    .mat-horizontal-stepper-header-container {
        margin-top: 8px !important;
        width: -webkit-fill-available;
    }

    .overlayContent {
        text-align: center !important;
        background-position: 0 62%;
    }

    .form-wrapper {
        max-width: 97%;
    }

    .column {
        height: 100vh;
    }

    .routerauth {
        background: #f5f5f5;
        border-bottom: solid 10px #18ABCD;
        flex: 1 1 100%;
        box-sizing: border-box;
        max-height: fit-content !important;
        overflow-y: auto;

    }

    .mat-toolbar-row,
    .mat-toolbar-single-row {
        padding: 0 7px !important;
    }

    .vector_image {
        height: 20px !important;
        width: 20px !important;
    }

    .header.right_sideConatiner {
        width: auto !important;
    }

    .multiple_img {
        width: 100% !important;
        height: 100% !important;
        max-width: 1500px !important;
        border: 1px dashed !important;
        border-color: rgb(204, 204, 204) !important;
        border-radius: 8px !important;
        padding: 8px;
        flex-direction: column !important;
        gap: 10px;
        min-height: 140px;
        margin-bottom: 20px;
    }

    .multiple_img img {
        height: 120px;
    }

    .file_drop.single_img {
        max-width: initial !important;
        min-width: initial !important;
        width: initial;
    }

    .flex-child-layout {
        margin-bottom: 20px;
    }

    .button_create .btn_span_text {
        display: none;
    }

    .main_listDiv {
        max-width: 310px !important;
        margin: 10px !important;
    }

    mat-card-header {
        align-items: center;
    }

    .radio_group {
        display: flex;
        flex-direction: column;

    }
}

.timepicker .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    width: 220px !important;
}

.timepicker .mat-mdc-form-field-flex {
    height: 40px !important;
}

.timepicker .mdc-notched-outline__trailing {
    border-color: #B1B1B1 !important;
    border-left: 1px solid !important;
}

.timepicker .mdc-notched-outline__leading {
    display: none !important;
}

.timepicker .mdc-text-field--outlined .mdc-notched-outline .mdc-notched-outline__trailing {
    border-radius: var(--mdc-shape-small, 8px) !important;
}

mat-card-header.mat-mdc-card-header.custom_header .mat-mdc-card-header-text {
    display: none !important;
}