<mat-card>
  <mat-card-header>
    <mat-card-title>
      Customize Website
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="mat-list">
    <div class="empty-result">
      <img src="../../../assets/images/EmptyState_No_Records.svg" />
      <p><b>You're all caught up!</b> Coming Soon! Stay tuned for our fleet management features and updates. </p>
  </div>
    <!-- <form [formGroup]="editOrgForm" class="form">
      <mat-divider style="margin-top: 20px;"></mat-divider>
      <h3>Upload Logo</h3>
      <div fxLayout="row" fxLayout.xs="column" class="flex-child-layout" fxLayoutGap="30px">
        <div fxFlex="20">
          <ngx-file-drag-drop formControlName="LogoUrl" (valueChanged)="onFileDropped($event)">
            <div class="drop-zone">
              <p>Upload Images</p>
            </div>
          </ngx-file-drag-drop>
        </div>
        <span></span>
        <h3><b>Color Theme</b></h3>
        <div class="example-button-container" fxFlex="40">
          <button mat-fab class="fab-btn" (click)="selectColor('#00ff00')">
          </button>
          <button mat-fab class="fab-btn2" (click)="selectColor('#ff0000')">
          </button>
          <button mat-fab class="fab-btn3" (click)="selectColor('#ff00ff')">
          </button>
          <button mat-fab class="fab-btn4" (click)="selectColor('#ffff00')">
          </button>
          <button mat-fab class="fab-btn5" (click)="selectColor('#0000ff')">
          </button>
        </div>
      </div>
      <mat-divider style="margin-top: 20px;"></mat-divider>
      <h4 style="margin-top: 20px;"><b>Terms And Condition</b></h4>
      <quill-editor [modules]="quillConfig" placeholder="Enter Text" [styles]="{'min-height': '120px',
    }" formControlName="pageContent_TnC"></quill-editor>
      <mat-divider style="margin-top: 20px;"></mat-divider>
      <h4 style="margin-top: 20px;"><b>Privacy Policy</b></h4>
      <quill-editor [modules]="quillConfig" placeholder="Enter Text" [styles]="{'min-height':'120px'}"
        formControlName="pageContent_PrivacyPolicy"></quill-editor>

      <mat-divider></mat-divider>

      <div class="button_field" fxLayout="row" fxLayout.xs="column" fxLayoutGap.xs="5px">
        <button class="btn" mat-button (click)="back()">CANCEL</button>
        <button class="button" mat-button (click)="submit()">SAVE</button>
      </div>
    </form> -->
  </mat-card-content>

</mat-card>