quill-editor{
    background-color:  #EEF9FF;
}
span{
    flex: auto;
}
.fab-btn{
    background-color: #128B93!important;
}

.fab-btn2{
    background-color:  #CFA22D   !important;
}
.fab-btn3{
    background-color:  #2A6056!important;
}
.fab-btn4{
    background-color:  #98214C !important;
}
.fab-btn5{
    background-color: #125893!important;
}

.example-button-container{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    width: 120px;
    margin: 8px 8px 8px 0;
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
}