.title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 !important;
    padding: 0 !important;
}


.button-container {
    margin-left: auto;
}

.main_content {
    margin: 0 30px
}

.coloum {
    width: 100px;
    height: 40px;
    background-color: #D7F1FF;
    color: #125893;
    padding-left: 15px;
}

.colum_data {
    min-width: 200px;
    color: #000000;
    padding-left: 40px;
}

table,
tr {
    border: 1px solid #7E7E7E;
    border-collapse: collapse;
}

.circleBase{
    width: 78px;
    height: 78px;
    border-radius: 50%;
    border: 3px solid #125893;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main{
    overflow-y: hidden;
}

.head_div{
    text-align: center;
    width: 100%;
}

.mat-mdc-icon-button.mat-mdc-button-base {
    height: 48px !important;
}


.table-container {
    max-width: 100%;
    overflow: auto;
    box-shadow: none !important;

}

.main_content h4{
    margin-left: 16px !important;
}
