<div class="main dialogBoxList">
    <h2 mat-dialog-title class="title-container">
        <span class="button-container">
            <button mat-icon-button mat-dialog-close aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </span>
    </h2>
    <div class="head_div">
        <div class="circleBase">
            <img src="../../../assets/images/Vector-hand.svg">
        </div>
        <h2>Congratulations! </h2>
        <h3><span>The vehicle has been successfully added.</span></h3>
    </div>
    <div class="main_content">
        <h4><strong>Vehicle details</strong></h4>
        <section class="table-container mat-list">
            <table>
                <tr>
                    <td class="coloum">Brand</td>
                    <td class="colum_data">{{data.vehicleBrandId}}</td>
                    <td class="coloum">Kind</td>
                    <td class="colum_data">{{data.model}}</td>
                </tr>
                <tr>                   
                    <td class="coloum">Year</td>
                    <td class="colum_data">{{data.yearOfRegistration}}</td>
                    <td class="coloum">Motorization</td>
                    <td class="colum_data">{{data.motorization}}</td>
                </tr>
                <tr>
                    <td class="coloum">Gearbox</td>
                    <td class="colum_data">{{data.gearBox}}</td>
                    <td class="coloum">Number of doors</td>
                    <td class="colum_data">{{data.noOfDoors}}</td>
                </tr>
                <tr>
                    <td class="coloum">Number of seats</td>
                    <td class="colum_data">{{data.noOfSeats}}</td>
                    <td class="coloum">Agency</td>
                    <td class="colum_data">{{data.agency_name}}</td>
                </tr>
                <div *ngFor="let data of responseObj"></div>
                <tr>
                    <td class="coloum">GPS</td>
                    <td class="colum_data">{{data.Gps}}</td>
                    <td class="coloum">Reversing radar</td>
                    <td class="colum_data">{{data.Reversing_Radar}}</td>
                </tr>
                <tr>
                    <td class="coloum">Bluetooth</td>
                    <td class="colum_data">{{data.Bluetooth}}</td>
                    <td class="coloum">Air conditioner</td>
                    <td class="colum_data">{{data.Air_Conditioner}}</td>
                </tr>
            </table>
        </section>
    </div>
</div>