.file_drop input{
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 11;
}

.imageMultiParent{
  max-width: 240px;
  min-height: 165px;
  max-height: 166px;
  height: 100%;
  width: 100%;
  position: relative;
}

.deleteImg{
  z-index: 111;
  position: absolute;
  background: white;
  right: 4px;
  top: 4px;
  color: #E70013;
  border: 2px solid #E70013;
  border-radius: 50%;
}

/* Hide the default file input */
.file-input {
  display: none;
}

.fileDropSingle{
  background: url(../../../../assets/images/file_image1.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.fileDropMultiple{
  background: url(../../../../assets/images/img_vehicles_upload.svg);
  background-repeat: no-repeat;
  background-position: center;
}

/* Style the container to make it look like a button */
.file-input-container {
  display: inline-block;
  padding: 8px 16px;
  background-color: #3498db;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

/* Style the label to mimic a button label */
.file-input-label {
  font-size: 16px;
}

/* Add some hover and active effects */
.file-input-container:hover {
  background-color: #2980b9;
}

.file-input-container:active {
  background-color: #1f618d;
}

.label_for_margin{
  font-size: 18px;
  font-weight: 500;
  line-height: 22.68px;
  letter-spacing: 0em;
}

.uploadImageText{
  font-weight: 500;
}

.multiImageUpload{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  width: 100% !important;
  height: 100% !important;
  max-width: 1500px !important;
  padding: 8px;
  gap: 10px;
  min-height: 140px;
}

.multiImageUpload .imageMultiParent img {
  min-height: 165px;
  max-height: 166px;
  max-width: 240px;
}