<mat-card class="example-card">
    <mat-card-header class="mt-30">
        <mat-card-title>
            <span>{{ id ? ('VEHICLE_CREATE.VEHICLE_UPDATE' |translate): viewId ? ('VEHICLE_CREATE.VEHICLE_VIEW'
                |translate) : ('VEHICLE_CREATE.VEHICLE_CREATION' | translate)
                }}</span>
        </mat-card-title>
    </mat-card-header>
    <mat-divider class="header_divider"></mat-divider>
    <mat-card-content>
        <form [formGroup]="myForm" class="mat-list">
            <div fxLayout="row" fxLayout.xs="column" class="row_fields" fxLayoutGap="15px">
                <div fxLayout="row" fxFlex="25">
                    <h3 class="uploadImageText">{{'VEHICLE_CREATE.UPLOAD_IMAGES' |translate}}</h3>
                </div>
                <div fxLayout="row" class="large_image file_drop fileDropSingle">
                    <!-- [class.required-error]="myForm.get('image_url1')?.invalid && myForm.get('image_url1')?.touched" -->
                    <input type='file' (change)="uploadImage($event,'1')" />
                    <img *ngIf="imageSrc1" class="imageFile" [src]="imageSrc1" alt="your image" height="50px"
                        width="50px" />
                    <mat-icon class="resetButton" *ngIf="imageSrc1" (click)="deleteImage('1')">close</mat-icon>
                </div>

                <div fxLayout="row" class="flex-child-layout" fxLayoutGap="10px" fxLayout.xs="column"
                    fxLayOutGap.xs="0px">
                    <div fxLayout="column" fxLayoutGap="10px">
                        <div class="file_drop single_img fileDropSingle">
                            <!-- [class.required-error]="myForm.get('image_url2')?.invalid && myForm.get('image_url2')?.touched" -->
                            <input type='file' (change)="uploadImage($event,'2')" />
                            <img *ngIf="imageSrc2" class="imageFile" [src]="imageSrc2" alt="your image" height="50px"
                                width="50px" />
                            <mat-icon class="resetButton" *ngIf="imageSrc2" (click)="deleteImage('2')">close</mat-icon>
                        </div>
                        <div class="file_drop single_img fileDropSingle">
                            <!-- [class.required-error]="myForm.get('image_url3')?.invalid && myForm.get('image_url3')?.touched" -->
                            <input type='file' (change)="uploadImage($event,'3')" />
                            <img *ngIf="imageSrc3" class="imageFile" [src]="imageSrc3" alt="your image" height="50px"
                                width="50px" />
                            <mat-icon class="resetButton" *ngIf="imageSrc3" (click)="deleteImage('3')">close</mat-icon>
                        </div>
                    </div>
                    <div fxLayout="column" fxLayoutGap="10px">
                        <div class="file_drop single_img fileDropSingle">
                            <!-- [class.required-error]="myForm.get('image_url4')?.invalid && myForm.get('image_url4')?.touched" -->
                            <input type='file' (change)="uploadImage($event,'4')" />
                            <img *ngIf="imageSrc4" class="imageFile" [src]="imageSrc4" alt="your image" height="50px"
                                width="50px" />
                            <mat-icon class="resetButton" *ngIf="imageSrc4" (click)="deleteImage('4')">close</mat-icon>
                        </div>
                        <div class="file_drop single_img fileDropSingle">
                            <!-- [class.required-error]="myForm.get('image_url5')?.invalid && myForm.get('image_url5')?.touched" -->
                            <input type='file' (change)="uploadImage($event,'5')" />
                            <img *ngIf="imageSrc5" class="imageFile" [src]="imageSrc5" alt="your image" height="50px"
                                width="50px" />
                            <mat-icon class="resetButton" *ngIf="imageSrc5" (click)="deleteImage('5')">close</mat-icon>
                        </div>
                    </div>
                </div>
            </div>
            <h2 class="label_for_margin mt-20 pb-20">{{'VEHICLE_CREATE.VEHICLE_DETAIL' |translate}}</h2>
            <div class="row_fields" fxLayout="row" fxLayoutGap="30px" fxLayout.xs="column" fxLayoutGap.xs="0px">
                <mat-form-field floatLabel="always" class="example-full-width" appearance="outline" fxFlex="50">
                    <mat-label>{{'VEHICLE_CREATE.CATEGORY' |translate}}</mat-label>
                    <mat-select placeholder="{{'VEHICLE_CREATE.CATEGORY' |translate}}"
                        formControlName="vehicleCategoryId" name="vehicleCategoryId"
                        (selectionChange)="onChangeCategory($event)">
                        <mat-option *ngFor="let category of vehicleCategory" [value]="category.id">
                            {{category.name}}
                        </mat-option>
                    </mat-select>
                    <mat-error
                        *ngIf="myForm.controls['vehicleCategoryId']?.errors?.['required']">{{'ERROR_MSG.CATEGORY_REQ'|translate}}</mat-error>
                </mat-form-field>
                <mat-form-field floatLabel="always" class="example-full-width" appearance="outline" fxFlex="50">
                    <mat-label>{{'VEHICLE_CREATE.TYPE' |translate}}</mat-label>
                    <mat-select formControlName="vehicleTypeId" placeholder="{{'VEHICLE_CREATE.TYPE' |translate}}"
                        name="vehicleTypeId">
                        <mat-option *ngFor="let type of vehicleType" [value]="type.id">
                            {{type.name}}
                        </mat-option>
                    </mat-select>
                    <mat-error
                        *ngIf="myForm.controls['vehicleTypeId']?.errors?.['required']">{{'ERROR_MSG.TYPE_REQ'|translate}}</mat-error>
                </mat-form-field>
            </div>

            <div class="row_fields" fxLayout="row" fxLayoutGap="30px" fxLayout.xs="column" fxLayoutGap.xs="0px">
                <mat-form-field floatLabel="always" class="example-full-width" appearance="outline" fxFlex="50">
                    <mat-label>{{'VEHICLE_CREATE.BRAND' |translate}}</mat-label>
                    <mat-select formControlName="vehicleBrandId" placeholder="{{'VEHICLE_CREATE.BRAND' |translate}}"
                        name="vehicleBrandId" required>
                        <mat-option *ngFor="let brand of vehicleBrand" [value]="brand.id">
                            {{brand.name}}
                        </mat-option>
                    </mat-select>
                    <mat-error
                        *ngIf="myForm.controls['vehicleBrandId']?.errors?.['required']">{{'ERROR_MSG.BRAND_REQ'|translate}}</mat-error>
                </mat-form-field>
                <mat-form-field floatLabel="always" class="example-full-width" appearance="outline" fxFlex="50">
                    <mat-label>{{'VEHICLE_CREATE.MODEL' |translate}}</mat-label>
                    <input matInput placeholder="{{'VEHICLE_CREATE.MODEL' |translate}}" name="model"
                        formControlName="model" required>
                    <mat-error
                        *ngIf="myForm.controls['model']?.errors?.['required']">{{'ERROR_MSG.MODEL_REQ'|translate}}</mat-error>
                </mat-form-field>
            </div>

            <div class="row_fields" fxLayout="row" fxLayoutGap="30px" fxLayout.xs="column" fxLayoutGap.xs="0px">
                <mat-form-field floatLabel="always" class="example-full-width" appearance="outline" fxFlex="50">
                    <mat-label>{{'VEHICLE_CREATE.NO_OF_DOOR' |translate}}</mat-label>
                    <input matInput placeholder="{{'VEHICLE_CREATE.NO_OF_DOOR' |translate}}" type="number" min="0"
                        name="noOfDoors" formControlName="noOfDoors" required>
                    <mat-error
                        *ngIf="myForm.controls['noOfDoors']?.errors?.['required']">{{'ERROR_MSG.NO_DOORS_REQ'|translate}}</mat-error>
                </mat-form-field>
                <mat-form-field floatLabel="always" class="example-full-width" appearance="outline" fxFlex="50">
                    <mat-label>{{'VEHICLE_CREATE.AGENCY' |translate}}</mat-label>
                    <mat-select placeholder="{{'VEHICLE_CREATE.AGENCY' |translate}}" formControlName="agencyId"
                        name="agencyId" required>
                        <mat-option *ngFor="let agency of Agencies" [value]="agency.id">
                            {{agency.name}}
                        </mat-option>
                    </mat-select>
                    <mat-error
                        *ngIf="myForm.controls['agencyId']?.errors?.['required']">{{'ERROR_MSG.AGENCY_REQ'|translate}}</mat-error>
                </mat-form-field>
            </div>

            <div class="row_fields" fxLayout="row" fxLayoutGap="30px" fxLayout.xs="column" fxLayoutGap.xs="0px">
                <mat-form-field floatLabel="always" class="example-full-width" appearance="outline" fxFlex="50">
                    <mat-label>{{'VEHICLE_CREATE.REGISTRATION' |translate}}</mat-label>
                    <input matInput name="registrationNo" formControlName="registrationNo" required
                        placeholder="{{'VEHICLE_CREATE.REGISTRATION' |translate}}">
                    <mat-error
                        *ngIf="myForm.controls['registrationNo']?.errors?.['required']">{{'ERROR_MSG.REGISTRATION_REQ'|translate}}</mat-error>
                </mat-form-field>

                <mat-form-field floatLabel="always" class="example-full-width" appearance="outline" fxFlex="50">
                    <mat-label>{{'VEHICLE_CREATE.YEAR_REGISTRATION' |translate}}</mat-label>
                    <mat-select placeholder="{{'VEHICLE_CREATE.YEAR_REGISTRATION' |translate}}"
                        formControlName="yearOfRegistration" name="yearOfRegistration" required>
                        <mat-option *ngFor="let year of yearsArray" [value]="year">{{year}}
                        </mat-option>
                    </mat-select>
                    <mat-error
                        *ngIf="myForm.controls['yearOfRegistration']?.errors?.['required']">{{'ERROR_MSG.YEAR_REG_REQ'|translate}}</mat-error>
                </mat-form-field>
            </div>

            <div class="row_fields" fxLayout="row" fxLayoutGap="30px" fxLayout.xs="column" fxLayoutGap.xs="0px">
                <mat-form-field floatLabel="always" class="example-full-width" appearance="outline" fxFlex="50">
                    <mat-label>{{'VEHICLE_CREATE.MOTORIZATION' |translate}}</mat-label>
                    <mat-select placeholder="{{'VEHICLE_CREATE.MOTORIZATION' |translate}}" name="motorization"
                        formControlName="motorization" (selectionChange)="updateMotorization($event.value)" required>
                        <mat-option *ngFor="let key of getMotorizationKey()" [value]="motorization[key]">
                            {{key}}
                        </mat-option>
                    </mat-select>
                    <mat-error
                        *ngIf="myForm.controls['motorization']?.errors?.['required']">{{'ERROR_MSG.MOTORIZATION_REQ'|translate}}</mat-error>
                </mat-form-field>
                <mat-form-field floatLabel="always" class="example-full-width" appearance="outline" fxFlex="50">
                    <mat-label>{{'VEHICLE_CREATE.GEAR_BOX' |translate}}</mat-label>
                    <mat-select placeholder="{{'VEHICLE_CREATE.GEAR_BOX' |translate}}" formControlName="gearBox"
                        name="gearBox" (selectionChange)=" updateSelectedGearBox($event.value)" required>
                        <mat-option *ngFor="let key of getGearBoxKeys()" [value]="gearBox[key]">
                            {{gearBox[key]}}
                        </mat-option>
                    </mat-select>
                    <mat-error
                        *ngIf="myForm.controls['gearBox']?.errors?.['required']">{{'ERROR_MSG.GEARBOX_REQ'|translate}}</mat-error>
                </mat-form-field>
            </div>

            <div class="row_fields" fxLayout="row" fxLayoutGap="30px" fxLayout.xs="column" fxLayoutGap.xs="0px">
                <mat-form-field floatLabel="always" class="example-full-width" appearance="outline" fxFlex="50">
                    <mat-label>{{'VEHICLE_CREATE.NO_OF_SEAT' |translate}}</mat-label>
                    <input matInput type="number" min="0" placeholder="{{'VEHICLE_CREATE.NO_OF_SEAT' |translate}}"
                        name="noOfSeats" formControlName="noOfSeats" required>
                    <mat-error
                        *ngIf="myForm.controls['noOfSeats']?.errors?.['required']">{{'ERROR_MSG.NO_SEAT_REQ'|translate}}</mat-error>
                </mat-form-field>
                <mat-form-field floatLabel="always" class="example-full-width" appearance="outline" fxFlex="50">
                    <mat-label>{{'VEHICLE_CREATE.Mileage' |translate}}</mat-label>
                    <input matInput placeholder="KM" formControlName="mileage" name="mileage" required>
                    <mat-error
                        *ngIf="myForm.controls['mileage']?.errors?.['required']">{{'ERROR_MSG.MILEAGE_REQ'|translate}}</mat-error>
                </mat-form-field>
            </div>

            <h4 class="label_for_margin pb-20">{{'VEHICLE_CREATE.INFORMATION_MOT' |translate}}</h4>

            <div class="row_fields" fxLayout="row" fxLayoutGap="30px" fxLayout.xs="column" fxLayoutGap.xs="0px">
                <mat-form-field floatLabel="always" class="example-full-width" appearance="outline" fxFlex="50">
                    <mat-label>{{'VEHICLE_CREATE.LAST_INSPECTION' |translate}}</mat-label>
                    <input matInput [matDatepicker]="picker" [max]="maxDate"
                        placeholder="{{'VEHICLE_CREATE.LAST_INSPECTION' |translate}}" name="lastInspectionDate"
                        formControlName="lastInspectionDate" required>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error
                        *ngIf="myForm.controls['lastInspectionDate']?.errors?.['required']">{{'ERROR_MSG.INSPECTION_REQ'|translate}}</mat-error>
                </mat-form-field>
                <mat-form-field floatLabel="always" class="example-full-width" appearance="outline" fxFlex="50">
                    <mat-label>{{'VEHICLE_CREATE.LAST_REVISION' |translate}}</mat-label>
                    <input matInput [matDatepicker]="picker1"
                        placeholder="{{'VEHICLE_CREATE.LAST_REVISION' |translate}}" formControlName="lastRevisionDate"
                        name="lastRevisionDate" [max]="maxDate" required>
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                    <mat-error
                        *ngIf="myForm.controls['lastRevisionDate']?.errors?.['required']">{{'ERROR_MSG.REVISION_REQ'|translate}}</mat-error>
                </mat-form-field>

            </div>

            <h4 class="label_for_margin">{{'VEHICLE_CREATE.TECH_VEHICLE_OPT' |translate}}</h4>

            <div fxLayout="row" fxLayoutGap="20px" fxLayout.xs="column" fxLayoutGap.xs="0px">
                <mat-checkbox (change)="updateFeature('Gps', $event)"
                    [checked]="myForm.value.vehicleFeatures['Gps'] === 'yes'">{{'VEHICLE_CREATE.GPS'
                    |translate}}</mat-checkbox>
                <mat-checkbox (change)="updateFeature('Reversing_Radar', $event)"
                    [checked]="myForm.value.vehicleFeatures['Reversing_Radar'] === 'yes'">{{'VEHICLE_CREATE.REVERSE_RADAR'
                    |translate}}</mat-checkbox>
                <mat-checkbox (change)="updateFeature('Bluetooth', $event)"
                    [checked]="myForm.value.vehicleFeatures['Bluetooth'] === 'yes'">{{'VEHICLE_CREATE.BLUETOOTH'
                    |translate}}</mat-checkbox>
                <mat-checkbox (change)="updateFeature('Air_Conditioner', $event)"
                    [checked]="myForm.value.vehicleFeatures['Air_Conditioner'] === 'yes'">{{'VEHICLE_CREATE.AIR_CONDITIONER'
                    |translate}}</mat-checkbox>
                <mat-checkbox (change)="updateFeature('isofix_Seat', $event)"
                    [checked]="myForm.value.vehicleFeatures['isofix_Seat'] === 'yes'">{{'VEHICLE_CREATE.ISO_SEAT'
                    |translate}}</mat-checkbox>
            </div>

            <mat-error *ngIf="atLeastOneCheckedValidator() && checkboxValid">
                {{'ERROR_MSG.CHECK_ONE'|translate}}
            </mat-error>

            <h4 class="label_for_margin pt-20">{{'VEHICLE_CREATE.VEHICLE_DOCUMENT' |translate}}</h4>
            <p>{{'VEHICLE_CREATE.MAX_IMAGE' |translate}}</p>

            <div class="multiImageUpload">
                <div *ngIf="multiImage.length < 4" fxLayout="row" fxLayoutGap="15px"
                    class="row_fields file_drop multiple_img fileDropMultiple">
                    <!-- [class.required-error]="myForm.get('image_url6')?.invalid && myForm.get('image_url6')?.touched" -->
                    <input type="file" #fileInput multiple (change)="onFileChange($event)">
                </div>
                <div *ngFor="let img of multiImage ;let i=index" class="imageMultiParent">
                    <mat-icon class="deleteImg" (click)="deleteMultiImage(i)" *ngIf="img">close</mat-icon>
                    <img class="imageFile" [src]="img" alt="your image" height="50px" width="50px" />
                </div>
            </div>

            <h4 class="label_for_margin pb-10 mt-10">{{'VEHICLE_CREATE.RATE' |translate}}</h4>

            <div class="row_fields" fxLayout="row" fxLayoutGap="30px" fxLayout.xs="column" fxLayoutGap.xs="0px">
                <mat-form-field floatLabel="always" class="example-full-width" appearance="outline" fxFlex="50">
                    <mat-label>{{'VEHICLE_CREATE.AMOUNT' |translate}}</mat-label>
                    <input matInput name="ratePerDay" placeholder="{{'VEHICLE_CREATE.AMOUNT' |translate}}"
                        formControlName="ratePerDay" required>
                    <mat-error
                        *ngIf="myForm.controls['ratePerDay']?.errors?.['required']">{{'ERROR_MSG.AMOUNT_REQ'|translate}}</mat-error>
                </mat-form-field>
            </div>

            <h4 class="label_for_margin mb-20">{{'VEHICLE_CREATE.RENTAL_PERIOD' |translate}}</h4>

            <div class="row_fields" fxLayout="row" fxLayoutGap="30px" fxLayout.xs="column" fxLayoutGap.xs="0px">
                <mat-form-field floatLabel="always" class="example-full-width" appearance="outline" fxFlex="50">
                    <mat-label>{{'VEHICLE_CREATE.MIN_DAYS' |translate}}</mat-label>
                    <input matInput placeholder="{{'VEHICLE_CREATE.MIN_DAYS' |translate}}" formControlName="miniMumDay"
                        type="number" min="0" name="miniMumDay" required>
                    <mat-error
                        *ngIf="myForm.controls['miniMumDay']?.errors?.['required']">{{'ERROR_MSG.MIN_DAYS_REQ'|translate}}</mat-error>
                </mat-form-field>

                <mat-form-field floatLabel="always" class="example-full-width" appearance="outline" fxFlex="50">
                    <mat-label>{{'VEHICLE_CREATE.MAX_DAYS' |translate}}</mat-label>
                    <input matInput placeholder="{{'VEHICLE_CREATE.MAX_DAYS' |translate}}" name="maxiMumDay"
                        type="number" min="0" formControlName="maxiMumDay" required>

                    <mat-error
                        *ngIf="myForm.controls['maxiMumDay'].errors?.['maxDaysValidator']">{{'ERROR_MSG.MAX_DAY_GREATER'
                        | translate}}</mat-error>

                    <mat-error
                        *ngIf="myForm.controls['maxiMumDay']?.errors?.['required']">{{'ERROR_MSG.MAX_DAYS_REQ'|translate}}</mat-error>
                </mat-form-field>

            </div>

            <h4 class="label_for_margin">{{'VEHICLE_CREATE.VEHICLE_STATUS' |translate}}</h4>
            <ng-toggle [value]="toggleValue" formControlName="status"></ng-toggle>

            <div class="button_field" fxLayout="row" fxLayoutGap.xs="10px" *ngIf="!viewId">
                <button class="btn" mat-button (click)="back()">{{'SHARE.CANCEL' | translate}} </button>
                <button class="button" mat-button (click)="submit()">{{ id ? ('SHARE.UPDATE' | translate) :
                    ('SHARE.SAVE' | translate) }}</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>